.loading_overlay {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background-color: var(--color-overlay-insert-update-modal);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
}
