.board {
  min-height: max-content;
}

.column {
  /* overflow: hidden;
  position: relative; */
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* transition: all 0.3s ease; */
  /* background-color: var(--color-bg-sub); */
  /* テスト */
  /* background-color: var(--color-column-bg); */
  padding: 0 15px;
  min-width: 254px;
  border-left: 2px solid var(--color-border-base);
  transition: all 0.3s ease;
  /* box-shadow: var(--color-column-border-active); */
  /* padding: 15px; */
  /* padding: 15px 15px 0 15px;
  min-width: 254px;
  border-radius: 9px;
  height: fit-content;
  transition: height 0.3s ease, min-height 0.3s ease, max-height 0.3s ease; */
  /* テスト */
  height: 0%;
}
.column.is_mount {
  height: 100%;
}
.column.animate {
  animation: fadeDown 0.5s 0.5s ease forwards;
}
@keyframes fadeDown {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.column.last {
  border-right: 2px solid var(--color-border-base);
  /* border-left: 2px solid var(--color-bg-brand-f); */
}
.column.active {
  border-left: 2px solid var(--color-column-sideborder-active);
}
.column.active + .column:not(.active) {
  border-left: 2px solid var(--color-column-sideborder-active);
}
.column.active.last {
  border-right: 2px solid var(--color-column-sideborder-active);
}

.column.award {
}

.column .title_area {
  user-select: none;
  font-family: "Hiragino Sans", sans-serif, Roboto, system-ui;
}
.column .title_area {
  user-select: none;
  font-family: "Hiragino Sans", sans-serif, Roboto, system-ui;
}
.column .title_area .award {
  color: var(--color-award);
}
.column .title_area .eighty {
  color: var(--color-eighty);
}
.column .title_area .fifty {
  color: var(--color-fifty);
  /* color: rgb(30, 209, 102); */
}
.column .title_area .thirty {
  color: var(--color-thirty);
  /* color: rgb(23, 158, 230); */
  /* color: #017afc; */
  color: #0d82ff;
  /* color: #2b7fff; */
  /* color: #0d99ff; */
}
.column .column_lane {
  background-color: rgb(38 38 38 / 0);
  /* background-color: rgba(177, 255, 196, 1); */
  /* background-color: var(--color-column-lane-active); */
}
.column.active .column_lane {
  /* background-color: var(--color-bg-brand-f20); */
  /* background-color: var(--color-column-lane-active); */
  background-color: var(--color-column-lane-active);
}
.column .column_lane.active {
  /* background-color: rgb(38 38 38 / 0.6); */
  /* background-color: var(--color-column-lane-active); */
  background-color: var(--color-bg-brand-f20);
}
.column .column_lane .row_card {
  color: var(--color-card-text);
  /* color: rgba(255, 0, 0, 0.9); */
  background-color: var(--color-card-bg);
  /* background-color: rgba(255, 117, 117, 0.2); */
  /* background-color: var(--color-bg-sub-re); */
  /* border-color: rgb(64 64 64 / 1); */
  border-color: var(--color-card-border);
  /* border-color: rgb(239 68 68 / 1); */
  /* border-color: var(--color-bg-brand-f); */
  box-shadow: var(--card-shadow);
  user-select: none;
  opacity: 0;
}
.column .column_lane .row_card:hover {
  border-color: var(--color-bg-brand-f);
  background-color: var(--color-bg-brand-f20);
  /* border-color: var(--vivid-green); */
  /* border-color: var(--bright-green); */
  /* border-color: var(--color-bg-brand); */
  /* border-color: var(--color-bg-brand-sub); */
}
.column .column_lane .row_card.is_dragging {
  /* scale: 1.05; */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  /* background: rgb(50, 50, 50); */
  /* background: linear-gradient(to bottom left, #0affffc0, #0abeffc0, #0066ffc0); */
  background: var(--color-card-dragging-bg);
  opacity: 0.1;
  /* box-shadow: 0 0 0 1px var(--color-bg-brand-f); */
  border-color: var(--color-bg-brand-f);
  color: #ffffff;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.column .column_lane .row_card.fade_in {
  animation: fadeIn 0.5s 0.5s ease forwards;
}
.column .column_lane .row_card.is_mount {
  /* opacity: 1; */
  opacity: 0;
  animation: fadeIn 0.5s 0.1s ease forwards;
}
.column .column_lane .drop_indicator {
  opacity: 0;
  pointer-events: none;
}
.column .column_lane .drop_indicator.active {
  opacity: 1;
  /* background-color: rgb(167 139 250 / 1); */
  /* background-color: #3ecf8e; */
  /* background-color: var(--bright-green); */
  /* background-color: var(--vivid-green); */
  /* background-color: #00ff40;
  background-color: #ff3b5b; */
  /* background-color: var(--color-bg-brand); */
  /* background-color: #063c13; */
  background-color: var(--color-drop-indicator-active);
}
.spacer {
  transition: height 0.3s ease;
  pointer-events: none;
}

/* addボタン */
.add_btn {
  user-select: none;
}

/* ゴミ箱 */
.barrel {
  /* color: rgb(115 115 115 / 1);
  background-color: rgb(115 115 115 / 0.2);
  border: 1px solid rgb(115 115 115 / 1); */
  color: var(--color-barrel-text);
  background-color: var(--color-barrel-bg);
  border: 1px solid var(--color-barrel-border);
  margin-left: 15px;
}

.barrel.active {
  /* background-color: rgb(153 27 27 / 0.2);
  color: rgb(239 68 68 / 1);
  border: 1px solid rgb(153 27 27 / 1); */
  color: var(--color-barrel-text-active);
  background-color: var(--color-barrel-bg-active);
  border: 1px solid var(--color-barrel-border-active);
}

.fire_icon {
  display: none;
}
.fire_icon.active {
  display: block;
}
.trash_icon {
  display: block;
}
.trash_icon.active {
  display: none;
}

/* Addカード */
.board .add_textarea {
  width: 100%;
  resize: none;
  border-radius: 4px;
  /* border: 1px solid rgb(167 139 250 / 1);
  background-color: rgb(167 139 250 / 0.2); */
  /* border: 1px solid var(--color-bg-brand-f);
  background-color: var(--color-bg-brand-f30); */
  border: 1px solid var(--bright-green);
  background-color: var(--bright-green29);
  color: rgb(250 250 250 / 1);
  padding: 12px;
  font-size: 14px;
  line-height: 20px;
}
.board .add_textarea::placeholder {
  /* color: rgb(196 181 253 / 1); */
  /* color: #0ab5ff; */
  /* color: #66bfff; */
  /* color: #80caff; */
  /* color: #38dc61; */
  color: #56e67a;
}
.board .add_textarea:focus {
  outline-width: 0px;
}

/* 編集モーダル */
.board .edit_modal_overlay {
  position: absolute;
  z-index: 1000;
  inset: 0;
  width: 100vw;
  height: 100vh;
  /* backdrop-filter: blur(0px); */
  /* background-color: #00000000; */
  backdrop-filter: blur(6px);
  background-color: #00000033;
  /* background-color: #ff000030; */
}
.board .edit_modal {
  position: absolute;
  z-index: 1500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  /* padding: 24px; */
  height: auto;
  width: auto;
  /* max-height: 120px;
  max-width: 120px; */
  /* min-height: 120px;
  min-width: 120px; */
}
.edit_modal .close_btn {
  position: absolute;
  right: 18px;
  top: 18px;
  height: 29px;
  width: 29px;
  border: 2px solid var(--color-text-title-black);
}
.board .edit_modal .container {
  position: relative;
  color: var(--color-text-title-black);
  background-color: #fff;
  border-radius: 6px;
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.board .edit_modal .container .title_area {
  display: flex;
  width: 100%;
}
.board .edit_modal .container .title_area .icon_area {
  height: 100%;
  display: flex;
  justify-content: flex-start;
}
.board .edit_modal .container .title_area .contents_area {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.board .edit_modal .container .title_area .contents_area .title {
}
.board .edit_modal .container .description_area {
  display: flex;
  width: 100%;
  height: 120px;
  max-height: 120px;
}
.board .edit_modal .container .description_area .section_title {
  min-height: 36px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
}
.board .edit_modal .container .description_area .sub_title {
  min-height: 36px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
}
.board .edit_modal .container .description_area .contents_area {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 18px;
}
.board .edit_modal .container .description_area .contents_area .edit_textarea {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--color-bg-sub);
  border-radius: 9px;
}
.board .edit_modal .container .description_area .action_area {
  display: flex;
  flex-direction: column;
}
.board .edit_modal .container .description_area .action_area .edit_textarea {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  background-color: var(--color-bg-sub);
  border-radius: 9px;
}
