.loader1 {
  /* width: 48px;
  height: 48px; */
  width: var(--spinner-width);
  height: var(--spinner-height);
  border-radius: 50%;
  display: inline-block;
  border-top: var(--spinner-size) solid #00f2ea;
  border-right: var(--spinner-size) solid transparent;
  /* border-top: var(--spinner-size) solid #00f2ea;
  border-right: var(--spinner-size) solid transparent; */
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader1::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  /* width: 48px;
  height: 48px; */
  width: var(--spinner-width);
  height: var(--spinner-height);
  border-radius: 50%;
  /* border-bottom: var(--spinner-size) solid #0066ff; */
  border-bottom: var(--spinner-size) solid #0066ff;
  /* border-bottom: var(--spinner-size) solid #ff001e; */
  border-left: var(--spinner-size) solid transparent;
  /* border-bottom: var(--spinner-size) solid #ff0050;
  border-left: var(--spinner-size) solid transparent; */
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
