.app_header {
  /* height: 56px; */
  height: var(--header-height);
  width: 100%;
  max-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 16px;
  padding-right: 32px;
  display: flex;
  /* align-items: center; */
  align-items: center;
  justify-content: space-between;
  /* background: #333; */
  /* background: var(--color-bg-base); */
  background: var(--color-bg-base-header);
  /* background: #282828; */
  /* border-bottom: 1px solid var(--color-border); */
  box-shadow: var(--shadow-header);
  /* font-family: sans-serif; */
  /* transition: background 0.5s ease; */
}
.app_header.sdb {
  /* --color-bg-base-header: var(--color-bg-base-header-sdb);
  --color-bg-base: var(--color-bg-base-header-sdb);
  --color-bg-sub-re: #404040;
  --color-bg-sub: #404040;
  --shadow-header: var(--shadow-sidebar-dark); */
  /* background-color: var(--color-sdb-bg); */
  /* background-color: #171717; */
  --color-bg-base-header: var(--color-sdb-bg);
  --color-bg-base: var(--color-sdb-bg);
  /* background-color: var(--color-sdb-bg); */
  --shadow-header: var(--shadow-header-sdb);
  /* box-shadow: var(--shadow-sidebar); */
  border-bottom: 1px solid var(--color-border);
  background-color: transparent;
}
.app_header.sdb .sdb_icon {
  /* color: #fff; */
}
.app_header.sdb .arrow_overlay {
  /* background: var(--color-bg-base-header-sdb); */
  /* background: var(--color-sdb-bg); */
}
.app_header.sdb .icon_btn.sdb:hover {
  /* --color-bg-sub-re: rgba(64, 87, 109, 0.08);
  --color-bg-sub-re-hover: rgba(57, 76, 96, 0.15);
  --color-bg-sub-re: #404040;
  --color-bg-sub-re-hover: #555; */
  /* --color-bg-sub: #383838; */
  /* --color-bg-sub: rgba(64, 87, 109, 0.07); */
  background-color: var(--color-header-icon-btn);
}

.navList {
  width: 100%;
  /* max-width: 100px; */
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navList2 {
  width: 100%;
  max-width: 120px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.navbarItem {
  /* width: 50px; */
  /* padding: 5px 20px; */
  height: 100%;
  width: 100%;
  /* overflow: hidden;
  text-overflow: ellipsis; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-sub);
  /* font-weight: 400; */
  cursor: pointer;
  /* border-top-left-radius: 4px;
  border-top-right-radius: 4px; */
  /* background-color: aqua; */
  position: relative;
}

.navbarItem:hover {
  background-color: var(--color-bg-sub);
  color: var(--color-text);
  /* transition: background-color 0.2s ease, color 0.2s ease; */
}
.navbarItem.active {
  /* background: var(--color-bg-brand-f); */
  /* color: var(--color-text); */
  /* background-color: var(--color-bg-sub); */
  background-color: var(--color-bg-sub-re);
  /* color: var(--color-dashboard-header-text); */
  /* transition: background-color 0.5s ease; */
}
.navbarItem.active .active_underline {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  width: 100%;
  height: 3px;
  background: var(--color-bg-brand-f);
  /* background-image: var(--underline-gradient-cursor); */
  animation: fullWidthCenter 0.4s;
}
.navbarItem.active path {
  stroke: var(--color-bg-brand-f);
}
/* .navbarItem svg {
  color: var(--color-text-sub);
  stroke: var(--color-text-sub);
} */
.navbarItem path {
  stroke: var(--color-text-sub);
}

@keyframes fullWidthCenter {
  0% {
    width: 0%;
    left: 50%;
    opacity: 0;
  }
  100% {
    width: 100%;
    left: 0%;
    opacity: 1;
  }
}

.navbarItemInner {
  /* padding: 5px 20px; */
  padding: 5px 18px;
  /* background: gray; */
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbarItemInner span {
  pointer-events: none;
  user-select: none;
  font-size: 12px;
}

.navList.normal .navbarItem {
  white-space: normal;
}
.navList.normal .navbarItem .navbarItemInner {
  padding: 5px 5px;
}

.navbarItem.active .navbarItemInner span {
  font-weight: 700;
  color: var(--color-dashboard-header-text);
  /* animation: appearanceText 0.1s forwards; */
}
@keyframes appearanceText {
  0% {
    /* opacity: 0; */
    /* color: var(--color-text-sub); */
    /* color: var(--color-text); */
  }
  100% {
    /* opacity: 1; */
    color: var(--color-dashboard-header-text);
  }
}
@media screen and (min-width: 1920px) {
  /* iMacなどのより大きなモニターの1920px以上の画面幅に適用されるスタイル */
  /* 。一般的に、デスクトップモニター用のブレークポイントとしては、最低でも1280px以上が一般的ですが、より大きなモニター（例えばiMac）の場合、1920px以上やそれ以上の値を設定する */
  .navbarItemInner span {
    /* font-weight: 700; */
    font-size: 14px;
  }
}
@media screen and (max-width: 1439px) {
  /* iMacなどのより大きなモニターの1920px以上の画面幅に適用されるスタイル */
  /* 。一般的に、デスクトップモニター用のブレークポイントとしては、最低でも1280px以上が一般的ですが、より大きなモニター（例えばiMac）の場合、1920px以上やそれ以上の値を設定する */
  .navbarItemInner span {
    /* font-weight: 700; */
    font-size: 10px;
  }
}
.notice_outer {
  background: var(--color-bg-base);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 7px;
  z-index: 10;
}
.notice_inner {
  background: var(--color-red-tk);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

/* チェックボックス */
.grid_cell {
  /* width: 100%;
  height: 100%; */
  min-width: 24px;
  min-height: 24px;
  /* height: 73px; */
  /* padding: 16px 8px; */
  font-size: 13px;
  /* border-right: 1px solid var(--color-border-table); */
  display: flex;
  align-items: center;
  word-break: break-all;
}

.grid_select_cell_header {
  position: relative;
  display: flex;
  min-height: 24px;
  min-width: 24px;
  align-items: center;
  justify-content: center;
}

.grid_cell input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

  cursor: pointer;
  /*label手前にチェックボックス用の余白を開ける*/
  /* padding-left: 30px; */
  min-width: 18px;
  min-height: 18px;
  vertical-align: middle;
  position: relative;
  /* display: inline-block;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem; */
}

.grid_select_cell_header[aria-selected="true"] {
  box-shadow: inset 0 0 0 1px var(--border-theme);
}
.grid_cell input[type="checkbox"]:checked ~ svg {
  display: inline-block;
  opacity: 1;
}
.grid_select_cell_header svg {
  display: none;
  position: absolute;
  min-width: 18px;
  min-height: 18px;
  /* top: 9px;
  left: 14px; */
  top: 55%;
  left: 53%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}
.grid_select_cell_header.checked_area_input_cell .checked_area_input {
  min-width: 18px;
  min-height: 18px;
}
.grid_select_cell_header.checked_area_input_cell svg {
  min-width: 18px;
  min-height: 18px;
}

.grid_cell input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
}
.grid_cell input[type="checkbox"]::before {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid var(--color-setting-checkbox-outline);
  border-radius: 3px;
  /* margin-top: 2px; */
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  min-height: 18px;
  min-width: 18px;
  top: 0px;
  /* transform: translateY(-50%);
  top: 50%;
  left: 5px; */
}
.checked_area_input_cell input[type="checkbox"].checked_area_input::before {
  min-width: 18px;
  min-height: 18px;
}
.grid_cell input[type="checkbox"]:checked::before {
  /* background-color: #3fcf8e; */
  background-color: var(--checkbox-bg-color);
  border-radius: 3px;
}
.grid_cell input[type="checkbox"]:focus::before {
  /* outline: 2px solid #fff; */
  outline: 2px solid var(--color-table-checkbox-focus-outline);
  box-shadow: 0 0 3px 1px var(--color-bg-brand);
  /* outline-offset: 1px; */
  /* --tw-ring-color: var(--colors-brand5); */
  /* box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); */
}
.grid_cell input[type="checkbox"]:hover::before {
  /* border-color: #30a46c; */
  border-color: var(--border-theme-dark);
}
/* チェックボックス ここまで */

/* ----------------- SDB settings_menu ----------------- */
.menu_overlay {
  position: fixed;
  z-index: 3200;
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  /* background-color: #ffffff60; */
}
.menu_overlay.above_setting_menu {
  z-index: 3600;
}
@keyframes fade_up5 {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.settings_menu {
  z-index: 3500;
  /* background-color: var(--color-sign-out-bg); */
  /* background-color: #00000090; */
  background-color: #303030;
  /* box-shadow: inset 0px 0px 0px 1px #cccccc90, 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33; */
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
}
.settings_menu .scroll_container {
  max-height: 39vh;
}
.settings_menu .list {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list:hover {
  background-color: var(--color-bg-brand-f30);
}
.settings_menu .section_title {
  padding: 10px 20px 6px;
}
.settings_menu .section_title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.edit_btn {
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 7px 22px;
  border-radius: 8px;
}
.edit_btn:hover {
  background-color: #555;
}
.edit_btn.brand:hover {
  background-color: var(--color-bg-brand-f90);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
/* 説明ポッポアップ */
.description_menu {
  z-index: 3800;
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  background-color: #303030;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
  max-width: 400px;
  color: #fff;
}
.description_menu .title {
  padding: 20px 20px 0px;
}
.description_menu .title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.description_menu .u_list {
  margin: 5px 10px 10px;
}
.description_menu .u_list .dropdown_list_item {
  width: 100%;
  padding: 10px 14px;
  user-select: none;
}
.description_menu .change_menu {
  pointer-events: all;
}
.description_menu .grid {
  padding: 5px 5px 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.description_menu .grid .palette_cell {
}
.description_menu .grid .palette_cell .active_color {
  border-radius: 50%;
}
.description_menu .grid .palette_cell .space {
  background-color: #202020;
  border-radius: 50%;
  /* background-color: var(--color-bg-base); */
}
.description_menu .grid .palette_cell .space_inactive {
  background-color: transparent;
  border-radius: 50%;
}
.description_menu .grid .palette_cell .space_inactive:hover {
  background-color: var(--color-bg-brand-f);
  border-radius: 50%;
}
.description_menu .grid .palette_cell .active_color .color_option {
  cursor: not-allowed;
}
.description_menu .grid .palette_cell .color_option {
  border-radius: 50%;
  cursor: pointer;
  /* background-color: var(--color-bg-base); */
}
/* ----------------- SDB settings_menu ここまで ----------------- */
