.app_main_container {
  position: relative;
  /* z-index: 0; */
  /* margin-left: var(--sidebar-open-width); */

  background-color: var(--color-bg-base);
  color: var(--color-text);

  display: flex;
  /* width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: var(--header-height); */
  /* overflow-y: scroll;
  overflow-x: inherit; */
  /* font-family: "Hiragino Sans", sans-serif, Roboto, system-ui; */
  /* font-family: sans-serif, "Hiragino Sans", Roboto, system-ui; */
  /* font-family: sans-serif, "Hiragino Sans", Roboto, system-ui; */
}
.app_main_container.open {
  --sidebar-width: 240px;
}
.app_main_container.close {
  --sidebar-width: 72px;
}

.spacer_left {
  /* min-width: var(--sidebar-width); */
  min-width: 72px;
  height: 100vh;
}

.main_contents_wrapper {
  /* width: calc(100% - var(--sidebar-open-width)); */
  /* width: 100%; */
  width: calc(100vw - 72px);
  /* width: 100vw; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: inherit;
}
.spacer_top {
  min-height: var(--header-height);
  width: 100%;
}
.main_contents_container {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: inherit;
  background-color: var(--color-bg-dashboard);
  color: var(--color-text-title);
}

.screen1 {
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex: 1;
}
.company_table_screen {
  /* min-height: calc(100vh - var(--header-height)); */
  /* height: calc(100vh - var(--header-height)); */
  /* min-height: min-content; */
  width: 100%;
  /* background-color: var(--color-bg-base); */
  /* flex-grow: 1; */
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 20px 32px 0px 30px; */
  padding: 0px 32px 0px 30px;
  /* padding: 20px 20px 20px 20px; */
  /* 右側余白なし */
  /* padding: 20px 0px 20px 20px; */
  /* 左右余白あり */
  /* padding: 20px 20px 20px 20px; */
  /* 左右余白あり right 10px */
  /* padding: 20px 10px 20px 20px; */
}
.company_table_screen_pr {
  /* padding: 20px 10px 20px 20px; */
}

.company_screen_under_one_third {
  /* min-height: calc(100vh - var(--header-height)); */
  /* height: calc(100vh - var(--header-height)); */
  /* min-height: min-content; */
  width: 100%;
  /* background-color: var(--color-bg-base); */
  /* background: #ccc; */

  /* calc(画面サイズ - ヘッダー56px) - テーブルサイズ(calc() 上pt20px - 下pt20px) pt=padding-top */
  height: 100%;
  min-height: calc(100vh - var(--header-height) - calc(100vh / 3 - var(--header-height) / 3) - 20px - 20px);
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* 右側余白なし */
  padding: 20px 0px 0px 20px;
  /* 左右余白あり right 20px */
  /* padding: 20px 20px 0px 20px; */
  /* 左右余白あり right 10px */
  /* padding: 20px 10px 0px 20px; */

  /* 画面上下を固定 */
  /* overflow: hidden; */
}
.company_screen_under_half {
  /* min-height: calc(100vh - var(--header-height)); */
  /* height: calc(100vh - var(--header-height)); */
  /* min-height: min-content; */
  width: 100%;
  /* background-color: var(--color-bg-base); */
  /* min-height: calc(100vh - var(--header-height)); */
  /* -----------------------------🌟テスト🌟----------------------------- */
  /* -----------------------------パターン1 ハーフとオールで全体表示 */
  /* height: 100%; */
  /* -----------------------------パターン2 */
  height: 100%;
  min-height: calc(100vh - var(--header-height) - calc(100vh / 3 - var(--header-height) / 3) - 20px - 20px);
  /* -----------------------------🌟テスト🌟----------------------------- */
  /* background: #ccc; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* 右側余白なし */
  /* padding: 20px 0px 0px 20px; */
  /* 左右余白あり */
  /* padding: 20px 20px 0px 20px; */
  /* 左右余白あり right 10px */
  padding: 20px 10px 0px 20px;

  /* 画面上下を固定 */
  /* overflow: hidden; */
}

.company_screen_under_all {
  /* min-height: calc(100vh - var(--header-height)); */
  /* height: calc(100vh - var(--header-height)); */
  /* min-height: min-content; */
  width: 100%;
  /* background-color: var(--color-bg-base); */
  height: 100%;
  /* ヘッダー除いた画面サイズ */
  /* min-height: calc(100vh - var(--header-height)); */
  /* 画面下のサイズのみ */
  min-height: calc(100vh - var(--header-height) - calc(100vh / 3 - var(--header-height) / 3) - 20px - 20px);
  /* background: #ccc; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* 右側余白なし */
  /* padding: 20px 0px 0px 20px;  */
  /* 左右余白あり */
  /* padding: 20px 20px 0px 20px; */
  /* 左右余白あり right 10px */
  padding: 20px 10px 0px 20px;

  /* 画面上下を固定 */
  /* overflow: hidden; */
}

.all_container {
  height: calc(100vh - var(--header-height));
  /* max-height: calc(100vh - var(--header-height)); */
}

.overlay {
  position: fixed;
  z-index: 500;
  inset: 0;
  /* background-color: #00000090; */
}

.company_container {
  font-family: "Hiragino Sans", sans-serif, Roboto, system-ui;
  font-family: sans-serif, "Hiragino Sans", Roboto, system-ui;
}

.content_card {
  /* background: #1e1f22; discord */
  background: var(--color-bg-sub-re);
  cursor: pointer;
}
.content_card:hover {
  background: var(--color-bg-sub-re-hover);
}

/* サイドバー表示中のオーバーレイ */
.sidebar_overlay {
  position: absolute;
  z-index: 50;
  inset: 0;
  background-color: var(--color-sidebar-open-overlay-dark);
  opacity: 0;
  animation: fade 0.3s 0.1s ease forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.title_area {
  /* position: sticky;
  top: 0px; */
  padding: 20px 0 16px;
}
.title_area .title {
  font-size: 24px;
  font-weight: 700;
}

.title_area .btn {
  /* min-height: 36px; */
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.title_area .btn.basic {
  background-color: var(--color-btn-basic-bg);
  box-shadow: 0 0 0 1px var(--color-border-base);
}
.title_area .btn.basic:hover {
  background-color: var(--color-btn-basic-bg-hover);
  color: var(--color-btn-basic-text-hover);
}
.title_area .btn.brand {
  /* box-shadow: 0 0 0 1px var(--color-border-base); */
  background-color: var(--color-bg-brand-f);
  color: #fff;
}
.title_area .btn.brand:hover {
  background-color: var(--color-bg-brand-f-deep);
}
.section_title_underline_bg {
  background-color: var(--color-tab-underline);
}
.section_title_underline {
  transition: left 0.4s ease, width 0.4s ease;
}

.tab_area {
}
.tab_area .title_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  min-width: max-content;
  color: var(--color-text-sub);
  font-size: 13px;
}
.tab_area .title_wrapper:hover {
  color: var(--color-text-title);
  cursor: pointer;
}
.tab_area .title_wrapper.active {
  cursor: unset;
  color: var(--color-text-brand-f);
}

.entity_tab_area {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.entity_tab_container_left {
  position: relative;
  display: flex;
  width: max-content;
  min-width: max-content;
}
.entity_tab {
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background: var(--color-btn-basic-bg);
  background: transparent;

  box-shadow: 0 0 0 1px var(--color-border-base);
}
.entity_tab.active {
  background: var(--color-bg-brand-f10);
  background: #fff;
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}

/* メインエリア */
.main_section_container {
  width: calc(100vw - 72px);
  /* width: 100vw; */
  overflow-x: hidden;
  transition: margin 0.5s ease;
}
.main_section_area {
  transition: transform 0.5s ease, opacity 0.5s ease, margin 0.5s ease;
}

/* ---------------------------------- settings_menu ---------------------------------- */
/* オーバーレイ */
.menu_overlay {
  position: fixed;
  z-index: 3200;
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  /* background-color: #ffffff60; */
}
.menu_overlay.above_setting_menu {
  z-index: 3600;
}
.menu_overlay.edit_mode {
  z-index: 3700;
  /* background-color: #00000030; */
}

@keyframes fade_up5 {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade_down5 {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------------- セッティングメニュー ---------------------------- */
.settings_menu li::marker {
  content: "";
}
.settings_menu {
  z-index: 3500;
  /* background-color: #303030; */
  /* background-color: #242424; */
  background-color: var(--color-settings-menu-bg);
  /* box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33; */
  box-shadow: var(--color-setting-menu-shadow);
  backdrop-filter: blur(6px);
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
}
.settings_menu.fade_up {
  animation: fade_up5 0.3s ease forwards;
}
.settings_menu.fade_down {
  animation: fade_down5 0.3s ease forwards;
}
.settings_menu.fade {
  animation: fade5 0.3s ease forwards;
}
.settings_menu.edit_mode {
  z-index: 4500;
}

.settings_menu .scroll_container {
  max-height: 39vh;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.settings_menu .list {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list:last-of-type {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.settings_menu .list.select_list {
  min-height: 50px;
  margin-bottom: 3px;
}
.settings_menu .list.select_list:last-of-type {
  margin-bottom: 0px;
}
.settings_menu .list.select_list:hover {
  background-color: var(--color-bg-brand-f40);
}
.settings_menu .list.select_list.active {
  background-color: var(--color-bg-brand-f);
  cursor: default;
}
.settings_menu .list.select_list.active:hover {
  cursor: default;
}
.settings_menu .list.select_list .list_icon {
  min-width: 18px;
  min-height: 18px;
  font-size: 18px;
}
.settings_menu .list.select_list:hover {
  cursor: pointer;
}
.settings_menu .list:hover {
  background-color: var(--color-bg-brand-f30);
}
.settings_menu .list.not_hoverable:hover {
  background-color: unset;
}
.settings_menu .list .select_item {
  font-size: 14px;
}

.settings_menu .list .icon_container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}
.settings_menu .list.btn_area {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list.btn_area:hover {
  background-color: transparent;
}
.settings_menu .list.btn_area .edit_btn {
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 7px 22px;
  border-radius: 8px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.settings_menu .list.btn_area .edit_btn.brand {
  color: #999;
  background-color: #393939;
  cursor: not-allowed;
}
.settings_menu .list.btn_area .edit_btn.brand:hover {
  box-shadow: none;
}
.settings_menu .list.btn_area .edit_btn.cancel:hover {
  background-color: #555;
}
.settings_menu .list.btn_area .edit_btn.brand.active {
  color: #fff;
  background-color: var(--color-bg-brand-f90);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
  cursor: pointer;
}
.settings_menu .list.btn_area .edit_btn.brand.active:hover {
  color: #fff;
  background-color: var(--color-bg-brand-f);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
.settings_menu .list.edit_mode {
  cursor: pointer;
}
.settings_menu .list.edit_mode span {
  min-width: 48px;
  /* text-align: center; */
}
.settings_menu .list.edit_mode.active {
  background-color: var(--color-bg-brand-f);
}
.settings_menu .list.edit_mode.active:hover svg {
  color: #fff;
}
.settings_menu .list.edit_mode.active .working_day {
  color: #00d436;
}
.settings_menu .list.edit_mode.active .closing_day {
  color: var(--main-color-tk);
}
.settings_menu .list.edit_mode:hover .arrow_icon {
  color: var(--color-bg-brand-f);
}
.settings_menu .list.edit_mode:hover .working_day {
  color: #00d436;
}
.settings_menu .list.edit_mode:hover .closing_day {
  color: var(--main-color-tk);
}

.settings_menu .section_title {
  padding: 15px 20px 6px;
}
.settings_menu .section_title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.settings_menu .description_section_title {
  padding: 20px 20px 0px;
}
.settings_menu .description_section_title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}

.description_list_item {
  width: 100%;
  padding: 10px 20px;
  user-select: none;
  white-space: pre-wrap;
  font-size: 12px;
}
/* .description_list_item:first-of-type {
  margin-top: 10px;
}
.description_list_item:last-of-type {
  margin-bottom: 10px;
} */
.settings_menu .section_underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.settings_menu .list.test:nth-of-type(odd) {
  /* background-color: #fff; */
}
.settings_menu .list.test:nth-of-type(even) {
  /* background-color: #333; */
}
/* ============ inputスライダー ============ */
.settings_menu input[type="range"] {
  position: relative;
  height: 4px;
  /* max-width: 75px; */
  max-width: 120px;
  /* デフォルトのスライダーを消してカスタムに変更 */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  background: linear-gradient(to right, #0d99ff 50%, #999 50%);
  background: var(--linear-gradient);
}
.settings_menu input[type="range"].input_range::-webkit-slider-runnable-track {
  height: 4px;
}
.settings_menu input[type="range"].input_range::-moz-range-track {
  height: 4px;
}
/* Thumbのスタイル */
.settings_menu input[type="range"].input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #0d99ff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}
.settings_menu input[type="range"].input_range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #0d99ff;
  cursor: pointer;
  border-radius: 50%;
}
/* Firefoxでのバーの背景色を変更 */
.settings_menu input[type="range"]::-moz-focus-outer {
  border: 0;
}
.settings_menu input[type="range"]::after {
  /* content: "16"; */
  content: attr(data-text);
  position: absolute;
  top: -28px;
  right: 0;
  /* top: 50%; */
  /* left: -35px; */
  /* transform: translateY(-50%); */
  font-size: 13px;
  color: #fff;
}
/* ============ inputスライダー ============ */
/* ---------------------------- セッティングメニュー ---------------------------- */
/* ---------------------------- 説明メニュー ---------------------------- */
.description_menu {
  /* box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33; */
  box-shadow: var(--color-setting-menu-shadow);
  /* background-color: var(--color-black-bg); */
  /* background-color: #303030; */
  background-color: var(--color-settings-menu-bg);
  /* background-color: var(--color-settings-menu-bg-reversible); */
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
  max-width: 400px;
  color: #fff;
}
.description_menu .title {
  padding: 20px 24px 0px;
}
.description_menu .title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.description_menu .u_list {
  margin: 5px 10px 10px;
  /* box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f); */
  /* background-color: var(--color-black-bg-re); */
}

.description_menu .u_list .dropdown_list_item {
  width: 100%;
  padding: 10px 14px;
  user-select: none;
}

.list_title_wrapper {
  min-width: 106px;
  margin-right: 10px;
  pointer-events: none;
  display: flex;
  align-items: center;
}
.list_title {
  transform: translateX(-5%);
  opacity: 0;
  animation: fadeInRight 1s ease forwards;
}
@keyframes fadeInRight {
  0% {
    transform: translateX(-5%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.list_item_content {
}

.select_box {
  /* box-shadow: var(--color-bg-under-input-box-shadow);
  background: var(--color-bg-under-input); */
  box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
  /* background: #3c3c3c; */
  font-size: 14px;
  background-color: #484848;
  background-color: #393939;
  /* background-color: #424242; */
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.1s ease;
  min-height: 30px;
  /* min-width: 185px; */
  /* min-width: 120px; */
  /* max-width: 400px; */
  width: 100%;
  /* width: fit-content; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
.select_box:hover {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.select_box.both {
  background-color: var(--color-bg-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
}
.select_box.both:hover {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.select_btn_wrapper select {
  box-shadow: 0 0 0 1px var(--color-border-base);
  background-color: var(--color-btn-basic-bg);
  max-width: 300px;
  padding: 4px 24px 4px 12px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.select_btn_wrapper select:hover {
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
  background-color: var(--color-btn-basic-bg-hover);
  color: var(--color-btn-basic-text-hover);
}

.edit_btn {
  /* background-color: #ffffff20; */
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  /* box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000; */
  padding: 7px 22px;
  border-radius: 8px;
}
.edit_btn:hover {
  background-color: #555;
}
.edit_btn.brand:hover {
  background-color: var(--color-bg-brand-f90);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
  /* background-color: #d946ef;
  background-color: rgb(217 70 239);
  background-color: rgb(6 182 212);
  background-color: #06b6d4;
  background-color: #06b6d4;
  background-color: rgb(59 130 246);
  background-color: #3b82f6; */
}

/* アイコンボタン */
.icon_btn {
  min-width: 27px;
  min-height: 27px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: var(--color-bg-brand50); */
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand); */
  background-color: var(--color-bg-brand-f50);
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.icon_btn:hover {
  /* background-color: var(--color-bg-brand); */
  background-color: var(--color-bg-brand-f);
}

/* 説明アイコン用ping */
@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate_ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping15 {
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.animate_ping15 {
  animation: ping15 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
@keyframes ping14 {
  75%,
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.animate_ping14 {
  animation: ping14 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

/* ---------------------------- 説明メニュー ここまで ---------------------------- */

/* ---------------------------- UpsertTarget ---------------------------- */
.title_area.upsert {
  padding: 20px 0 0;
}
.title.upsert {
  font-size: 21px;
}
.contents_area {
  width: 100%;
  max-width: 100%;
  padding: 20px 32px 20px 30px;
  display: grid;
  /* row-gap: 20px; */
  /* row-gap: 10px; */
  row-gap: 0px;
}
.contents_area.upsert {
  /* padding: 12px 32px 20px 30px; */
  padding: 0px 32px 20px 30px;
}

.contents_area .grid_row {
  width: 100%;
  max-width: calc(100vw - 72px - 62px);
  /* max-width: calc(100vw - 62px); */
  display: grid;
  grid-template-columns: 1fr;
  /* column-gap: 20px; */
  column-gap: 20px;
}
/* .contents_area .grid_row:first-of-type {
  padding-top: 12px;
} */
.contents_area .grid_row {
  /* padding-top: 12px; */
  padding-top: 12px;
  padding-bottom: 12px;
}
.contents_area .grid_row.col1 {
  grid-template-columns: 1fr;
}
.contents_area .grid_row.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.contents_area .grid_row.col3 {
  grid-template-columns: repeat(3, 1fr);
}
.contents_area .grid_row .grid_content_card {
  /* min-height: 300px; */
  min-height: max-content;
  width: 100%;
  max-width: calc(100vw - 72px - 62px);
  /* max-width: calc(100vw - 62px); */
  background: var(--color-sales-card-bg);
  box-shadow: var(--color-sales-card-border);
  border-radius: 12px;
  transition: box-shadow 0.5s ease;
}

.row_container {
  /* top: auto;
  transition: top 0.6s ease, position 0.6s ease; */
}
/* 🌟スティッキー */
.sticky_row {
  position: sticky;
  top: 0;
  bottom: 0px;
  /* position: fixed;
  top: 66px; */
  z-index: 100;
  display: flex;
  /* padding-top: 12px; */
  /* backdrop-filter: blur(6px); */
}
.contents_area .sticky_row .grid_row .grid_content_card {
  box-shadow: var(--color-sales-card-border-sticky);
}

.contents_area .grid_row .grid_content_card .card_title_area {
  padding: 15px 24px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contents_area .grid_row .grid_content_card .card_title_area .card_title_wrapper {
  display: flex;
  /* align-items: center; */
  align-items: flex-end;
}

.contents_area .grid_row .grid_content_card .card_title_area .card_title {
  position: relative;
  display: flex;
  font-size: 18px;
  font-weight: 600;
}
.section_title_area .title {
  position: relative;
  display: flex;
  font-size: 22px;
  font-weight: 600;
  padding-top: 10px;
  /* padding-bottom: 10px; */
}

.section_title_area .btn,
.card_title_area .btn {
  /* min-height: 36px; */
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.section_title_area .btn.basic,
.card_title_area .btn.basic {
  background-color: var(--color-btn-basic-bg);
  box-shadow: 0 0 0 1px var(--color-border-base);
}

.section_title_area .btn.basic:hover,
.card_title_area .btn.basic:hover {
  background-color: var(--color-btn-basic-bg-hover);
  color: var(--color-btn-basic-text-hover);
}
.section_title_area .btn.brand,
.card_title_area .btn.brand {
  /* box-shadow: 0 0 0 1px var(--color-border-base); */
  background-color: var(--color-bg-brand-f);
  color: #fff;
}
.section_title_area .btn.brand:hover,
.card_title_area .btn.brand:hover {
  background-color: var(--color-bg-brand-f-deep);
}
.btn.brand.inactive {
  background-color: var(--color-bg-brand-f-disabled) !important;
  color: var(--color-text-disabled-on-brand) !important;
  cursor: not-allowed;
}
.btn.brand.inactive svg {
  color: var(--color-text-disabled-on-brand) !important;
}

/* --------- コンテンツエリア(GridTable) ---------  */
.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px;
  width: 100%;
  height: max-content;
  /* min-height: calc(300px - 47px); */
  overflow: auto;
}
.grid_scroll_container {
  width: 100%;
  /* max-height: 204px; */
  overflow: auto;
  position: relative;
  /* padding-right: 30vw; */
  /* padding-bottom: 24px; */
  padding-bottom: 18px;
}

.grid_header_row {
  position: sticky;
  z-index: 10;
  top: 0;
  display: grid;
  grid-template-columns: var(--template-columns);
  grid-template-rows: var(--header-row-height);
  user-select: none;
  outline: none;
  font-weight: 700;
  /* contain: size layout style paint; */
  height: var(--header-row-height);
  width: var(--row-width);
  box-sizing: content-box;
  /* border-bottom: 1px solid var(--color-border); */
  border-bottom: 1px solid var(--color-border-table-deep);
}
.grid_column_header_all {
  color: var(--color-text-sub);
  background: var(--color-target-table-header-bg);
  backdrop-filter: blur(12px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  display: flex;
  align-items: center;
  font-size: 13px;
  outline: none;
  padding: 0 8px;
}
.grid_column_header_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-overflow: ellipsis;
  /* gap: 0.5rem; */
  overflow: hidden;
}
.grid_column_header_inner_name {
  user-select: text;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1rem;
  overflow: hidden;
}
.grid_column_header_inner_name.sales_target {
  font-size: 13px;
  color: var(--color-text-brand-f);
  /* color: var(--color-text-title); */
}

.grid_scroll_container .row {
  display: grid;
  grid-template-columns: var(--template-columns);
  grid-template-rows: var(--grid-row-height);
  height: var(--grid-row-height);
  width: var(--row-width);
  box-sizing: content-box;
  border-bottom: 1px solid var(--color-border);
}
.grid_scroll_container .row .grid_cell {
  color: var(--color-text-title);
  backdrop-filter: blur(12px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 14px;
  outline: none;
  padding: 0px 8px;
}

.input_box {
  height: 100%;
  max-height: 36px;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  /* padding: 0px 6px; */
  padding: 6px 8px;
  border-radius: 6px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input_box:focus {
  box-shadow: var(--color-bg-under-input-active-box-shadow);
}

.input_box.upsert {
  /* background: none; */
  /* min-height: 28px; */
  min-height: 27px;
  /* z-index: 2000; */
  font-size: 15px;
}

.grid_header_cell_share span {
  font-size: 12px;
}

/* 🌟サブ目標リスト編集モーダル🌟 */
.switch_container {
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 40vw; */
  height: 90vh;
  min-width: 577px;
  /* max-width: 577px; */
  max-height: 732px;
  color: var(--color-text-title);
  background-color: var(--color-edit-bg);
  box-shadow: var(--color-edit-border-with-shadow);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
}
.edit_contents_container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 0 20px 0;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.switch_container .content_box {
  background: var(--color-bg-sub);
  border-radius: 6px;
}
.switch_container .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  font-weight: 700;
  font-size: 18px;
}
.switch_container .sortable_list {
  /* background: var(--color-bg-sub); */
  /* width: 445px; */
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 5px 25px 20px;
  overflow-y: scroll;
}
.switch_container .sortable_list .item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid #ccc; */
  box-shadow: var(--color-edit-item-border);
  border-radius: 4px;
  /* margin-bottom: 6px; */
  margin-bottom: 11px;
  /* padding: 10px 13px; */
  padding: 6px 13px;
  background: var(--color-edit-item-bg);
  cursor: pointer;
}
.switch_container .sortable_list .item:hover {
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
.switch_container .item.inactive {
  /* background: var(--color-card-bg-disabled); */
  /* box-shadow: 0 0 0 1px var(--color-card-border-rejected); */
  background: var(--color-edit-item-bg-disabled);
  box-shadow: 0 0 0 1px var(--color-edit-item-border-disabled);
}
.switch_container .sortable_list .item.add {
  /* box-shadow: 0 0 0 1px var(--color-edit-left-active);
  background-color: var(--color-edit-left-active-bg); */
  box-shadow: 0 0 0 1px var(--color-edit-add);
  background-color: var(--color-edit-add-inner);
}
.switch_container .sortable_list .item.remove {
  /* box-shadow: 0 0 0 1px var(--color-bg-brand-f);
  background-color: var(--color-bg-brand-f30); */
  box-shadow: 0 0 0 1px var(--color-edit-remove);
  background-color: var(--color-edit-remove-inner);
}
.switch_container .icon_button.add:hover,
.switch_container .sortable_list .item.add:hover {
  background-color: var(--color-edit-add-inner-hover);
}
.switch_container .icon_button.remove:hover,
.switch_container .sortable_list .item.remove:hover {
  background-color: var(--color-edit-remove-inner-hover);
}
/* .switch_container .icon_button.add:hover {
  background-color: var(--color-edit-add);
  color: #fff;
}
.switch_container .icon_button.remove:hover {
  background-color: var(--color-edit-remove);
  color: #fff;
} */
.switch_container .item .details {
  display: flex;
  align-items: center;
  width: 100%;
}
.switch_container .item .details span {
  font-size: 12px;
  width: 290px;
}

.switch_container .item.inactive .details span {
  text-decoration: line-through;
  /* color: var(--color-text-sub); */
  color: var(--color-text-disabled);
}
.switch_container .item.inactive.add .details span {
  /* color: var(--color-edit-add); */
}
.switch_container .item svg {
  color: #474747;
  font-size: 1.2rem;
  cursor: grab;
  user-select: none;
}

.switch_container .item.dragging :where(.details, svg) {
  /* opacity: 0; */
  /* opacity: 0.3; */
}
.switch_container .item_left.dragging {
  /* background: #000;
  color: #0affff; */
  opacity: 0.3;
  /* background: var(--color-edit-add); */
  background: var(--color-bg-brand-f);
  color: #fff;
}
.item_right svg:active,
.switch_container .item_right:active {
  /* cursor: grabbing; */
}
.switch_container .item_right.dragging {
  /* background: #000;
  color: #0affff; */
  opacity: 0.3;
  /* background: var(--bright-red); */
  background: var(--color-bg-brand-f);
  color: #fff;
}

.switch_container .title svg {
  /* color: var(--color-sub-text); */
}
.switch_container .title svg path {
  stroke: var(--color-edit-arrow-disable-color);
}
.switch_container .icon_button {
  background-color: var(--color-edit-arrow-disable-bg-onlist);
  color: var(--color-edit-arrow-disable-color);
}
.switch_container .icon_button.add {
  /* box-shadow: 0 0 0 1px var(--color-edit-add); */
  /* background-color: var(--color-edit-add50);
  box-shadow: 0 0 0 1px var(--bright-green); */
  background-color: var(--color-edit-add-inner);
  box-shadow: 0 0 0 1px var(--color-edit-add);
  color: var(--bright-green);
  cursor: pointer;
}
.switch_container .icon_button.remove {
  /* background-color: var(--color-edit-remove-hover); */
  background-color: var(--color-edit-remove-inner);
  box-shadow: 0 0 0 1px var(--color-edit-remove);
  color: var(--main-color-tk);
  cursor: pointer;
}
.switch_container .icon_button.inactive {
  color: var(--color-text-disabled);
  cursor: not-allowed;
}
.switch_container .icon_button.arrow_right_reset_active {
  background-color: var(--color-bg-brand-f);
  color: #fff;
  cursor: pointer;
}
.arrow_right_reset_active svg path {
  stroke: #fff;
}
.arrow_right_reset_active:hover {
  background-color: var(--color-bg-brand-f-hover);
}
.switch_container /* .icon_button svg {
  background-color: var(--color-edit-arrow-disable-bg-onlist);
  color: var(--color-sub-text);
  fill: var(--color-sub-text);
} */
/* 追加 */
.switch_container .arrow_add_active {
  background-color: var(--color-edit-add);
  color: var(--color-text);
  cursor: pointer;
  color: #fff;
}
.switch_container .arrow_add_active:hover {
  background-color: var(--color-edit-add-hover);
}
/* 削除 */
.switch_container .arrow_remove_active {
  background-color: var(--color-edit-remove);
  /* color: var(--color-text); */
  color: #fff;
  cursor: pointer;
}
.switch_container .arrow_remove_active:hover {
  background-color: var(--color-edit-remove-hover);
}
/* 最上部 */
.switch_container .arrow_up_active {
  background-color: var(--color-bg-brand-f);
  /* color: var(--color-text); */
  cursor: pointer;
  color: #fff;
}
.switch_container .arrow_up_active:hover {
  background-color: var(--color-bg-brand-f-hover);
}
/* 最下部 */
.switch_container .arrow_down_active {
  background-color: var(--color-bg-brand-f);
  /* color: var(--color-text); */
  color: #fff;
  cursor: pointer;
}
.switch_container .arrow_down_active:hover {
  background-color: var(--color-bg-brand-f-hover);
}
/* 右側リセット */
.switch_container .arrow_right_reset_active {
  background-color: var(--color-bg-brand-f);
  /* color: var(--color-text); */
  color: #fff;
  cursor: pointer;
}
.switch_container .arrow_right_reset_active svg path {
  stroke: #fff;
}
.switch_container .arrow_right_reset_active:hover {
  background-color: var(--color-bg-brand-f-hover);
}
/* 左側リセット */
.switch_container .arrow_left_reset_active {
  background-color: var(--color-bg-brand-f);
  /* color: var(--color-text); */
  color: #fff;
  cursor: pointer;
}
.switch_container .arrow_left_reset_active svg path {
  stroke: #fff;
}
.switch_container .arrow_left_reset_active:hover {
  background-color: var(--color-bg-brand-f-hover);
}

.switch_container .sortable_list .frozen {
  background-color: var(--color-edit-frozen-bg);
  color: var(--color-edit-frozen-text);
  box-shadow: var(--color-edit-border-frozen);
  cursor: default;
  pointer-events: none;
}
.switch_container .sortable_list .frozen svg {
  fill: var(--color-edit-frozen-text);
  cursor: default;
}

/* 🌟サブ目標リスト編集モーダル🌟 ここまで */
/* ---------------------------- UpsertTarget ここまで ---------------------------- */
/* ---------------------------- UpsertTargetEntity ---------------------------- */
.main_container_entity {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--color-bg-dashboard);
  color: var(--color-text-title);

  /* padding: 20px 32px 20px 30px;
    display: grid;
    row-gap: 20px; */
}
.main_container_entity .title_area {
  /* min-height: 66px; */
  min-height: 58px;
  padding: 20px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main_container_entity .title_area .title {
  display: flex;
  align-items: center;
}
.main_container_entity .contents_area_entity {
  width: 100%;
  height: calc(100vh - var(--header-height) - 58px);
  display: flex;
  overflow-y: auto;
  overflow-x: auto;
}
.main_container_entity .contents_area_entity .left_container {
  width: 260px;
  min-width: 260px;
  height: calc(100vh - var(--header-height) - 58px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0px 16px 16px;
}
.main_container_entity .contents_area_entity .right_container {
  /* width: calc(100vw - 72px - 260px); */
  width: 100%;
  min-width: max-content;
  height: calc(100vh - var(--header-height) - 58px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* overflow-y: scroll; */
  padding: 8px 16px 16px;
}

.main_container_entity .contents_area_entity .left_container .step_container {
  width: 100%;
  height: 100%;
  background: var(--color-sales-card-bg);
  box-shadow: var(--color-sales-card-border);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: box-shadow 0.5s ease;
}
.main_container_entity .contents_area_entity .left_container.sticky_side {
  position: sticky;
  z-index: 200;
  top: 0;
  left: 0;
}
.main_container_entity .contents_area_entity .left_container.sticky_side .step_container {
  box-shadow: var(--color-sales-card-border-sticky);
}
.main_container_entity .contents_area_entity .left_container .step_container .description {
  /*  */
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  height: 0;
  margin-top: 0px;
  transition: transform 0.3s ease, margin 0.3s ease;
  margin-top: 6px;
  /*  */
  /* height: 100%;
  margin-top: 12px; */
  /*  */
  /* color: var(--color-text-sub); */
  color: var(--color-text-disabled);
  white-space: pre-wrap;
}
.main_container_entity .contents_area_entity .left_container .step_container .description.open {
  /*  */
  transform: scaleY(1);
  opacity: 1;
  height: 100%;
  margin-top: 12px;
  margin-bottom: 6px;
  /*  */
  color: var(--color-text-title);
}
.main_container_entity .contents_area_entity .right_container .step_header_wrapper {
  width: 100%;
  display: flex;
  min-width: max-content;
}
.main_container_entity .contents_area_entity .right_container .step_header {
  width: calc(100vw - 72px - 260px - 32px);
  height: 168px;
  min-height: 168px;
  background: var(--color-sales-card-bg);
  box-shadow: var(--color-sales-card-border);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: box-shadow 0.5s ease;
}

.main_container_entity .contents_area_entity .right_container .step_header.sticky_header {
  position: sticky;
  z-index: 10;
  top: 8px;
  left: 16px;
  box-shadow: var(--color-sales-card-border-sticky);
}
.main_container_entity .contents_area_entity .right_container .step_header.sticky_with_side {
  position: sticky;
  z-index: 10;
  top: 8px;
  left: calc(16px + 260px);
  box-shadow: var(--color-sales-card-border-sticky);
}
.main_container_entity .contents_area_entity .right_container .contents_container_rb {
  width: 100%;
  display: flex;
  padding: 16px 0;
  column-gap: 16px;
}
.main_container_entity .contents_area_entity .right_container .contents_container_rb .col {
  /* width: 390px;
  min-width: 390px; */
  width: 420px;
  min-width: 420px;
  min-height: calc(100vh - 56px - 66px - 168px - 32px);
  /* min-height: calc(100vh); */
  background: var(--color-sales-card-bg);
  box-shadow: var(--color-sales-card-border);
  /* box-shadow: var(--color-sales-card-border-brand); */
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: "Hiragino Sans", sans-serif, Roboto, system-ui;
  /* font-family: sans-serif, "Hiragino Sans", Roboto, system-ui; */
}
.main_container_entity .btn {
  /* min-height: 36px; */
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.main_container_entity .btn.basic {
  background-color: var(--color-btn-basic-bg);
  box-shadow: 0 0 0 1px var(--color-border-base);
}
.main_container_entity .btn.basic:hover {
  background-color: var(--color-btn-basic-bg-hover);
  color: var(--color-btn-basic-text-hover);
}
.main_container_entity .btn.brand {
  /* box-shadow: 0 0 0 1px var(--color-border-base); */
  background-color: var(--color-bg-brand-f);
  color: #fff;
}
.main_container_entity .btn.brand:hover {
  background-color: var(--color-bg-brand-f-deep);
}
/*
background: var(--color-sales-card-bg);
    box-shadow: var(--color-sales-card-border);
    border-radius: 12px;
*/
/* ---------------------------- UpsertTargetEntity ここまで ---------------------------- */

/* エリアチャート */
/* ２列 */
.area_chart_container {
  /* padding: 0px 24px 5px 6px; */
  padding: 0px 24px 16px 6px;
}

/* セレクトボタン用の上下アイコン */
.select_arrow {
  /* color: #404452; */
  /* color: rgb(64, 68, 82); */
  /* color: rgb(48, 49, 61); */
  /* color: #30313d; */
  position: absolute;
  right: 1px;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* ドーナツチャート */
.deal_list {
  color: var(--color-text-title);
}
.deal_list.inactive {
  color: var(--color-text-disabled);
  /* background:#f2f3f4; */
  /* background:#f4f7f9; */
}
