.company_table_screen {
  /* height: 100vh; */
  width: 100%;
  /* background-color: rgb(23 23 23 / 1); */
  /* color: rgb(250 250 250 / 1); */
  /* background-color: #121212; */
  /* background-color: #171717; */
  /* background-color: #0f0f0f; */
  background-color: var(--color-sdb-bg);
  /* background-image: url("/assets/images/beautiful/ocean2.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  /* background: -webkit-linear-gradient(
    33deg,
    #101010 10%,
    #121212 30%,
    #151515 42%,
    #272727 60%,
    #333 66%,
    #272727 72%,
    #171717 82%
  ); */

  color: var(--color-sdb-text);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
