.company_table_screen {
  /* height: 100vh; */
  width: 100%;
  /* background-color: rgb(23 23 23 / 1); */
  /* color: rgb(250 250 250 / 1); */
  /* background-color: #171717; */
  background-color: var(--color-table-bg);
  color: var(--color-table-text);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
