.main {
  /* background: #000; */
  /* background: radial-gradient(#333, #000); */
  height: 100dvh;
  /* 背景画像🌟 */
  /* background-image: url("/assets/images/login-background.jpg"); */
  /* background-image: url("/assets/images/hero/hero_white.png");
  /* background-image: url("/assets/images/hero/hero_white3.png"); */
  /* hero画面横 */
  /* 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
  /* hero画面横 */

  /* position: absolute;
  top: 0;
  right: 0;
  left: 0; */
  z-index: 0;
}

.main_container {
  width: 100%;
  height: 100dvh;
  /* background-color: var(--color-bg-base); */
  /* スクロールスナップ🌟 */
  /* overflow-y: scroll;
  scroll-snap-type: y mandatory; */
}

.main_container svg {
  color: var(--color-text);
}

.scroll_slides {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* padding: 12px min(10%, 6.25rem); */
  gap: 50px;
  color: #fff;

  /* スクロールスナップ🌟 */
  /* scroll-snap-align: start; */
}

/* ======================== Hero ======================== */
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* margin-top: 100px; */
}
/* ヒーロー画像横の場合 */
/* hero画面横 */
/* .hero {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  text-align: justify;
  color: var(--color-text);
  text-shadow: var(--hero-text-shadow) 1px 0 10px;
}
.hero_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hero-overlay);
}
.btn_box {
  padding-left: 150px;
} */

/* ヒーロー画像横の場合 */
/* hero画面横 */
.hero h1 {
  font-size: 60px;
  line-height: 70px;
  font-weight: 600;
  max-width: 950px;
}
.hero h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero p {
  font-weight: 500;
  white-space: nowrap;
}

.email_signUp {
  /* background: #fff; */
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid #ffffff70;
  /* background: rgba(255, 255, 255, 0.6);
  border: 1px solid #27272770; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 30px;
  margin: 30px auto 0;
  max-width: 860px;
  width: 800px;
}
.email_signUp input {
  flex: 1;
  border: 0;
  outline: 0;
  background: rgba(15, 15, 15, 0.1);
  /* color: #555; */
  background: rgba(255, 255, 255, 0);
  margin-left: 20px;
}
.email_signUp input::placeholder {
  /* color: #555; */
}

.email_signUp button {
  background: var(--color-bg-brand);

  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 30px;
}
.email_signUp button:hover {
  background: var(--color-bg-brand-hover-main);
}

/* =========== ここから ============== */
/* .text_gradient {
  font-size: 70px;
  color: #000;
  background: -webkit-linear-gradient(135deg, #fff, #fff, #ccc, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_gradient::before {
  position: absolute;
  z-index: -1;
  content: "ワンコイン";
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 2px #fff;
}
.text_gradient_red {
  font-size: 70px;
  color: #000;
  background: -webkit-linear-gradient(135deg, #ccc, #ddd, #eee, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_gradient_red::before {
  position: absolute;
  z-index: -1;
  content: "キーエンス";
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 2px #fff;
} */
/* =========== ここまで ============== */
/* =========== ここから ============== */
/* .text_gradient {
  font-size: 70px;
  color: #000;
  background: -webkit-linear-gradient(135deg, #fff, #fff, #fff, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px #fff;
}
.text_gradient_red {
  font-size: 70px;
  color: #000;
  background: -webkit-linear-gradient(135deg, #fff, #fff, #fff, #fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px #fff;
} */
/* =========== ここまで ============== */

/* =========== ここから ============== */
/* text-shadow: 1px 1px 10px rgb(20, 20, 20), 1px 1px 10px rgb(20, 20, 20), 0 0 0.1em rgba(255, 255, 255, 0.8),
    0 0 0.08em rgba(255, 255, 255, 0.5); */
.text_gradient {
  font-size: 70px;
  color: #fff;
  /* background: #fff; */
  background: linear-gradient(to top right, #0affff, #0abeff, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1.5s;
}
.text_gradient::before {
  font-size: 70px;
  position: absolute;
  /* content: "ワンコイン"; */
  content: "980円";
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to top right, #0affff, #0abeff, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.text_gradient_red {
  font-size: 70px;
  color: #fff;
  /* background: #fff; */
  background: linear-gradient(to top left, #fff, #ff0000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s;
}
.text_gradient_red::before {
  font-size: 70px;
  position: absolute;
  content: "キーエンス";
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to top left, #ff0000, #ff0011, #df7c7c, #ff0011, #ff0011);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

/* background: linear-gradient(to top left, #c7c0c0, #c49fa2, #cb555b, #e50914, #e50914); */
/* background: linear-gradient(to top left, #ffffff, #d3bdbf, #be8487, #e50914, #e50914); */
/* text-shadow: 1px 1px 10px rgb(20, 20, 20), 1px 1px 10px rgb(20, 20, 20), 0 0 0.1em rgba(255, 255, 255, 0.8),
    0 0 0.08em rgba(255, 255, 255, 0.5); */
/* =========== ここまで ============== */

/* .text_gradient::before {
  position: absolute;
  z-index: -1;
  content: "ワンコイン";
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px #fff;
} */
/* .text_gradient {
  color: #fff;
  background: -webkit-linear-gradient(
    160deg,
    rgb(30, 250, 247),
    rgb(83, 208, 250),
    rgb(94, 158, 249),
    rgb(112, 104, 251),
    rgb(136, 99, 248),
    rgb(162, 84, 251),
    rgb(208, 114, 251),
    rgb(255, 100, 216),
    rgb(253, 109, 162),
    rgb(255, 137, 86),
    rgb(255, 193, 86),
    rgb(255, 232, 115)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 10px rgb(20, 20, 20), 0 0 0.1em rgba(255, 255, 255, 0.8), 0 0 0.08em rgba(255, 255, 255, 0.5);
}
.text_gradient::before {
  position: absolute;
  content: "ワンコイン";
  color: rgba(0, 0, 0, 0);
  background: -webkit-linear-gradient(
    160deg,
    rgb(30, 250, 247),
    rgb(83, 208, 250),
    rgb(94, 158, 249),
    rgb(112, 104, 251),
    rgb(136, 99, 248),
    rgb(162, 84, 251),
    rgb(208, 114, 251),
    rgb(255, 100, 216),
    rgb(253, 109, 162),
    rgb(255, 137, 86),
    rgb(255, 193, 86),
    rgb(255, 232, 115)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
} */

/* .text_gradient {
  color: #fff;
  background: linear-gradient(to top right, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 10px rgb(20, 20, 20), 0 0 0.1em rgb(110, 112, 61), 0 0 0.3em rgb(131, 131, 131);
}
.text_gradient::before {
  position: absolute;
  content: "ワンコイン";
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to top right, #ffd600, #ff7a00, #ff0069, #d300c5, #7638fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
} */

/* .text_gradient::before {
  position: absolute;
  z-index: -1;
  content: "ワンコイン";
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 5px #fff;
} */

.cta_btn {
  font-weight: bold;
  color: #f9f9f9;
  /* background-color: #0063e5; */
  background-color: var(--color-bg-brand);
  /* hero画面横 */
  /* background-color: var(--cta-btn); */
  width: 20vw;
  margin-top: 32px;
  /* margin-bottom: 12px; */
  letter-spacing: 1.5px;
  font-size: 20px;
  padding: 16.5px 0;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.cta_btn:hover {
  /* background-color: #0483ee; */
  background-color: var(--color-bg-brand-hover-main);
  /* hero画面横 */
  /* background-color: var(--cta-btn-hover); */
}

/* ======================== Features ======================== */

.scroll_slides_row {
  width: 100%;
  font-size: 22px;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  /* padding: 12px min(10%, 6.25rem); */
  /* gap: 50px; */
  gap: 100px;
  /* カラー🌟 */
  /* color: #fff; */
  color: var(--color-text);
  /* padding: 120px 16%; */
  padding: 120px 10%;

  /* スクロールスナップ🌟 */
  /* scroll-snap-align: center;
  scroll-snap-stop: always; */
}

/* .section_title_brand {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #cffcfd 0.89%,
    #bef3f5 17.23%,
    #7de2eb 42.04%,
    #7dc8eb 55.12%,
    #0ab5ff 71.54%,
    rgb(0, 136, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */
/* .section_title2 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    rgba(255, 255, 255, 1) 0.89%,
    rgba(255, 255, 255, 0.8) 17.23%,
    rgba(255, 255, 255, 0.7) 42.04%,
    rgba(255, 255, 255, 0.7) 55.12%,
    rgba(255, 255, 255, 0.9) 71.54%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.section_title3 {
  background: linear-gradient(120deg, #fff 0%, rgba(255, 255, 255, 0.42) 106.5%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */

.section_title {
  /* background: linear-gradient(120deg, #fff 0%, rgba(255, 255, 255, 0.42) 106.5%);
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.42) 106.5%); */
  position: relative;
  background: var(--section-title-hp);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
/* .section_title::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--section-title-hp-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.section_title.section_title_brand::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--section-title-hp-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 1;
} */
.title_before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--section-title-hp-hover);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.section_title_brand .title_before {
  opacity: 1;
}
.section_title_brand.section_title::before {
  opacity: 0;
}

/* .clip_text {
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
} */
/* .section_title_gradient_black {
  background: -webkit-linear-gradient(135deg, #37352f, #333, #bbb, #333, #37352f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* 周りの光アニメーションとの組み合わせ */
/* .light_back_ {
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 10px 10px 36px 10px;
}
.light_back_::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
  animation: 6s rotate linear infinite;
}

.light_back_::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: var(--color-auth-modal-bg);
  background-clip: content-box;
  backdrop-filter: blur(12px);
} */
.light_back {
  position: relative;
  z-index: 0;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--color-wrap-box-shadow);
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  /* transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
}
.light_back::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--tile-border-hp);
  animation: 6s rotate linear infinite;
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  /* transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.light_back:hover {
  box-shadow: var(--color-wrap-box-shadow-hover);
  background-color: #ffffff;
}
.light_back:hover::after {
  background: var(--tile-border-hp-hover);
}
/* 周りの光アニメーションとの組み合わせ ここまで */
.wrap {
  /* padding-top: 56.25%; */
  border-radius: 10px;
  /* box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px; */
  /* box-shadow: rgb(0 0 0 / 69%) 0px 16px 30px -10px, rgb(0 0 0 / 5%) 0px 16px 10px -10px; */
  box-shadow: var(--color-wrap-box-shadow);
  overflow: hidden;
  position: relative;
  /* transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  /* transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
  /* border: 8px solid rgba(249, 249, 249, 0.2); */
  /* border: 8px solid var(--color-wrap-border); */
  border: 8px solid transparent;
}
.wrap:hover {
  /* box-shadow: rgb(0 0 0 / 80%) 0px 40px 58px -16px, rgb(0 0 0 / 72%) 0px 30px 22px -10px; */
  /* box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 45%) 0px 16px 10px -10px; */
  box-shadow: var(--color-wrap-box-shadow-hover);
  overflow: hidden;
  /* transform: scale(1.05); */
  /* border-color: rgba(249, 249, 249, 1); */
  /* border-color: var(--color-bg-brand-sub); */
  /* border-color: var(--color-bg-brand-hover-main); */
}
.img {
  border-radius: 4px;
  /* transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  /* transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
  z-index: 1;
}

.wrap:hover .img {
  /* border-radius: 10px; */
  transform: scale(1.03);
  opacity: 1;
  /* opacity: 0; */
}
.wrap video {
  width: 100%;
  height: 100%;
  position: absolute;
  /* top: 0; */
  inset: 0;
  opacity: 0;
  z-index: 0;
  border-radius: 4px;
  /* transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  /* transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s; */
}
.wrap:hover video {
  opacity: 1;
  z-index: 0;
  /* border-radius: 20px; */
  transform: scale(1.03);
}
.text_col {
  flex-basis: 50%;
  /* flex-basis: 50%; */
  margin-bottom: 20px;
}

.img_col {
  flex-basis: 50%;
  /* width: 90%; */
  /* margin: auto; */
  position: relative;
  height: 450px;
}

.text_col p {
  font-size: 18px;
}
.scroll_slides_row h2 {
  /* font-size: 50px; */
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.horizon {
  width: 100dvw;
  height: 10px;
  /* background: #232323; */
  background: var(--color-horizon);
  /* border-color: #232323; */
  /* border-color: var(--color-horizon); */
  /* margin-bottom: 60px; */
}

/* ==================== FAQ ==================== */

.faq {
  padding: 110px 12% 140px;
  text-align: center;
  font-size: 18px;

  /* スクロールスナップ🌟 */
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */

  /* scroll-snap-align: center; */
  /* padding-top: 210px; */
  /* margin-top: 100px; */
}
.faq h2 {
  font-weight: 600;
  font-size: 40px;
}

.accordion {
  margin: 40px auto 60px;
  width: 100%;
  /* max-width: 750px; */
  max-width: 1200px;
  /* font-family: var(--font-family-discord); */
  padding-top: 240px;
  margin-top: -200px;
}
.accordion li {
  list-style: none;
  width: 100%;
  padding: 5px;
}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 20px;
  /* font-size: 18px; */
  font-size: 22px;
  font-weight: 500;
  /* background: #303030; */
  background: var(--color-accordion-bg);
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}
.accordion li:hover label {
  /* background: #454545; */
  background: var(--color-accordion-bg-hover);
}
.accordion li label::after {
  content: "+";
  font-size: 34px;
  position: absolute;
  right: 20px;
  transition: transform 0.5s;
}
.accordion input[type="radio"] {
  display: none;
}
.accordion .content {
  /* background: #303030; */
  background: var(--color-accordion-bg);
  text-align: left;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}
.accordion .content p {
  font-size: 20px;
  letter-spacing: 1px;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after {
  transform: rotate(135deg);
}
.start {
  padding: 200px 12%;
  text-align: center;
  font-size: 18px;

  /* スクロールスナップ🌟 */
  /* scroll-snap-align: center;
  scroll-snap-stop: always; */
}

.email_auth {
  /* background: #fff; */
  /* background: rgba(15, 15, 15, 0.6); */
  background: var(--color-input-bg);
  /* border: 1px solid #ffffff70; */
  /* background: rgba(255, 255, 255, 0.6);
  border: 1px solid #27272770; */
  border-radius: 4px;
  display: flex;
  align-items: center;
  /* overflow: hidden; */
  margin-top: 30px;
  margin: 30px auto 0;
  max-width: 860px;
  width: 800px;
  position: relative;
}
.email_auth .input_box {
  flex: 1;
  /* border: 1px solid #ffffff70; */
  border: 1px solid var(--input-border);
  height: 100%;
  width: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /* background: rgba(15, 15, 15, 0.1); */
  /* color: #555; */
  background: rgba(255, 255, 255, 0);
  /* margin-left: 20px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.email_auth .input_box input {
  border: 0;
  outline: 0;
  /* background: rgba(15, 15, 15, 0.1); */
  /* color: #555; */
  background: rgba(255, 255, 255, 0);
  margin-left: 20px;
  width: 100%;
  height: 100%;
}
.email_auth .input_box label {
  position: absolute;
  top: 4px;
  left: 20px;
  padding: 10px 0;
  font-size: 18px;
  color: #9ca3af;
  pointer-events: none;
  transition: 0.5s;
}
.email_auth .input_box input.is_entered ~ label,
.email_auth .input_box input:focus ~ label,
.email_auth .input_box input:valid ~ label {
  top: -6px;
  left: 10px;
  /* color: var(--main-color-blue); */
  /* color: #03a9f4; */
  color: #9ca3af;
  font-size: 10px;
}

.email_auth button {
  background: var(--color-bg-brand);
  /* hero画面横 */
  background: var(--cta-btn);

  border: 0;
  outline: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 15px 30px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.email_auth button:hover {
  background: var(--color-bg-brand-hover-main);
  /* hero画面横 */
  background: var(--cta-btn-hover);
}

.start .email_signUp_area {
  margin: 20px auto 0px;
  margin-top: 40px;
  height: 150px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.start .email_auth {
  max-width: 600px;
  margin-top: 30px;
  /* margin: 20px auto 60px;
  margin-top: 40px; */
}
.faq small {
  font-size: 20px;
}

.start small {
  font-size: 20px;
}

.email_signUp_area .input_box.input_focus {
  /* box-shadow: 0 0 0 1px hsl(200, 100%, 50%); */
  border: 1px solid hsl(200, 100%, 50%);
}
.email_signUp_area.success .input_box {
  /* box-shadow: 0 0 0 1px hsl(100, 60%, 50%); */
  border: 1px solid hsl(100, 60%, 45%);
}

.email_signUp_area.error .input_box {
  /* box-shadow: 0 0 0 1px hsl(0, 60%, 50%); */
  border: 1px solid hsl(0, 60%, 50%);
}

.email_signUp_area .msg {
  display: none;
  font-size: 0.9rem;
  position: relative;
}

.email_signUp_area.success .msg,
.email_signUp_area.error .msg {
  display: block;
}

.email_signUp_area.success .msg {
  color: hsl(100, 60%, 50%);
}
.email_signUp_area.error .msg {
  color: hsl(0, 60%, 50%);
}

.email_signUp_area span.msg_underline {
  /* background-color: #0066ff80; */
  background-color: hsl(0, 60%, 50%);
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.5s;
}
.email_signUp_area.auth_notice span.msg_underline {
  animation: animate 0.8s forwards;
}
@keyframes animate {
  30% {
    width: 100%;
  }
  40% {
    width: 100%;
    transform-origin: right;
    scale: 1;
  }
  100% {
    width: 100%;
    transform-origin: right;
    scale: 0;
  }
}

.email_signUp_area_overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  height: 100vh;
  width: 100%;
  background: #00000030;
  backdrop-filter: blur(4px);
}

/* ======================== Footer ======================== */
.footer {
  padding: 50px 15% 10px;
  /* border-top: 6px solid #333; */
  color: #777;

  /* スクロールスナップ🌟 */
  /* scroll-snap-align: start;
  scroll-snap-stop: always; */
}
.footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}
.footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
  width: max-content;
}
.footer .col a:hover {
  text-decoration: underline;
  color: var(--color-text-brand-f);
}
.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}
.footer .row {
  align-items: flex-start;
  padding: 10px 0;
}
.footer button.language_btn {
  position: relative;
  background: transparent;
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 7px 10px;
  position: relative;
  color: var(--color-text);
}
.language_btn svg {
  width: 20px;
  margin-left: 2px;
}
.footer button.language_btn:hover {
  border: 1px solid var(--color-bg-brand-f);
  /* background-color: #00000078 !important;
  color: #fff; */
}
.copyright_txt {
  font-size: 14px;
  margin: 20px;
  margin-bottom: 10px;
}

.overlay {
  position: fixed;
  z-index: 10;
  inset: 0;
  /* background-color: #ffffff10; */
}

/* =================== media =================== */
@media only screen and (max-width: 600px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    width: 100px;
  }
  .header nav button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .header nav .language_btn {
    padding: 4px 8px;
  }
  .header_content {
    position: unset;
    transform: none;
    padding-top: 150px;
  }
  .header_content h1 {
    font-size: 30px;
  }
  .email_signUp button {
    font-size: 12px;
    padding: 10px 15px;
  }
  .text-col,
  .img-col {
    flex-basis: 100%;
  }
  .features h2 {
    font-size: 28px;
  }
  .features p {
    font-size: 15px;
  }
  .features .row {
    padding: 10px 0;
    flex-direction: column;
  }
  .row:nth-child(2),
  .row:nth-child(4) {
    flex-direction: column-reverse;
  }

  .faq {
    padding: 10px 8%;
  }
  .faq h2 {
    font-size: 20px;
  }
  .accordion .content {
    font-size: 14px;
  }
  .accordion li label {
    padding: 10px;
    font-size: 14px;
  }
  .accordion li label::after {
    font-size: 22px;
  }
  .footer {
    padding: 50px 8% 10px;
  }
}
