.pdf {
  height: 100%;
  width: 100%;
  max-height: 725px;
  max-width: 514px;
  /* max-width: calc(725px / 1.41); */
  background-color: #fff;
  position: relative;
  display: flex;
  font-family: "Noto Serif JP", serif;
}
