.tooltip {
  border-radius: 6px;
  background: var(--color-chart-tooltip-bg);
  color: var(--color-text-title);
  /* padding: 6px 12px; */
  /* padding: 0px 0px 6px; */
  box-shadow: var(--color-chart-tooltip-shadow);
  backdrop-filter: blur(3px);
}

.list_legends {
  background: var(--color-sales-card-bg);
  /* backdrop-filter: blur(10px); */
}

.ul_flex {
  display: flex;
}
.ul_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
}
