/* 編集モーダル */
.modal_overlay {
  position: fixed;
  z-index: 2000;
  inset: 0;
  width: 100vw;
  height: 100vh;
  /* backdrop-filter: blur(0px); */
  /* background-color: #00000000; */
  backdrop-filter: blur(2px);
  /* background-color: #00000033; */
  /* background-color: #ffffff09; */
  /* background-color: #ff0000; */
}

.card {
  position: fixed;
  z-index: 2500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* 375px 横幅 * 80vw = 300 250px 0.83倍 */
  /* width: 190px;
  height: 254px;
  background: #07182E;
  position: relative; */
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  /* color: var(--color-text-title); */
  /* color: var(--color-bg-brand-f); */
  /* color: #0d99ff; */
  color: var(--color-gradient-modal-text, #0d99ff);
  box-shadow: var(--color-gradient-modal-border-real-shadow);
}

/* .card::before {
  content: "";
  position: absolute;
  width: 120%;
  background-image: linear-gradient(180deg, #fff 6%, #cffcfd 9%, #0affff 30%, #0abeff 56%, #0066ff 88%);
  height: 290px;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.3s linear;
} */
.card_::before {
  /* content: "";
  position: absolute; */
  /* top: 10%;
  left: 50%; */
  /* width: 250px; */
  /* width: 660px; */
  /* width: 120%;
  height: 290px; */
  /* width: 130%;
  height: 230%; */
  /* background-image: linear-gradient(180deg, #ffffffd0 9%, #cffcfdd0 13%, #0affffd0 30%, #0abeffd0 56%, #0066ffd0 88%); */
  /* background-image: var(--color-gradient-modal); */

  /* width: 100px; */
  /* background-image: linear-gradient(180deg, #ff0050, #00f2ea); */
  /* background-image: linear-gradient(180deg, #0affff, #0abeff, #0066ff); */
  /* background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255)); */
  /* height: 130%; */
  /* height: 360px; */
  /* animation: rotBGimg 3s linear infinite; */
  /* transition: all 0.3s linear; */
  /* #FF3B5B #0DF6F1 */
}
.card::before {
  content: "";
  position: absolute;

  /* top: 10%;
  left: 50%; */
  /* width: 250px; */
  /* width: 660px; */
  /* width: 120%;
  height: 290px; */
  width: 130%;
  height: 230%;
  /* background-image: linear-gradient(180deg, #ffffffd0 9%, #cffcfdd0 13%, #0affffd0 30%, #0abeffd0 56%, #0066ffd0 88%); */
  background-image: var(--color-gradient-modal);
  /* background: #fff; */

  /* width: 100px; */
  /* background-image: linear-gradient(180deg, #ff0050, #00f2ea); */
  /* background-image: linear-gradient(180deg, #0affff, #0abeff, #0066ff); */
  /* background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255)); */
  /* height: 130%; */
  /* height: 360px; */
  animation: rotBGimg 3s linear infinite;
  /* transition: all 0.3s linear; */
  /* #FF3B5B #0DF6F1 */
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card_after {
  position: absolute;
  z-index: 0;
  /* inset: 5px; */
  inset: 6px;
  /* background: #121212; */
  background: var(--color-gradient-modal-bg);
  /* background: #07182e; */
  /* border-radius: 15px; */
  border-radius: 16px;
  box-shadow: 0 0 0 1px var(--color-gradient-modal-border-inner);
}

.rotate-animation {
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

.btn_area {
  /* padding: 0px 0px; */
  min-height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn_area:hover {
  background-color: transparent;
}
.btn_area .edit_btn {
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 7px 22px;
  border-radius: 8px;
  width: 50%;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.btn_area .edit_btn.brand {
  color: #999;
  background-color: #393939;
  cursor: not-allowed;
}
.btn_area .edit_btn.brand:hover {
  box-shadow: none;
}
.btn_area .edit_btn.cancel {
  color: #fff;
  background-color: var(--color-gradient-modal-btn-cancel-bg);
}
.btn_area .edit_btn.cancel:hover {
  background-color: #555;
  background-color: var(--color-gradient-modal-btn-cancel-bg-hover);
}
.btn_area .edit_btn.brand.active {
  color: #fff;
  /* background-color: var(--color-bg-brand-f90); */
  background-color: var(--color-gradient-modal-btn-active-bg);
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
  cursor: pointer;
}
.btn_area .edit_btn.brand.active:hover {
  color: #fff;
  /* background-color: var(--color-bg-brand-f); */
  background-color: var(--color-gradient-modal-btn-active-bg-hover);
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}

/*  */
.star_icon_wrapper {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translate(3px, 3px);
  /* top: 50%;
  left: -18px; */
  /* transform: translate(3px, -50%); */
  z-index: 10;
  width: 33px;
  height: 33px;
  border: 1px solid var(--color-star-icon);
  /* border: 1px solid rgb(228, 239, 31); */
  /* border: 1px solid rgb(228, 239, 31); */
  background-color: var(--color-star-icon-bg);
  /* background-color: var(--color-bg-brand-f60); */
  /* background-color: var(--color-card-bg); */
  border-radius: 50%;
}
.star_icon {
  /* color: #00d436; */
  /* color: rgb(30, 209, 102); */
  /* color: rgb(200, 209, 30); */
  /* color: rgb(228, 239, 31); */
  color: var(--color-star-icon);
  /* color: rgb(223, 235, 0); */
  /* color: rgb(255, 242, 0); */

  pointer-events: none;
  stroke-width: 1;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
.circle {
  /* border: 1px solid var(--color-star-icon); */
}
