.loader {
  position: relative;
  width: var(--spinner-width);
  height: var(--spinner-height);
  border-radius: 50%;
  display: inline-block;
  z-index: 1;

  border-top: var(--spinner-size) solid #0d99ff30;
  border-left: var(--spinner-size) solid #0d99ff;
  border-bottom: var(--spinner-size) solid #0d99ff;
  border-right: var(--spinner-size) solid #0d99ff;
  /* border-top: var(--spinner-size) solid #0066ff;
  border-left: var(--spinner-size) solid #0066ff;
  border-bottom: var(--spinner-size) solid #0066ff;
  border-right: var(--spinner-size) solid #0066ff; */
  background: transparent;
  box-sizing: border-box;
  animation: spin 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: var(--spinner-width);
  height: var(--spinner-height);
  border-radius: 50%;
  display: inline-block;
  border-top: var(--spinner-size) solid transparent;
  border-left: var(--spinner-size) solid transparent;
  border-bottom: var(--spinner-size) solid transparent;
  border-right: var(--spinner-size) solid #0d99ff;
  background: transparent;
  box-sizing: border-box;
  /* animation: spin 1s linear infinite; */
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* .loader {
  position: relative;
  width: var(--spinner-width);
  height: var(--spinner-height);
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(to bottom, #0affff, #0a99ff, #015dfc, #015dfc, #015dfc00);
  
  box-sizing: content-box;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
} */

/* .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: var(--spinner-width);
  height: var(--spinner-height);
  border-radius: 50%;
  background: var(--color-btn-brand);
  width: calc(var(--spinner-width) * 0.8);
  height: calc(var(--spinner-height) * 0.8);
} */
/* .loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: calc(var(--spinner-width));
  height: calc(var(--spinner-height));
  border-radius: 50%;
  background: transparent;
  border-top: var(--spinner-size) solid transparent;
  border-left: var(--spinner-size) solid transparent;
  border-bottom: var(--spinner-size) solid transparent;
  border-right: var(--spinner-size) solid #2b7fff;
} */

/* スピナー */
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #2b7fff;
  animation: spinner-bulqg1 0.96s infinite linear alternate, spinner-oaa3wk 1.92s infinite linear;
}

@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}

@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }

  49.99% {
    transform: scaleY(1) rotate(135deg);
  }

  50% {
    transform: scaleY(-1) rotate(0deg);
  }

  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
