.container {
}

.sales_progress_screen {
  width: 100%;
  color: var(--color-sdb-text);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* テスト */
  padding: 0 24px;
  /* テスト */
}

/* ------------------- セクションタイトル関連 ------------------- */

/* セクションタイトル関連 */
.section_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 18px 0 12px;
}
.section_container .section_wrapper {
  height: 60px;
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* padding: 0 48px; */
  /* テスト */
  padding: 0 24px;

  /* テスト */
  /* background-color: #0000ff30; */
}
.section_container .section_wrapper .left_wrapper {
}
.section_container .section_wrapper .left_wrapper .section_title {
  /* box-shadow: 0 0 0 1px var(--color-bg-brand-sub);
  background-color: var(--color-bg-brand-sub20); */
  /* background-color: var(--color-bg-brand30); */
  box-shadow: 0 0 0 1px var(--color-sdb-section-title-border);
  background-color: var(--color-sdb-section-title-bg);
  color: var(--color-sdb-section-title-text);
  border-radius: 33px;
  height: 39px;
  padding: 0 24px;
  font-size: 14px;
  /* font-weight: 600; */
  margin-left: 3px;
  user-select: none;
  transition: background-color 0.3s ease;
}
.section_container .section_wrapper .left_wrapper .section_title:hover {
  cursor: pointer;
  background-color: var(--color-sdb-section-title-bg-hover);
}
.section_container .section_wrapper .left_wrapper .section_title .div_wrapper {
  height: 100%;
}
.section_container .section_wrapper .left_wrapper .section_title span {
  line-height: 24px;
}
.section_container .section_wrapper .left_wrapper .section_title .down_icon {
  height: 24px;
}
.section_container .section_wrapper .left_wrapper .section_title .down_icon svg {
  font-size: 14px;
}
.section_container .section_wrapper .left_wrapper .entity_type {
  padding: 6px 6px;
  margin-left: 18px;
}
.section_container .section_wrapper .left_wrapper .period_type {
  padding: 6px 6px;
  margin: 0 6px 0 9px;
}
.section_container .section_wrapper .left_wrapper .entity_type.active,
.section_container .section_wrapper .left_wrapper .period_type.active {
  color: var(--color-bg-brand-f);
}
/* .section_container .section_wrapper .left_wrapper .entity_type.active .underline,
.section_container .section_wrapper .left_wrapper .period_type.active .underline {
  min-height: 1px;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 6%, #80e9ff 22%, #80e9ff 33%, var(--color-bg-brand-f) 78%);
} */
/* ------------------- セクションタイトル関連ここまで ------------------- */

/* ---------------------------------- settings_menu ---------------------------------- */
/* オーバーレイ */
.menu_overlay {
  position: fixed;
  z-index: 3200;
  left: 0vw;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  /* background-color: #ffffff60; */
}
.menu_overlay.above_setting_menu {
  z-index: 3600;
}
.menu_overlay.edit_mode {
  z-index: 3700;
  /* background-color: #00000030; */
}

@keyframes fade_up5 {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade_down5 {
  0% {
    opacity: 0;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade5 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ---------------------------- セッティングメニュー ---------------------------- */
.settings_menu {
  z-index: 3500;
  /* background-color: #303030; */
  /* background-color: #242424; */
  background-color: var(--color-settings-menu-bg);
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  backdrop-filter: blur(6px);
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
}
.settings_menu.fade_up {
  animation: fade_up5 0.3s ease forwards;
}
.settings_menu.fade_down {
  animation: fade_down5 0.3s ease forwards;
}
.settings_menu.fade {
  animation: fade5 0.3s ease forwards;
}
.settings_menu.edit_mode {
  z-index: 4500;
}

.settings_menu .scroll_container {
  max-height: 39vh;
}
.settings_menu .list {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list.select_list {
  min-height: 50px;
  margin-bottom: 3px;
}
.settings_menu .list.select_list:last-of-type {
  margin-bottom: 0px;
}
.settings_menu .list.select_list:hover {
  background-color: var(--color-bg-brand-f40);
}
.settings_menu .list.select_list.active {
  background-color: var(--color-bg-brand-f);
  cursor: default;
}
.settings_menu .list.select_list.active:hover {
  cursor: default;
}
.settings_menu .list.select_list .list_icon {
  min-width: 18px;
  min-height: 18px;
  font-size: 18px;
}
.settings_menu .list.select_list:hover {
  cursor: pointer;
}
.settings_menu .list:hover {
  background-color: var(--color-bg-brand-f30);
}
.settings_menu .list .select_item {
  font-size: 14px;
}

.settings_menu .list .icon_container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
}
.settings_menu .list.btn_area {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list.btn_area:hover {
  background-color: transparent;
}
.settings_menu .list.btn_area .edit_btn {
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  padding: 7px 22px;
  border-radius: 8px;
  width: 50%;
  display: flex;
  justify-content: center;
}
.settings_menu .list.btn_area .edit_btn.brand {
  color: #999;
  background-color: #393939;
  cursor: not-allowed;
}
.settings_menu .list.btn_area .edit_btn.brand:hover {
  box-shadow: none;
}
.settings_menu .list.btn_area .edit_btn.cancel:hover {
  background-color: #555;
}
.settings_menu .list.btn_area .edit_btn.brand.active {
  color: #fff;
  background-color: var(--color-bg-brand-f90);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
  cursor: pointer;
}
.settings_menu .list.btn_area .edit_btn.brand.active:hover {
  color: #fff;
  background-color: var(--color-bg-brand-f);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
.settings_menu .list.edit_mode {
  cursor: pointer;
}
.settings_menu .list.edit_mode span {
  min-width: 48px;
  /* text-align: center; */
}
.settings_menu .list.edit_mode.active {
  background-color: var(--color-bg-brand-f);
}
.settings_menu .list.edit_mode.active:hover svg {
  color: #fff;
}
.settings_menu .list.edit_mode.active .working_day {
  color: #00d436;
}
.settings_menu .list.edit_mode.active .closing_day {
  color: var(--main-color-tk);
}
.settings_menu .list.edit_mode:hover .arrow_icon {
  color: var(--color-bg-brand-f);
}
.settings_menu .list.edit_mode:hover .working_day {
  color: #00d436;
}
.settings_menu .list.edit_mode:hover .closing_day {
  color: var(--main-color-tk);
}

.settings_menu .section_title {
  padding: 15px 20px 6px;
}
.settings_menu .section_title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.settings_menu .section_underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.settings_menu .list.test:nth-of-type(odd) {
  /* background-color: #fff; */
}
.settings_menu .list.test:nth-of-type(even) {
  /* background-color: #333; */
}
/* ============ inputスライダー ============ */
.settings_menu input[type="range"] {
  position: relative;
  height: 4px;
  /* max-width: 75px; */
  max-width: 120px;
  /* デフォルトのスライダーを消してカスタムに変更 */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  background: linear-gradient(to right, #0d99ff 50%, #999 50%);
  background: var(--linear-gradient);
}
.settings_menu input[type="range"].input_range::-webkit-slider-runnable-track {
  height: 4px;
}
.settings_menu input[type="range"].input_range::-moz-range-track {
  height: 4px;
}
/* Thumbのスタイル */
.settings_menu input[type="range"].input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #0d99ff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}
.settings_menu input[type="range"].input_range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #0d99ff;
  cursor: pointer;
  border-radius: 50%;
}
/* Firefoxでのバーの背景色を変更 */
.settings_menu input[type="range"]::-moz-focus-outer {
  border: 0;
}
.settings_menu input[type="range"]::after {
  /* content: "16"; */
  content: attr(data-text);
  position: absolute;
  top: -28px;
  right: 0;
  /* top: 50%; */
  /* left: -35px; */
  /* transform: translateY(-50%); */
  font-size: 13px;
  color: #fff;
}
/* ============ inputスライダー ============ */
/* ---------------------------- セッティングメニュー ---------------------------- */

.description_menu {
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  /* background-color: var(--color-black-bg); */
  background-color: #303030;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
  max-width: 400px;
  color: #fff;
}
.description_menu .title {
  padding: 20px 24px 0px;
}
.description_menu .title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.description_menu .u_list {
  margin: 5px 10px 10px;
  /* box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f); */
  /* background-color: var(--color-black-bg-re); */
}
.description_menu .u_list .dropdown_list_item {
  width: 100%;
  padding: 10px 14px;
  user-select: none;
}
.select_box {
  /* box-shadow: var(--color-bg-under-input-box-shadow);
  background: var(--color-bg-under-input); */
  box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
  /* background: #3c3c3c; */
  font-size: 14px;
  background-color: #484848;
  background-color: #393939;
  /* background-color: #424242; */
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.1s ease;
  min-height: 30px;
  /* min-width: 185px; */
  /* min-width: 120px; */
  /* max-width: 400px; */
  width: 100%;
  /* width: fit-content; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
.select_box:hover {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.edit_btn {
  /* background-color: #ffffff20; */
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  /* box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000; */
  padding: 7px 22px;
  border-radius: 8px;
}
.edit_btn:hover {
  background-color: #555;
}
.edit_btn.brand:hover {
  background-color: var(--color-bg-brand-f90);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
  /* background-color: #d946ef;
  background-color: rgb(217 70 239);
  background-color: rgb(6 182 212);
  background-color: #06b6d4;
  background-color: #06b6d4;
  background-color: rgb(59 130 246);
  background-color: #3b82f6; */
}

/* アイコンボタン */
.icon_btn {
  min-width: 27px;
  min-height: 27px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: var(--color-bg-brand50); */
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand); */
  background-color: var(--color-bg-brand-f50);
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.icon_btn:hover {
  /* background-color: var(--color-bg-brand); */
  background-color: var(--color-bg-brand-f);
}

/* ---------------------------------- settings_menuここまで ---------------------------------- */

/* 説明アイコン用ping */
@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate_ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animate_loading 2s linear infinite;
}
.loader:nth-child(2),
.loader:nth-child(4) {
  animation-delay: -1s;
  /* filter: hue-rotate(120deg); */
}

@keyframes animate_loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader:nth-child(1)::before,
.loader:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  /* background-color: red; */
  /* background: linear-gradient(
    to top,
    transparent,
    #0088ff10,
    #0ab5ff30,
    #7dc8eb60,
    #7de2eb90,
    #bef3f5c0,
    #cffcfdf0,
    #ffffff
  ); */
  /* background: linear-gradient(to top, transparent, #0088ff30, #0088ff60, #0ab5ff80, #7de2ebc0, #cffcfdf0, #ffffff); */
  background: linear-gradient(to top, transparent, #0088ff20, #0088ff60, #0088ffc0, #0ab5ffc0, #60fdfdf0, #ffffff);
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff;
  /* box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff,
    0 0 80px #fff, 0 0 90px #fff, 0 0 100px #fff; */
}
.loader span {
  position: absolute;
  inset: 20px;
  background-color: #000;
  border-radius: 50%;
  z-index: 1;
}
