.app_sidebar {
  width: var(--sidebar-open-width);
  height: 100vh;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--color-bg-base);
  border-right: 1px solid var(--color-border);
}
.app_sidebar.mini {
  width: var(--sidebar-mini-width);
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.spacer {
  width: 100%;
  height: 0;
  margin-top: var(--header-height);
}
.content_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* background-color: #00000010; */
  overflow-y: auto;
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 48px; */
  margin-bottom: 320px;
}

.section_title_area .section_title:hover svg,
.section_title_area .section_title:hover span {
  color: var(--color-text-brand-f);
}

.menu_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  /* padding-left: 4px; */
  /* padding-right: 4px; */
  /* padding-top: 8px; */
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid var(--color-border-deep);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  height: 0;
}
.menu_container.open_menu {
  transform: scaleY(1);
  opacity: 1;
  height: 100%;
}
.menu_item {
  position: relative;
  display: flex;
  align-items: center;
  /* width: calc(100% - 12px); */
  width: 100%;
  /* border-radius: 4px; */
  /* border-radius: 4px; */
  padding-left: 4px;
  min-height: 40px;
  cursor: pointer;
  color: var(--color-text-sub);
}
.menu_item:hover {
  background-color: var(--color-bg-sub);
}
.menu_item.active {
  background-color: var(--color-sidebar-active);
  /* color: var(--color-text); */
  /* color: #fff; */
  /* background-color: var(--color-bg-sub-dark); */
}
.menu_item_inner {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 40px;
}
.menu_item_inner.pickbox_mini {
  height: 50px;
}
.icon_wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  min-width: 40px;
  height: 40px;
  pointer-events: none;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}
.icon_wrapper svg {
  color: var(--color-text-sub);
}
.icon_wrapper svg path {
  stroke: var(--color-text-sub);
}
.icon_wrapper span {
  max-width: 75px;
}
.text_wrapper {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* vertical-align: middle; */
  width: 100%;
  height: 100%;
  padding-left: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  pointer-events: none;
  /* max-width: 40px; */
}
.text_wrapper span {
  user-select: none;
}
.menu_item:hover .text_wrapper span {
  color: var(--color-text);
}
.menu_item.active .text_wrapper span {
  color: #fff;
  font-weight: 700;
}

.menu_item.active .icon_wrapper svg,
.menu_item.active .icon_wrapper svg path,
.menu_item:hover .icon_wrapper svg path,
.menu_item:hover .icon_wrapper svg path,
.menu_item:hover .icon_wrapper span {
  color: var(--color-text);
  stroke: var(--color-text);
}
.menu_item.active .icon_wrapper svg,
.menu_item.active .icon_wrapper svg path,
.menu_item.active .icon_wrapper span {
  color: #fff;
  stroke: #fff;
  /* stroke-width: 3px; */
}
