.app_sidebar {
  width: var(--sidebar-open-width);
  height: 100vh;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  bottom: 0;
  /* background: var(--color-bg-base-sub); */
  border-right: 1px solid var(--color-border);
  /* transition: background-color border box-shadow 0.3s ease !important; */
  /* transition: background-color 0.5s ease, border 0.5s ease, box-shadow 0.5s ease; */
  box-shadow: var(--shadow-sidebar);
}
.app_sidebar.mini {
  width: var(--sidebar-mini-width);
}
.app_sidebar.display_in_out {
  left: 0;
  transition: width 0.5s ease, background-color 0.1s ease, border-color 0.1s ease, left 0.5s 0.2s ease !important;
}
.app_sidebar.mini.display_in_out {
  /* width: var(--sidebar-open-width); */
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.spacer {
  width: 100%;
  height: 0;
  margin-top: var(--header-height);
}
.content_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  /* background-color: #00000010; */
  background: var(--color-bg-base);
  /* transition: background-color 0.5s ease; */
  overflow-y: auto;
}
.content_container.sdb {
  /* --color-bg-base-header: var(--color-sdb-bg);
  --color-bg-base: var(--color-sdb-bg);
  --shadow-header: var(--shadow-header-sdb); */
  background-color: var(--color-sdb-bg);
}
.app_sidebar.sdb {
  /* --color-border: var(--shadow-header-sdb); */
}
.section {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 48px; */
  margin-bottom: 320px;
}

.section_title_area .section_title:hover svg,
.section_title_area .section_title:hover span {
  color: var(--color-text-brand-f);
}

.menu_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  /* padding-left: 4px; */
  /* padding-right: 4px; */
  /* padding-top: 8px; */
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: 1px solid var(--color-border-deep);
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  height: 0;
}
.menu_container.open_menu {
  transform: scaleY(1);
  opacity: 1;
  height: 100%;
}

/* .menu_item:hover {
  background-color: var(--color-bg-sub);
  animation: fullWidthLeft 0.4s;
} */
/* .menu_item.active {
  background-color: var(--color-sidebar-active);
} */
/* CSSで流れるアニメーションバージョン ここまで */
/* .menu_item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 4px;
  min-height: 40px;
  cursor: pointer;
  color: var(--color-text-sub);
}
.menu_item::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--color-bg-sub2);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.menu_item:hover::after {
  transform: scaleX(1);
}
.menu_item::after {
  transition: transform 0.3s ease, transform-origin 0s 0.3s;
}
.menu_item:not(:hover)::after {
  transform-origin: left;
}
.menu_item.active::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 0%;
  height: 100%;
  background-color: var(--color-bg-sub2);
  animation: disappearFullWidthLeft 0.4s forwards;
} */
/* CSSで流れるアニメーションバージョン ここまで */
/* animationとkeyframeアニメーションバージョン */
.menu_item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 4px;
  min-height: 40px;
  cursor: pointer;
  color: var(--color-text-sub);
}
.menu_item:hover::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0%;
  top: 0%;
  height: 100%;
  background-color: var(--color-bg-sub2);
  animation: fullWidthLeft 0.2s forwards;
}
.menu_item.active::before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0%;
  top: 0%;
  height: 100%;
  /* ここから */
  background-color: var(--color-sidebar-active);
  /* background: var(--color-sidebar-active-gradient); */
  /* background: linear-gradient(to right, #2b7fff, #0abeff, #0affff50); */
  /* background: linear-gradient(to right, #2b7fffd0, #0abeff90, #0affff90); */
  /* ここまで */
  /* background-color: var(--color-bg-brand-f); */
  /* background-color: #d2ebff; */
  /* background: linear-gradient(to top right, #2b7fff, #60e6ff); */
  /* background: linear-gradient(to right, #2b7fff, #60e6ff); */
  /* background: linear-gradient(to bottom left, #0affff, #0abeff, #0066ff); */
  /* background: linear-gradient(to bottom left, #0affff, #0abeff, #2b7fff); */
  /* background: linear-gradient(to left, #0affff, #0abeff, #2b7fff); */
  /* background: linear-gradient(to left, #0affffc0, #0abeffc0, #2b7fffc0); */
  /* background: linear-gradient(to right, #0048ff, #0abeff, #0affff50); */
  /* background: linear-gradient(to right, #206eff, #0affff50); */
  /* background: linear-gradient(to bottom left, #cffcfd 9%, #0affff 30%, #0abeff 56%, #0066ff 88%); */
  /* background: linear-gradient(to left, #cffcfd 9%, #0affff 30%, #0abeff 56%, #0066ff 88%); */
  /* background: linear-gradient(to top right, var(--color-bg-brand-f), #0abeff, #0affff); */
  /* background: linear-gradient(to left bottom, #ffffff20 0%, #80e9ff 20%, #0abeff 65%, var(--color-bg-brand-f) 85%); */
  animation: fullWidthLeft 0.4s 0.4s forwards;
}
.menu_item.active::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 0%;
  height: 100%;
  background-color: var(--color-bg-sub2);
  animation: disappearFullWidthLeft 0.4s forwards;
}
/* 右側に消えるようにアニメーションする場合にも左側から開始 */
@keyframes fullWidthLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes disappearFullWidthLeft {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: 100%; /* 右側に消えるように移動 */
  }
}
.menu_item_inner {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  height: 40px;
}
.menu_item_inner.pickbox_mini {
  height: 50px;
}
.icon_wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  min-width: 40px;
  height: 40px;
  pointer-events: none;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; */
}
.icon_wrapper svg {
  color: var(--color-text-sub);
  /* color: var(--color-bg-brand-f); */
}
.icon_wrapper svg path {
  stroke: var(--color-text-sub);
  /* stroke: var(--color-bg-brand-f); */
}
.icon_wrapper span {
  max-width: 75px;
}
.text_wrapper {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  /* vertical-align: middle; */
  width: 100%;
  height: 100%;
  padding-left: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  pointer-events: none;
  /* max-width: 40px; */
}
.text_wrapper span {
  user-select: none;
}
.menu_item:hover .text_wrapper span {
  color: var(--color-text);
}
.menu_item.active .text_wrapper span {
  color: #fff;
  font-weight: 700;
  animation: switchColor 0.5s forwards;
  /* animation: switchColor 0.3s forwards; */
  /* animation: switchColor 0.4s forwards; */
}
@keyframes switchColor {
  0% {
    color: var(--color-text);
    font-weight: 500;
  }
  90% {
    font-weight: 500;
  }
  100% {
    color: #fff;
    /* color: #0095ff; */
    font-weight: 700;
  }
}

/* .menu_item.active .icon_wrapper svg,
.menu_item.active .icon_wrapper svg path, */
.menu_item:hover .icon_wrapper svg path,
.menu_item:hover .icon_wrapper svg path,
.menu_item:hover .icon_wrapper span {
  color: var(--color-text);
  stroke: var(--color-text);
}
.menu_item.active .icon_wrapper svg,
.menu_item.active .icon_wrapper svg path,
.menu_item.active .icon_wrapper span {
  color: #fff;
  stroke: #fff;
  /* color: #63fa35;
  stroke: #63fa35; */
  /* stroke-width: 3px; */
  animation: switchIconColor 0.5s forwards;
  /* animation: switchIconColor 0.3s forwards; */
  /* animation: switchIconColor 0.4s forwards; */
}
@keyframes switchIconColor {
  0% {
    color: var(--color-text);
    stroke: var(--color-text);
  }
  90% {
  }
  100% {
    color: #fff;
    stroke: #fff;
    /* color: #0095ff;
    stroke: #0095ff; */
  }
}
