.app_main_container {
  position: relative;
  /* margin-left: var(--sidebar-open-width); */

  background-color: var(--color-bg-base);
  color: var(--color-text);

  display: flex;
  /* width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: var(--header-height); */
  /* overflow-y: scroll;
  overflow-x: inherit; */
}
.app_main_container.open {
  --sidebar-width: 240px;
}
.app_main_container.close {
  --sidebar-width: 72px;
}

.spacer_left {
  /* transition: all 0.5s ease; */
  min-width: var(--sidebar-width);
  height: 100vh;
}

.main_contents_wrapper {
  /* width: calc(100% - var(--sidebar-open-width)); */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: inherit;
}
.main_contents_wrapper.height_all {
  height: 100%;
}

.spacer_top {
  min-height: var(--header-height);
  width: 100%;
}
.main_contents_container {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
  overflow-x: inherit;
}
.main_contents_container.height_all {
  height: 100%;
}

.screen1 {
  min-height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex: 1;
}
.home_screen {
  /* min-height: calc(100vh - var(--header-height)); */
  /* height: calc(100vh - var(--header-height)); */
  /* min-height: min-content; */
  width: 100%;
  background-color: var(--color-bg-base);
  /* flex-grow: 1; */
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 20px 0px 20px 20px; */
  /* transition: background-color 0.5s ease; */
}
.all_container {
  height: calc(100vh - var(--header-height));
  /* max-height: calc(100vh - var(--header-height)); */
}

.overlay {
  position: fixed;
  z-index: 500;
  inset: 0;
  /* background-color: #00000090; */
}

.home_container {
  font-family: "Hiragino Sans", sans-serif, Roboto, system-ui;
  font-family: sans-serif, "Hiragino Sans", Roboto, system-ui;
}
.back_icon {
  position: absolute;
  z-index: 0;
  /* right: -180px; */
  opacity: 0;
  /* display: none; */
  pointer-events: none;
}
.setting {
  display: none;
  top: -50px;
  right: -100px;
  transform: rotate(12deg) translate(-10vw);
}
.search {
  display: none;
  bottom: -30px;
  right: -100px;
  transform: rotate(-12deg) translate(-10vw);
}
.home_container.hovered .back_icon.setting,
.home_container.hovered .back_icon.search {
  display: block;
  animation: appearance_odd 1s ease forwards;
}
@keyframes appearance_odd {
  0% {
    opacity: 0;
    transform: rotate(12deg) translate(-10vw);
  }
  100% {
    opacity: 1;
    transform: rotate(12deg) translate(0);
  }
}
.dev {
  display: none;
  top: -50px;
  right: -100px;
  transform: rotate(12deg) translate(-10vw);
}
.home_container.hovered .back_icon.dev {
  display: block;
  animation: appearance_dev 1s ease forwards;
}
@keyframes appearance_dev {
  0% {
    opacity: 0;
    transform: rotate(12deg) translate(-10vw);
  }
  100% {
    opacity: 1;
    transform: rotate(12deg) translate(0);
  }
}
.record {
  display: none;
  top: -50px;
  left: -80px;
  transform: rotate(12deg) translate(10vw);
}
.invitation {
  display: none;
  bottom: -50px;
  left: -80px;
  transform: rotate(-12deg) translate(10vw);
}
.home_container.hovered .back_icon.record {
  display: block;
  animation: appearance_record 1s ease forwards;
}
@keyframes appearance_record {
  0% {
    opacity: 0;
    transform: rotate(12deg) translate(10vw);
  }
  100% {
    opacity: 1;
    transform: rotate(12deg) translate(0);
  }
}
.home_container.hovered .back_icon.invitation {
  display: block;
  animation: appearance_even 1s ease forwards;
}

@keyframes appearance_even {
  0% {
    opacity: 0;
    transform: rotate(-12deg) translate(10vw);
  }
  100% {
    opacity: 1;
    transform: rotate(-12deg) translate(0);
  }
}

.content_card {
  /* background: #1e1f22; discord */
  background: var(--color-bg-sub-re);
  cursor: pointer;
  backdrop-filter: blur(6px);
}
.content_card:hover {
  background: var(--color-bg-sub-re-hover);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
/* text-[var(--color-text-brand-f)] */
.content_card:hover .right_arrow {
  transform: translateX(3px);
}
.content_card:hover .animate_icon svg,
.content_card:hover .animate_icon svg path,
.content_card:hover .animate_icon svg g {
  /* animation-play-state: running; */
  animation-play-state: paused;
}

.skeleton {
  /* width: 100%;
  height: 20px; */
  /* background: #d9d9d9; */
  background: var(--color-skeleton-bg);
  /* background: var(--color-bg-base-sub); */
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg, transparent, rgba(#fff, 0.5), transparent); */
  background: linear-gradient(90deg, transparent, var(--color-skeleton-bg-wave), transparent);
  /* background: red; */
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  /* animation: skeletonAnimation 1.2s linear infinite; */
  animation: skeletonAnimation 1.2s linear infinite;
}
@keyframes skeletonAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.text_brand_f_gradient {
  /* background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  ); */
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #cffcfd 0.89%,
    #bef3f5 17.23%,
    #7de2eb 42.04%,
    #7dc8eb 55.12%,
    #0ab5ff 71.54%,
    rgb(0, 136, 255) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text_brand_shadow {
  /* filter: drop-shadow(0 0 0.3rem #ffffff70); */
  filter: drop-shadow(0 0 0.3rem var(--color-text-brand-shadow));
}

/* 背景 */
.bg_container {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: calc(100vw - var(--sidebar-width));
  height: calc(100vh - 56px);
  /* background-color: red; */
}

.triangle_top {
  position: absolute;
  z-index: 0;
  left: 0;
  top: -1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: calc((100vw - var(--sidebar-width)) / 2 - 0px) solid transparent;
  border-left: calc((100vw - var(--sidebar-width)) / 2 - 0px) solid transparent;
  border-bottom: calc((100vh - 56px) / 2 - 0px) solid #555555;
  border-top: 0;
}
.triangle_bottom {
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: calc((100vw - var(--sidebar-width)) / 2 - 0px) solid transparent;
  border-left: calc((100vw - var(--sidebar-width)) / 2 - 0px) solid transparent;
  border-top: calc((100vh - 56px) / 2 - 2px) solid #555555;
  border-bottom: 0;
}
.triangle_right {
  position: absolute;
  z-index: 0;
  right: -1px;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-left: calc((100vw - var(--sidebar-width)) - 0px) solid transparent;
  border-top: calc((100vh - 56px) - 0px) solid #555555;
  border-bottom: calc((100vh - 56px) - 0px) solid #555555;
  /* border-bottom: calc((100vh - 56px) / 2 - 1px) solid #555555; */
  border-right: 0;
}
.triangle_left {
  position: absolute;
  z-index: 0;
  left: -1px;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: calc((100vw - var(--sidebar-width)) - 0px) solid transparent;
  border-top: calc((100vh - 56px) - 0px) solid #555555;
  border-bottom: calc((100vh - 56px) - 0px) solid #555555;
  /* border-bottom: calc((100vh - 56px) / 2 - 1px) solid #555555; */
  border-left: 0;
}
/* .triangle_right {
  position: absolute;
  z-index: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-left: calc((100vw - var(--sidebar-width)) / 2 - 1px) solid transparent;
  border-top: calc((100vh - 56px) / 2 - 1px) solid #555555;
  border-bottom: calc((100vh - 56px) / 2 - 1px) solid #555555;
  border-right: 0;
}
.triangle_left {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: calc((100vw - var(--sidebar-width)) / 2 - 1px) solid transparent;
  border-top: calc((100vh - 56px) / 2 - 1px) solid #555555;
  border-bottom: calc((100vh - 56px) / 2 - 1px) solid #555555;
  border-left: 0;
} */
