.modal_container {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  max-width: 1150px;
  max-height: 730px;
  background: var(--color-modal-solid-bg);
  border-radius: 9px;
  box-shadow: var(--color-edit-border-with-shadow-light);
  /* backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 15px 40px; */
  /* padding: 15px 0px 0px; */
  padding: 1px;
  /* color: var(--color-edit-text); */
  color: var(--color-text-title);
  font-family: sans-serif;
  transition: width 0.3s ease, height 0.3s ease, max-width 0.3s ease, max-height 0.3s ease;
}

.modal_container.small {
  width: 300px;
  height: 100px;
  max-width: 300px;
  max-height: 100px;
  box-shadow: var(--color-edit-border-f-with-shadow-light);
  background: var(--color-table-header);
}

.title_area {
  /* background: var(--color-modal-solid-bg-main); */
}
.contents_container {
}

.section_step_area {
}

.file_upload_box_container {
  box-shadow: var(--color-sales-card-border);
  background: var(--color-modal-content-bg);
  border-radius: 9px;
}

.file_upload_box {
  /* background: var(--color-modal-solid-bg-main); */
  background: var(--color-modal-content-bg);
  /* background: #043050; */
  /* background: #08263b; */
  /* background: #0f202b; */
  /* border-radius: 5px; */
  border-radius: 9px;
  /* min-height: 240px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 2px dashed #b1add4; */
  border: 2px dashed var(--color-border-light);
  transition: border 0.5s ease, background-color 0.5s ease, min-height 0.3s ease;
}
.file_upload_box.active {
  border: 2px solid var(--main-color-f);
  /* background: #f3f6ff; */
  background: var(--color-bg-brand-f10);
}

/*  */
.file_upload_box .box_title {
  font-size: 1.05rem;
  font-weight: 500;
  color: #626161;
}
.file_upload_box.active .box_title {
  pointer-events: none;
}

.file_upload_box .box_title .file_browse_button {
  color: var(--main-color-f);
  cursor: pointer;
}
.file_upload_box .box_title .file_browse_button:hover {
  text-decoration: underline;
}
.file_instruction {
  color: var(--color-text-sub);
}

/* アップロードアイコン */
.icon_area {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px;
  margin-bottom: -9px; */
  margin-bottom: 0px;
  margin-top: -15px;
}

.upload_icon,
.drop_icon,
.upload_icon *,
.drop_icon * {
  pointer-events: none;
}

.upload_icon {
  display: block;

  /* font-size: 24px; */
  /* color: #aaa; */
  /* color: var(--color-text-sub); */

  font-size: 120px;
  margin-top: -60px;
  margin-bottom: 6px;
  color: #aaa;
}
.upload_icon.active {
  display: none;
}
.drop_icon {
  display: none;

  font-size: 120px;
  margin-top: -60px;
  margin-bottom: 6px;
}
.drop_icon.active {
  display: block;
}

.upload_icon svg {
  stroke-width: 6px;
}

.drop_icon svg {
  /* font-size: 45px; */
  stroke-width: 6px;
  color: var(--main-color-f);
}

.upload_icon_btn {
  stroke-width: 27px;
}

@keyframes bounce {
  0%,
  100% {
    /* transform: translateY(-25%); */
    transform: translateY(-12%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate_bounce {
  animation: bounce 1s infinite;
}

/* step2 */
.mapping_container {
  box-shadow: var(--color-sales-card-border);
  background: var(--color-modal-content-bg);
  /* border-top-left-radius: 9px;
  border-top-right-radius: 9px; */
  border-radius: 9px;
  /* padding-bottom: 2px; */
  padding-bottom: 12px;
  height: max-content;
}
.mapping_container .left_container {
}
.mapping_container .right_container {
}
.mapping_container .title_wrapper {
}
.mapping_container .main_wrapper {
}
.mapping_container .mapping_table {
  display: grid;
  border-radius: 6px;
  /* box-shadow: var(--border-real-table); */
  box-shadow: var(--border-real-table-with-shadow);
}
.mapping_container .mapping_table .row {
  display: grid;
}

.mapping_container .mapping_table .row.column_header_row {
  z-index: 10;
  background: var(--color-table-header-f6);
  box-shadow: var(--color-bg-dashboard-table-header-shadow-mini);
}
.mapping_container .mapping_table .row .column_header {
  /* background: var(--color-table-header); */
  /* background: #f4f4f6; */
  /* background: #f5f8fa; */
  /* background: #f3f4f4; */
  /* background: #eff0f1; */
  /* background: #f3f3f3; */
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 600;
}
.mapping_container .mapping_table .row .column_header .csv_field_name_box {
  padding-left: 7px;
}

.mapping_container .mapping_table .row.column_header_row .column_header,
.mapping_container .mapping_table .row.content_row .grid_cell {
  /* border-right: 1px solid var(--color-border-table); */
}

.mapping_container .mapping_table .row.content_row {
  border-bottom: 1px solid var(--color-border-base);
}
.mapping_container .mapping_table .row.content_row:last-of-type {
  border-bottom: 1px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.mapping_container .mapping_table .row.content_row:nth-of-type(odd) {
  background-color: var(--color-table-even-color-changed-bg-second);
}
.mapping_container .mapping_table .row.content_row:nth-of-type(even) {
  background-color: var(--color-table-odd-color-changed-bg);
}
.mapping_container .mapping_table .row.content_row .grid_cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: pre-wrap;
  /* padding: 10px 12px; */
  /* padding-left: 17px; */
  padding: 10px 17px;
  font-size: 12px;
}
.mapping_container .mapping_table .row.content_row .grid_cell span {
  white-space: pre-wrap;
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.mapping_container .mapping_table .row .grid_cell .csv_field_name_box {
}

.mapping_container .mapping_table .row .row_header {
  position: sticky;
  left: 0;
  z-index: 5;
  border-right: 3px solid var(--color-border-base);
}
.mapping_container .mapping_table .row.column_header_row .row_header.column_header {
  z-index: 50;
  background: var(--color-table-header-f6);
}
.mapping_container .mapping_table .row.content_row:nth-of-type(odd) .row_header.grid_cell {
  background-color: var(--color-table-even-color-changed-bg-second);
}
.mapping_container .mapping_table .row.content_row:nth-of-type(even) .row_header.grid_cell {
  background-color: var(--color-table-odd-color-changed-bg);
}

.select_box {
  box-shadow: var(--color-bg-under-input-box-shadow);
  padding-left: 5px;
  padding-left: 4px;
  background: var(--color-bg-under-input);
  border-radius: 6px;

  min-height: 27px;
  user-select: none;
  font-size: 13px;
}
/* .select_box.upsert {
  min-height: 27px;
  user-select: none;
  font-size: 13px;
} */

.table_footer {
  border-top-width: 1px;
  border-style: solid;
  border-color: var(--color-border-base);
  /* box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}
