.overlay {
  position: fixed;
  z-index: 500;
  inset: 0;
  /* background: var(--overlay); */

  /* background: #00000030; */
  /* background: var(--overlay-light); */
  /* backdrop-filter: blur(2px); */
}

.modal_container {
  position: fixed;
  z-index: 1000;
  top: 45%;
  left: 50%;
  /* height: 60dvh; */
  width: 100%;
  max-width: 420px;
  transform: translate(-50%, -50%);
  /* backdrop-filter: blur(4px); */
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px 36px 10px;

  background: #ffffff;
  /* color: var(--color-text); */
}

/* 周りの光アニメーションとの組み合わせ */
/* .modal_container {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  height: 60dvh;
  width: 30vw;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
} */
/* .modal_container::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: var(--tile-border);
  animation: 6s rotate linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
/* .modal_container::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(to top right, #080808, #232323);
  background-clip: content-box;
  backdrop-filter: blur(12px);
} */
/* .modal_container::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: linear-gradient(to bottom right, rgba(var(--tile-start-rgb), 1) rgba(var(--tile-end-rgb), 1));
  background-clip: content-box;
  backdrop-filter: blur(12px);
} */
/* .modal_container::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  padding: 2px;
  border-radius: 12px;
  background: #141414;
  background-clip: content-box;
  backdrop-filter: blur(12px);
} */

.auth_area {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 32px;
  text-align: center;
  justify-content: flex-start;
}

.auth_form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 32px; */
  text-align: center;
  justify-content: flex-start;
}

.auth_error {
  margin-bottom: 16px;
  color: #f24822;
  font-size: 16px;
  text-align: left;
}

.auth_block {
  height: 48px;
  width: 100%;
  /* border: 3px solid var(--color-border-strong, #000); */
  box-shadow: rgba(15, 15, 15, 0.8) 0px 0px 0px 3px inset;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 0 15px;
}
.auth_google {
  transition: all 0.3s;
  /* box-shadow: rgba(var(--color-btn-brand-rgb), 0.8) 0px 0px 0px 3px inset;
  color: var(--color-btn-brand); */
  overflow: hidden;
  position: relative;
}
.auth_google:hover {
  transform: translateY(-2px);
  /* background: linear-gradient(60deg, #de3f3220, #efb40820, #32a05020, #407eeb20); */
}
.google_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
  transition: all 1s;
}
.auth_google:hover .google_text {
  /* background: linear-gradient(60deg, #de3f32, #efb408, #32a050, #407eeb); */
  background: linear-gradient(60deg, #de3f32, #efd408, #00d436, #407eeb);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  /* animation: gradient 10s linear infinite; */
  /* animation: rotate 10s linear infinite; */
}
/* @keyframes gradient {
  100% {
    background-position: 400%;
  }
} */
/* @keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
} */

/* Reflection */
.auth_google .re {
  position: absolute;
  top: 0;
  /* left: -120%; */
  /* left: -170%; */
  left: 0%;
  /* width: 80%; */
  /* width: 100%; */
  /* width: 150%; */
  width: 100%;
  height: 100%;
  filter: blur(8px);
  /* background: #; */
  /* background: linear-gradient(60deg, #de3f3220, #efb40820, #32a05020, #407eeb20); */
  transition: 0.5s;
  /* transition-delay: 1s; */
  transform: skewX(5deg);
}
.auth_google:hover .re {
  /* left: 120%; */
  /* left: 170%; */
}
.sign_in_and_up_orBlock {
  display: block;
  height: 60px;
  width: 100%;
  font-size: 16px;
  line-height: 60px;
  color: var(--color-sub-text);
}
.form_input {
  font-weight: 500;
  font-size: 16px;
  caret-color: var(--caret-color-light-blue);
  font-family: sans-serif !important;
}
.form_input:focus {
  /* border: 3px solid var(--color-bg-brand); */
  border: 3px solid var(--color-border-brand-sub);
}

/* 入力欄 */
.input_group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;

  /* height: 48px; */
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

.input_group label {
  color: rgba(55, 53, 47, 0.65);
  font-weight: lighter;
  font-size: 14px;
}

.input_group input {
  width: 100%;
  height: 48px;

  padding: 0 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  color: #000;
  font-weight: 500;
  font-size: 15px;
  caret-color: var(--caret-color-blue);
  font-family: sans-serif !important;
  background: var(--input-area-bg);

  /* border: 1px solid var(--color-border-strong, #000); */
  /* box-shadow: 0 0 0 1px #999; */
  box-shadow: rgba(15, 15, 15, 0.2) 0px 0px 0px 1px inset;
  border-radius: 8px;
}

.input_group input:focus {
  /* box-shadow: 0 0 0 1px hsl(200, 100%, 50%); */
  /* box-shadow: 0 0 0 2px var(--color-border-brand-strong); */
  box-shadow: 0 0 0 2px var(--color-btn-brand);
}
.email_signUp_area.success input {
  /* box-shadow: 0 0 0 2px hsl(100, 60%, 50%); */
}

.email_signUp_area.error input {
  /* box-shadow: 0 0 0 2px hsl(0, 60%, 50%); */
  box-shadow: 0 0 0 2px #f63e54;
}

.email_signUp_area .msg {
  display: none;
  font-size: 0.9rem;
  position: relative;
  margin-top: 5px;
  margin-right: auto;
  margin-left: 3px;
}

.email_signUp_area.success .msg,
.email_signUp_area.error .msg {
  display: block;
}

.email_signUp_area.success .msg {
  color: hsl(100, 60%, 50%);
}
.email_signUp_area.error .msg {
  /* color: hsl(0, 60%, 50%); */
  color: #f63e54;
}

.email_box {
  position: relative;
}
.email_box span {
  position: absolute;
  top: 25%;
  left: 5%;
  /* left: 35%; */
  color: var(--color-placeholder-text);
  transition: all 0.5s;
}
.email_box span.entered_email {
  top: 3px;
  left: 3%;
  font-size: 8px;
}
.email_input_area:focus ~ span {
  top: 3px;
  left: 3%;
  font-size: 8px;
  color: var(--color-bg-brand-sub);
}
.input_group .email_input_area {
  padding-top: 10px;
}

.email_box .submittedEmailInput {
  background: rgba(var(--color-btn-brand-rgb), 0.1);
}

/* ログインコード */
.input_group .login_code_area::placeholder {
  /* color: #407eeb; */
  color: rgba(var(--bright-green-rgb), 1);
}
.input_group .login_code_area {
  /* box-shadow: 0 0 0 2px var(--color-btn-brand); */
  box-shadow: 0 0 0 2px var(--bright-green);
  background: rgba(var(--bright-green-rgb), 0.1);

  padding-top: 10px;
}

.login_code_box {
  position: relative;
}

.login_code_box span {
  position: absolute;
  top: 25%;
  left: 5%;
  color: var(--bright-green);
  transition: all 0.5s;
}

.login_code_box span.entered_login_code {
  top: 3px;
  left: 3%;
  font-size: 8px;
}

.login_code_box .login_code_area:focus ~ span {
  top: 3px;
  left: 3%;
  font-size: 8px;
}

.login_code_box .login_code_area:focus {
  box-shadow: 0 0 0 2px var(--bright-green);
}

/* .auth_button {
  box-shadow: inset 0px 0px 0px 3px var(--color-btn-brand);
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px var(--color-btn-brand);
  color: var(--color-btn-brand);
  background-color: rgba(var(--color-btn-brand-rgb), 0.1);
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  transition: all 0.5s;
} */
.auth_button {
  box-shadow: none;
  border-radius: 8px;
  color: #fff;
  background-color: rgba(var(--color-btn-brand-rgb), 0.9);
  /* background-color: #00ff66; */
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}
/* .auth_button {
  box-shadow: inset 0px 0px 0px 3px #222;
  border-radius: 8px;
  color: #fff;
  background-color: #222;
  font-size: 16px;
  font-weight: 600;
  padding: 0 15px;
  transition: all 0.5s;
} */
.auth_button:hover {
  transform: translateY(-2px);
}
/* Reflection */
.auth_button .re {
  position: absolute;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  transition-delay: 0.2s;
  transform: skewX(5deg);
}
.auth_button:hover .re {
  left: 120%;
}

.checkbox_area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
}

.checkbox_label {
  margin-left: 10px;
  font-size: 16px;
  color: var(--color-main-text);
  user-select: none;
  cursor: pointer;
}

.signIn_with_saml_area a {
  color: var(--color-text-brand-sub);
  user-select: none;
}
.signIn_with_saml_area a:hover {
  text-decoration: underline;
}

.term_wrapper {
  display: inline;
  font-size: 12px;
  color: var(--color-sub-text);
}
.term_wrapper a {
  /* color: var(--color-text-brand-sub); */
  text-decoration: underline;
  cursor: pointer;
}

.sign_in_and_up_switch_area .switch_form_text {
  font-size: 16px;
  user-select: none;
  color: var(--color-sub-text);
}
.switch_link {
  cursor: pointer;
  color: var(--color-text-brand-sub);
}
.switch_link:hover {
  text-decoration: underline;
}
