.input_box {
  height: 100%;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  /* padding: 0px 6px; */
  padding: 4px 8px;
  border-radius: 2px;
}
.input_box:focus {
  box-shadow: var(--color-bg-under-input-active-box-shadow);
}
