.input_box {
  height: 100%;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  /* padding: 0px 6px; */
  /* padding: 4px 8px; */
  /* min-height: 32px; */
  /* font-size: 15px; */
  border-radius: 6px;
  cursor: pointer;
}
.input_box:focus {
  box-shadow: var(--color-bg-under-input-active-box-shadow);
}

.close_btn {
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 1;
  transform: translateY(-57%);
  /* background: #00000020; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close_btn:hover {
  background: var(--close-bg);
}

.calendar_btn {
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 1;
  transform: translateY(-57%);
  /* background: #00000020; */
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  pointer-events: none;
}
