.overlay {
  position: fixed;
  z-index: 500;
  /* z-index: 100; */
  inset: 0;
  /* background: #00000030; */
  background-color: var(--color-overlay-insert-update-modal);
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
}
/* 画面全体でのローディング */
.loading_overlay {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* モーダル内でのローディング */
.loading_overlay_modal {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #ffffff42;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.container {
  position: fixed;
  z-index: 1000;
  /* z-index: 150; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  max-width: 1150px;
  max-height: 730px;
  /* background-color: rgb(39 39 39 / 0.7); */
  background-color: var(--color-edit-bg);
  border-radius: 8px;
  /* box-shadow: inset 0px 0px 0px 1px #ffffff70, 0px 0px 0px 1px #000;
  box-shadow: inset 0 0 0 1px var(--color-modal-border); */
  /* box-shadow: var(--color-modal-inset-border); */
  box-shadow: var(--color-edit-border);
  padding: 5px;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 40px;
  /* overflow: hidden; */

  color: #333;
  color: var(--color-edit-text);
  font-family: sans-serif;
}
.main_contents_container {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 0 20px 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;
  /* overflow: hidden; */
  overflow-y: scroll;
}
.content_box {
  background: var(--color-bg-sub);
  border-radius: 6px;
}

.full_contents_wrapper {
  /* height: 100%; */
  width: 100%;
}
.left_contents_wrapper {
  height: 100%;
  width: 50%;
}
.right_contents_wrapper {
  height: 100%;
  width: 50%;
}
.left_contents_wrapper_attendees {
  height: 100%;
  width: 80%;
}
.right_contents_wrapper_attendees {
  height: 100%;
  width: 20%;
}

.row_area {
  display: flex;
  width: 100%;
  align-items: center;

  /* margin-top: 5px; */
  /* margin-top: 10px; */
  margin-top: 20px;
}
.text_area {
  height: 90px;
}
.text_area_large {
  height: 90px;
}
.text_area_xl {
  height: 120px;
}
.title_box {
  position: relative;
  padding-bottom: 5px;
}
.limited_lock_cover_half {
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 4px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
}
.limited_lock_cover_half svg {
  color: var(--color-bg-brand-f);
  /* color: var(--color-text); */
  width: 18px;
  height: 18px;
}

.title {
  color: var(--color-text-brand-f);
  color: var(--color-text-under-title);
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  /* height: 50px; */
  /* width: 100%; */
  /* padding-left: 25px; */
  font-size: 15px;
  padding-right: 25px;
  /* padding-top: 5px; */
  font-weight: 700;
  min-width: 95px;
  user-select: none;
}
.title.double {
  font-size: 15px;
}
.required_title {
  color: var(--main-color-tk);
}
.title_min {
  color: var(--color-text-brand-f);
  color: var(--color-text-under-title);
  white-space: nowrap;
  /* 右側に20px余白 */
  padding-right: 20px;
  /* min-width: 80px; */
  font-weight: 600;
}
.check_title {
  min-width: 150px;
  padding-right: 0px;
}
.value {
  color: var(--color-text-under-value);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.value_highlight {
  color: var(--color-text-brand);
}
.textarea_value {
  color: var(--color-text-under-value);
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.underline {
  min-height: 1px;
  width: 100%;
  background-color: var(--color-bg-underline);
  margin-top: 3px;
}
.divider {
  background-color: rgb(94 94 94 / 0.3);
}

.grid_select_cell_header {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.grid_select_cell_header svg {
  width: 16px;
  height: 16px;
}

.container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

  cursor: pointer;
  /*label手前にチェックボックス用の余白を開ける*/
  /* padding-left: 30px; */
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: relative;
  /* display: inline-block;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem; */
}
.grid_select_cell_header[aria-selected="true"] {
  box-shadow: inset 0 0 0 1px var(--border-theme);
}
.container input[type="checkbox"]:checked ~ svg {
  display: inline-block;
  opacity: 1;
}
.grid_select_cell_header svg {
  display: none;
  position: absolute;
  height: 1rem;
  width: 1rem;
  /* top: 9px;
  left: 14px; */
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.container input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
}
.container input[type="checkbox"]::before {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid var(--color-table-checkbox-outline);
  border-radius: 3px;
  /* margin-top: 2px; */
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  height: 1rem;
  width: 1rem;
  top: 0px;
  /* transform: translateY(-50%);
  top: 50%;
  left: 5px; */
}
.container input[type="checkbox"]:checked::before {
  /* background-color: #3fcf8e; */
  background-color: var(--checkbox-bg-color);
  border-radius: 3px;
}
.container input[type="checkbox"]:focus::before {
  /* outline: 2px solid #fff; */
  outline: 2px solid var(--color-table-checkbox-focus-outline);
  box-shadow: 0 0 3px 1px var(--color-bg-brand);
  /* outline-offset: 1px; */
  /* --tw-ring-color: var(--colors-brand5); */
  /* box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); */
}
.container input[type="checkbox"]:hover::before {
  /* border-color: #30a46c; */
  border-color: var(--border-theme-dark);
}

.row_area input[type="number"]::-webkit-inner-spin-button,
.row_area input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.row_area input[type="number"] {
  -moz-appearance: textfiled;
}

.section_title {
  color: var(--color-text-under-title);
  white-space: nowrap;
  /* 右側に20px余白 */
  /* padding-right: 20px; */
  /* min-width: 80px; */
  /* min-width: 90px; */
  min-width: 95px;
  font-weight: 600;
  font-size: 22px;
  padding-left: 12px;
}
.section_underline {
  min-height: 2px;
  width: 100%;
  background-color: var(--color-bg-brand-f);
  background-color: var(--main-color-d);
  background-color: var(--bright-green);
}

.close_btn_number {
  position: absolute;
  right: 5px;
  top: 50%;
  z-index: 100;
  transform: translateY(-57%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close_btn_number:hover {
  background: var(--close-bg);
}
.save_section_title {
  /* font-weight: 700; */
  font-size: 14px;
  color: #fff;
}
.cancel_section_title {
  /* font-weight: 700; */
  font-size: 14px;
  color: var(--color-text-title);
}
.save_section_title span,
.cancel_section_title span {
  pointer-events: none;
}

/* 同席者サイドテーブル */
.side_table {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1200;
  width: 39vw;
  /* width: 566px; */
  height: 100%;
  transform: translateX(100%);
  backdrop-filter: blur(8px);
  /* background: #00000099; */
  /* background: #000000c0; */
  background-color: var(--color-side-table-bg);
  color: #fff;
  /* background: #ffffffd0; */
  /* color: var(--color-text-title); */
  /* padding: 30px 30px 0px 30px; */
  font-family: sans-serif;
  border-left: 1px solid var(--color-side-table-border);
}
.side_table.change_member {
  z-index: 1300;
}
/* .side_table::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-left: 1px solid #ccc;
} */
.side_table.active {
  transform: translateX(0%);
}
.side_table_search_list {
}
.side_table_search_list .input_box {
  max-width: none;
  width: 100%;
  min-height: 32px;
  max-height: 32px;
  margin-left: 0px;
  font-size: 14px;
  background: #3c3c3c;
  color: #fff;
  box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
}
.side_table_search_list .select_box.change_member {
  max-width: none;
  width: 100%;
  min-height: 32px;
  max-height: 32px;
  margin-left: 0px;
  font-size: 14px;
  background: #3c3c3c;
  color: #fff;
  box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
}
.side_table_search_list:hover {
  background: var(--color-bg-brand-f30);
  /* background-color: var(--color-bg-sub); */
  /* background-color: var(--color-side-table-list-hover); */
}
.side_table_search_list:hover .select_box,
.side_table_search_list:hover .input_box {
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand-f); */
  /* box-shadow: inset 0 0 0 1px #fff; */
}
.side_table_search_list .input_box:focus {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.side_table_search_list .input_box::placeholder {
  color: #ccccccd0;
}
.side_table_search_list:hover .list_title_area {
  /* color: var(--color-bg-brand-f); */
}
.side_table_search_list:hover .list_title {
  text-decoration: underline;
}
.list_title_area {
  min-width: 140px;
}
.list_title.change_member {
  min-width: 70px;
}

.side_table_attendees_header {
  transition: background-color 0.2s ease;
  transition-delay: 0s !important;
}
.side_table_attendees_header.active {
  /* background-color: #242424; */
  background-color: var(--color-bg-brand-f);
}
.attendees_list {
  min-height: 90px;
  max-height: 90px;
  padding: 12px 0 12px 24px;
  border-radius: 6px;
}
.attendees_list:hover {
  background-color: var(--color-bg-brand-f30);
}
.attendees_list.active {
  background-color: var(--color-bg-brand-fb0);
}
.attendees_list.active:hover {
  background-color: var(--color-bg-brand-f90);
}
.attendees_list_item_Icon {
  min-height: 48px;
  min-width: 48px;
}
.stamp_list_item_Icon {
  min-height: 60px;
  min-width: 60px;
  max-height: 60px;
  max-width: 60px;
}
.attendees_list_item_lines_group {
}
.attendees_list_item_line {
  /* max-width: 420px; */
}
.stamp_list_item_lines_group {
}
.stamp_list_item_line {
}
.icon_btn {
  min-width: 28px;
  min-height: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-bg-brand50);
  box-shadow: inset 0 0 0 1px var(--color-bg-brand);
}
.icon_btn:hover {
  background-color: var(--color-bg-brand);
}
.search_icon_btn {
  min-width: 22px;
  min-height: 22px;
  border-radius: 50%;
  cursor: pointer;
  /* background-color: var(--color-bg-brand-f50); */
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand-f); */
}
.search_icon_btn svg {
  min-width: 10px;
  min-height: 10px;
  pointer-events: none;
}
.icon_path_stroke.search_icon_btn path {
  stroke: var(--color-bg-brand-f);
  pointer-events: none;
}
.icon_path_stroke.search_icon_btn:hover path {
  stroke: #fff;
}
.search_icon_btn:hover {
  background-color: var(--color-bg-brand-f);
}
.icon_path_stroke path {
  /* fill: #fff !important; */
  /* color: #fff !important; */
  stroke: #fff;
  /* stroke: var(--color-bg-brand-f); */
  /* stop-color: #fff; */
}
.icon_path_stroke path,
.icon_path_stroke svg {
  pointer-events: none;
}

.select_box {
  background: var(--color-bg-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  /* height: 30px; */
  min-height: 32px;
  padding-left: 5px;
  /* font-size: 15px; */
  font-size: 14px;
  border-radius: 6px;
  max-width: 375px;
}
.textarea_box {
  height: 100%;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  padding: 8px 10px;
  /* font-size: 15px; */
  font-size: 14px;
  border-radius: 6px;
  resize: none;
}
.textarea_box:focus {
  box-shadow: var(--color-bg-under-input-active-box-shadow);
}

.input_box {
  height: 100%;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  min-height: 32px;
  padding: 6px 8px;
  /* font-size: 15px; */
  font-size: 14px;
  border-radius: 6px;
  max-width: 375px;
  margin-left: auto;
}
.input_box.attendees {
  max-width: none;
  padding: 0px;
  min-height: 48px;
  max-width: 696px;
  overflow-x: scroll;
}
.input_box:hover.attendees {
  box-shadow: var(--color-bg-under-input-box-shadow);
}
.input_box:focus {
  box-shadow: var(--color-bg-under-input-active-box-shadow);
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand-f); */
}
.input_box:focus ~ .close_btn_number {
  display: none;
}
.input_box:hover {
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand-f); */
}
.select_box:hover {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.textarea_box:hover {
  /* box-shadow: inset 0 0 0 1px var(--color-bg-brand-f); */
}
.textarea_box:focus {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
