.btn_common {
  border: 0;
  outline: 0;
  /* background: var(--color-bg-brand); */
  /* color: #fff; */
  color: var(--navColor);
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 4px;
  /* margin-left: 10px; */
  cursor: pointer;
  font-weight: 500;
  /* hero画面横 */
  /* box-shadow: 0px 0 20px var(--header-lang-box-shadow); */
}
.language_btn {
  border: 0;
  outline: 0;
  /* background: var(--color-bg-brand); */
  /* hero画面横 */
  background-color: var(--header-lang-btn-bg) !important;
  /* color: #fff; */
  color: var(--header-lang-btn-text);
  padding: 7px 20px;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 4px;
  /* margin-left: 10px; */
  cursor: pointer;
  font-weight: 500;

  background: transparent;
  display: inline-flex;
  align-items: center;
  /* border: 1px solid #fff; */
  /* border: 1px solid var(--navColor); */
  border: 1px solid #fff;
  padding: 7px 10px;
  position: relative;
  z-index: 100;
  /* hero画面横 */
  /* text-shadow: var(--header-text-shadow) 0px 0 10px; */
}
.language_btn:hover {
  border: 1px solid var(--color-bg-brand-f);
  background-color: #00000078 !important;
  color: #fff;
}
.language_btn svg {
  width: 20px;
  margin-left: 2px;
}
.language_btn svg path {
  text-shadow: var(--header-text-shadow) 1px 0 10px;
}
.dropdown_list {
  box-shadow: inset 0px 0px 0px 1px #ffffff70, 0px 0px 0px 1px #000;
  padding: 5px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.dropdown_item {
  color: #fff;
  width: 100%;
  border-radius: 6px;
  padding: 10px 5px;
  cursor: pointer;
}
.dropdown_item:hover {
  background: var(--color-bg-brand);
  background: var(--color-bg-brand-fe0);
}
