.overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;
  /* background: #00000030; */
  background-color: var(--color-overlay-insert-update-modal);
  background-color: var(--overlay-dark99);
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
}

.preview_modal_area_twin {
  /* position: fixed; */
  position: absolute;
  z-index: 1500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* A4サイズは210mm * 297mm で 縦横比は1:1.41 */
/* A7サイズは74mm * 105mm で 縦横比は1:1.41 */
.preview_modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: calc(92vh / 1.41);
  max-height: 1240px;
  max-width: 879px;
  /* width: 80vw; */
  background-color: #fff;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
  opacity: 0;
  animation: fade 0.3s 0.1s forwards;
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.56);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  width: 35px;
  height: 35px;
  background-color: var(--color-sign-out-bg);
  cursor: pointer;
  border-radius: 50%;
}
.btn:hover {
  background-color: var(--color-sign-out-bg-hover);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}

.pdf {
  height: 100%;
  width: 100%;
  max-height: 725px;
  /* max-width: calc(725px / 1.41); */
  max-width: 514px;
  background-color: #fff;
  position: relative;
  display: flex;

  font-family: "Noto Serif JP", serif;
}
.pdf.loading {
  position: absolute;
  z-index: 10;
  height: 92vh;
  width: calc(92vh / 1.41);
  max-height: 1240px;
  max-width: 879px;
  background-color: #ffffff;
}
/* ---------------------------------- 🌟pdf横 3部構成🌟 ---------------------------------- */
.left_margin {
  height: 100%;
  width: 100%;
  /* min-width: 2%;
  max-width: 2%; */
  /* min-width: 9.5px;
  max-width: 9.5px; */
  /* min-width: 6px;
  max-width: 6px; */
  min-width: 5px;
  max-width: 5px;
  /* min-width: 4px;
  max-width: 4px; */
}
.pdf_main_container {
  height: 100%;
  width: 100%;
  /* min-width: 472px;
  max-width: 472px; */
  /* min-width: 96%;
  max-width: 96%; */
  /* min-width: 495px;
  max-width: 495px; */
  min-width: 498px;
  max-width: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_margin {
  height: 100%;
  width: 100%;
  /* min-width: 2%;
  max-width: 2%; */
  /* min-width: 9.5px;
  max-width: 9.5px; */
  /* min-width: 10px;
  max-width: 10px; */
  min-width: 11px;
  max-width: 11px;
  /* min-width: 12px;
  max-width: 12px; */
}
/* ---------------------------------- ✅pdf横 3部構成✅ ---------------------------------- */

/* ---------------------------------- 🌟pdf5部構成(上下マージン含む)🌟 ---------------------------------- */
.top_margin {
  /* 合計3% */
  height: 3%;
}
.year_section {
  /* 合計8% 年度セクションの行は２行 */
  height: 4%;
  max-height: 4%;
  display: flex;
  align-items: center;
}
.monthly_row_section {
  /* 合計72% 月度セクションの行は4行 */
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 6px; */
}
.summary_section {
  /* 合計10% */
  /* height: 11%; */
  height: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.remarks_section {
  /* 合計4% */
  /* height: 5%; */
  height: 5%;
  /* min-height: 39px;
  max-height: 39px; */
  min-height: 33px;
  max-height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.bottom_margin {
  /* 合計3% */
  /* height: 3%; */
  /* height: 2%; */
  height: 1%;
}
/* ---------------------------------- ✅pdf5部構成(上下マージン含む)✅ ---------------------------------- */

/* 🌟monthly_row_section🌟 */
.monthly_row_section .month {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.monthly_row_section .month .month_title {
  font-weight: 800;
  font-size: 22px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  /* line-height: 27px; */
  line-height: 25px;
  padding-right: 5px;
  min-width: 33px;
  max-width: 33px;
}
.monthly_row_section .month .month_title span {
  /* width: 100%; */
  transform: scaleX(1) scaleY(1.1);
  text-align: center;
}
.monthly_row_section .month .month_grid_container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  /* font-weight: 800; */
  font-size: 12px;
  min-width: 133px;
  max-width: 133px;
}
.monthly_row_section .month .month_grid_container .month_row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthly_row_section .month .month_grid_container .month_row_date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthly_row_section .month .month_grid_container .month_date_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell.date {
  border-radius: 50%;
  cursor: pointer;
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell.date:hover {
  border-radius: 50%;
  background-color: var(--color-bg-brand-f);
  color: #fff;
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell.out_of_fiscal_year {
  color: #ccc;
  /* border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}
/* ✅monthly_row_section✅ */
/* 🌟summary_section🌟 */

/* ✅summary_section✅ */

/* ----------------- settings_menu ----------------- */

.settings_menu {
  z-index: 3500;
  /* background-color: var(--color-sign-out-bg); */
  /* background-color: #00000090; */
  background-color: #303030;
  /* box-shadow: inset 0px 0px 0px 1px #cccccc90, 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33; */
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  color: #fff;
  font-size: 13px;
  /* opacity: 0; */
  /* transform: translateY(-5%); */
  /* animation: fade_up5 0.3s ease forwards; */
}
.settings_menu .scroll_container {
  /* max-height: 33vh; */
  max-height: 39vh;
}
.settings_menu .list {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list:hover {
  background-color: var(--color-bg-brand-f30);
}
.settings_menu .section_title {
  /* padding: 10px 20px 5px; */
  padding: 10px 20px 6px;
}
.settings_menu .section_title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.settings_menu .list.test:nth-of-type(odd) {
  /* background-color: #fff; */
}
.settings_menu .list.test:nth-of-type(even) {
  /* background-color: #333; */
}
/* ============ inputスライダー ============ */
.settings_menu input[type="range"] {
  position: relative;
  height: 4px;
  /* max-width: 75px; */
  max-width: 120px;
  /* デフォルトのスライダーを消してカスタムに変更 */
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  background: linear-gradient(to right, #0d99ff 50%, #999 50%);
  background: var(--linear-gradient);
}
.settings_menu input[type="range"].input_range::-webkit-slider-runnable-track {
  height: 4px;
}
.settings_menu input[type="range"].input_range::-moz-range-track {
  height: 4px;
}
/* Thumbのスタイル */
.settings_menu input[type="range"].input_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #0d99ff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}
.settings_menu input[type="range"].input_range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #0d99ff;
  cursor: pointer;
  border-radius: 50%;
}
/* Firefoxでのバーの背景色を変更 */
.settings_menu input[type="range"]::-moz-focus-outer {
  border: 0;
}
.settings_menu input[type="range"]::after {
  /* content: "16"; */
  content: attr(data-text);
  position: absolute;
  top: -28px;
  right: 0;
  /* top: 50%; */
  /* left: -35px; */
  /* transform: translateY(-50%); */
  font-size: 13px;
  color: #fff;
}
/* ============ inputスライダー ============ */
.menu_overlay {
  position: fixed;
  z-index: 3200;
  left: -50vw;
  top: -50vh;
  width: 150vw;
  height: 150vh;
  /* background-color: #ffffff60; */
}

@keyframes fade_up5 {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.description_menu {
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  /* background-color: var(--color-black-bg); */
  background-color: #303030;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
  max-width: 400px;
  color: #fff;
}
.description_menu .title {
  padding: 20px 24px 0px;
}
.description_menu .title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.description_menu .u_list {
  margin: 5px 10px 10px;
  /* box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f); */
  /* background-color: var(--color-black-bg-re); */
}
.description_menu .u_list .dropdown_list_item {
  width: 100%;
  padding: 10px 14px;
  user-select: none;
}
.select_box {
  /* box-shadow: var(--color-bg-under-input-box-shadow);
  background: var(--color-bg-under-input); */
  box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
  /* background: #3c3c3c; */
  font-size: 14px;
  background-color: #484848;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.1s ease;
  min-height: 30px;
  /* min-width: 185px; */
  /* min-width: 120px; */
  /* max-width: 400px; */
  width: 100%;
  /* width: fit-content; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
.select_box:hover {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
.edit_btn {
  /* background-color: #ffffff20; */
  background-color: #484848;
  user-select: none;
  white-space: nowrap;
  cursor: pointer;
  /* box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000; */
  padding: 7px 22px;
  border-radius: 8px;
}
.edit_btn:hover {
  background-color: #555;
}
.edit_btn.brand:hover {
  background-color: var(--color-bg-brand-f90);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}

/* ----------------- settings_menuここまで ----------------- */

/* 説明アイコン用ping */
@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
.animate_ping {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
