.overlay {
  position: fixed;
  z-index: 1000;
  inset: 0;
  /* background: #00000030; */
  background-color: var(--color-overlay-insert-update-modal);
  background-color: var(--overlay-dark99);
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
}

.preview_modal_area_twin {
  /* position: fixed; */
  position: absolute;
  z-index: 1500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* A4サイズは210mm * 297mm で 縦横比は1:1.41 */
/* A7サイズは74mm * 105mm で 縦横比は1:1.41 */
.preview_modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: calc(92vh / 1.41);
  max-height: 1240px;
  max-width: 879px;
  /* width: 80vw; */
  background-color: #fff;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
  opacity: 0;
  animation: fade 0.3s 0.1s forwards;
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.56);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn {
  width: 35px;
  height: 35px;
  background-color: var(--color-sign-out-bg);
  cursor: pointer;
  border-radius: 50%;
}
.btn:hover {
  background-color: var(--color-sign-out-bg-hover);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}

.pdf {
  height: 100%;
  width: 100%;
  max-height: 725px;
  /* max-width: calc(725px / 1.41); */
  max-width: 514px;
  background-color: #fff;
  position: relative;
  display: flex;

  font-family: "Noto Serif JP", serif;
}
.pdf.loading {
  position: absolute;
  z-index: 10;
  height: 92vh;
  width: calc(92vh / 1.41);
  max-height: 1240px;
  max-width: 879px;
  background-color: #ffffff;
}
/* ---------------------------------- 🌟pdf横 3部構成🌟 ---------------------------------- */
.left_margin {
  height: 100%;
  width: 100%;
  /* min-width: 2%;
  max-width: 2%; */
  /* min-width: 9.5px;
  max-width: 9.5px; */
  min-width: 6px;
  max-width: 6px;
}
.pdf_main_container {
  height: 100%;
  width: 100%;
  /* min-width: 472px;
  max-width: 472px; */
  /* min-width: 96%;
  max-width: 96%; */
  /* min-width: 495px;
  max-width: 495px; */
  min-width: 498px;
  max-width: 498px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_margin {
  height: 100%;
  width: 100%;
  /* min-width: 2%;
  max-width: 2%; */
  /* min-width: 9.5px;
  max-width: 9.5px; */
  min-width: 10px;
  max-width: 10px;
}
/* ---------------------------------- ✅pdf横 3部構成✅ ---------------------------------- */

/* ---------------------------------- 🌟pdf5部構成(上下マージン含む)🌟 ---------------------------------- */
.top_margin {
  /* 合計3% */
  height: 3%;
}
.year_section {
  /* 合計8% 年度セクションの行は２行 */
  height: 4%;
  max-height: 4%;
  display: flex;
  align-items: center;
}
.monthly_row_section {
  /* 合計72% 月度セクションの行は4行 */
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 6px; */
}
.summary_section {
  /* 合計10% */
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.remarks_section {
  /* 合計4% */
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom_margin {
  /* 合計3% */
  height: 3%;
}
/* ---------------------------------- ✅pdf5部構成(上下マージン含む)✅ ---------------------------------- */

/* 🌟monthly_row_section🌟 */
.monthly_row_section .month {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.monthly_row_section .month .month_title {
  font-weight: 800;
  font-size: 22px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  line-height: 27px;
  padding-right: 5px;
}
.monthly_row_section .month .month_title span {
  /* width: 100%; */
  transform: scaleX(1) scaleY(1.1);
  text-align: center;
}
.monthly_row_section .month .month_grid_container {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  /* font-weight: 800; */
  font-size: 12px;
}
.monthly_row_section .month .month_grid_container .month_row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthly_row_section .month .month_grid_container .month_row_date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthly_row_section .month .month_grid_container .month_date_container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell {
  display: flex;
  align-items: center;
  justify-content: center;
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell.date {
  border-radius: 50%;
  cursor: pointer;
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell.date:hover {
  border-radius: 50%;
  background-color: var(--color-bg-brand-f);
  color: #fff;
}
.monthly_row_section .month .month_grid_container .month_date_container .month_grid_cell.out_of_fiscal_year {
  color: #ccc;
  /* border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc; */
}
/* ✅monthly_row_section✅ */
/* 🌟summary_section🌟 */

/* ✅summary_section✅ */
