.overlay {
  position: fixed;
  z-index: 500;
  /* z-index: 100; */
  inset: 0;
  background: #00000050;
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
}
.loading_overlay {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: fixed;
  z-index: 1000;
  /* z-index: 150; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  max-width: 1150px;
  max-height: 730px;
  /* background-color: rgb(39 39 39 / 0.7); */
  /* background-color: var(--color-edit-bg); */
  border-radius: 8px;
  /* box-shadow: inset 0px 0px 0px 1px #ffffff70, 0px 0px 0px 1px #000;
  box-shadow: inset 0 0 0 1px var(--color-modal-border); */
  /* box-shadow: var(--color-modal-inset-border); */
  box-shadow: var(--color-edit-border);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 5px;
  padding: 15px 40px; */
  padding: 1px;
  /* overflow: hidden; */

  color: #333;
  color: var(--color-edit-text);
  font-family: sans-serif;
}
.main_contents_container {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  position: relative;
  /* padding: 0px 0 20px 0; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-between; */
  justify-content: flex-start;
  align-items: center;
  /* overflow: hidden; */
  overflow-y: scroll;
}

.left_container {
  /* padding: 60px 6px 60px 20px; */
  padding: 20px 6px 20px 20px;
  /* background-color: #333;
  background-color: #eee; */
  background-color: var(--setting-side-bg);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.content_box {
  background: var(--color-bg-sub);
  border-radius: 6px;
}

.full_contents_wrapper {
  /* height: 100%; */
  width: 100%;
}
.left_contents_wrapper {
  height: 100%;
  width: 50%;
}
.right_contents_wrapper {
  height: 100%;
  width: 50%;
}

.row_area {
  display: flex;
  width: 100%;
  align-items: center;

  /* margin-top: 5px; */
  /* margin-top: 10px; */
  margin-top: 20px;
}
.text_area {
  height: 60px;
}
.text_area_large {
  height: 90px;
}
.text_area_xl {
  height: 120px;
}
.title_box {
  position: relative;
  padding-bottom: 5px;
}
.limited_lock_cover_half {
  position: absolute;
  z-index: 1;
  left: 0px;
  bottom: 4px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
}
.limited_lock_cover_half svg {
  color: var(--color-bg-brand-f);
  /* color: var(--color-text); */
  width: 18px;
  height: 18px;
}

.title {
  color: var(--color-text-brand-f);
  color: var(--color-text-under-title);
  white-space: nowrap;
  /* 右側に20px余白 */
  /* padding-right: 20px; */
  /* min-width: 80px; */
  /* min-width: 90px; */
  min-width: 95px;
  font-weight: 600;
}
.title {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  /* height: 50px; */
  /* width: 100%; */
  /* padding-left: 25px; */
  padding-right: 25px;
  /* padding-top: 5px; */
  font-weight: 700;
  font-size: 18px;
}
.title_min {
  color: var(--color-text-brand-f);
  color: var(--color-text-under-title);
  white-space: nowrap;
  /* 右側に20px余白 */
  padding-right: 20px;
  /* min-width: 80px; */
  font-weight: 600;
}
.check_title {
  /* min-width: 150px; */
  padding-right: 0px;
}
.value {
  color: var(--color-text-under-value);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.value_highlight {
  color: var(--color-text-brand);
}
.textarea_value {
  color: var(--color-text-under-value);
  overflow: hidden;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.input_box {
  height: 40px;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  /* padding: 0px 6px; */
  padding: 4px 10px;
  border-radius: 6px;
}
.input_box:focus {
  box-shadow: var(--color-bg-under-input-active-box-shadow);
}
.underline {
  min-height: 1px;
  width: 100%;
  margin-top: 3px;
  background-color: var(--color-bg-underline);
}
.divider {
  background-color: rgb(94 94 94 / 0.3);
}
.textarea_box {
  height: 100%;
  width: 100%;
  background: var(--color-bg-under-input);
  color: var(--color-text-under-input);
  box-shadow: var(--color-bg-under-input-box-shadow);
  padding: 3px 6px;
  border-radius: 2px;
  resize: none;
}
.select_box {
  box-shadow: var(--color-bg-under-input-box-shadow);
  padding-left: 5px;
  height: 30px;
  background: var(--color-bg-under-input);
}

.grid_select_cell_header {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.grid_select_cell_header svg {
  width: 16px;
  height: 16px;
}

.container input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

  cursor: pointer;
  /*label手前にチェックボックス用の余白を開ける*/
  /* padding-left: 30px; */
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: relative;
  /* display: inline-block;
  user-select: none;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem; */
}
.grid_select_cell_header[aria-selected="true"] {
  box-shadow: inset 0 0 0 1px var(--border-theme);
}
.container input[type="checkbox"]:checked ~ svg {
  display: inline-block;
  opacity: 1;
}
.grid_select_cell_header svg {
  display: none;
  position: absolute;
  height: 1rem;
  width: 1rem;
  /* top: 9px;
  left: 14px; */
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.container input[type="checkbox"]::before {
  content: "";
  display: block;
  position: absolute;
}
.container input[type="checkbox"]::before {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid var(--color-table-checkbox-outline);
  border-radius: 3px;
  /* margin-top: 2px; */
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  height: 1rem;
  width: 1rem;
  top: 0px;
  /* transform: translateY(-50%);
  top: 50%;
  left: 5px; */
}
.container input[type="checkbox"]:checked::before {
  /* background-color: #3fcf8e; */
  background-color: var(--checkbox-bg-color);
  border-radius: 3px;
}
.container input[type="checkbox"]:focus::before {
  /* outline: 2px solid #fff; */
  outline: 2px solid var(--color-table-checkbox-focus-outline);
  box-shadow: 0 0 3px 1px var(--color-bg-brand);
  /* outline-offset: 1px; */
  /* --tw-ring-color: var(--colors-brand5); */
  /* box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow); */
}
.container input[type="checkbox"]:hover::before {
  /* border-color: #30a46c; */
  border-color: var(--border-theme-dark);
}
.select_box {
  box-shadow: var(--color-bg-under-input-box-shadow);
  padding-left: 5px;
  background: var(--color-bg-under-input);
  /* min-height: 32px; */
  min-height: 40px;
  border-radius: 6px;
}
.section_title {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text-title);
  user-select: none;
}
.section_title.active {
  color: var(--color-text-brand-f);
}
.save_section_title {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.section_value {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text-title);
}

.close_btn_number {
  position: absolute;
  right: 50px;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.close_btn_number:hover {
  background: var(--close-bg);
}
.input_box:focus ~ .close_btn_number {
  display: none;
}

.modal {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68vw;
  height: 75vh;
  max-width: 980px;
  max-height: 610px;
  /* width: 80vw;
  height: 90vh; */
  /* width: 56vw;
  height: 63vh; */
  border-radius: 8px;
  background-color: var(--color-edit-bg-solid);
  box-shadow: var(--color-edit-border);
  /* overflow: hidden; */
  padding: 1px;
}
.modal_right_container {
  /* background-color: var(--setting-side-bg); */
  /* background-image: url("/assets/images/beautiful/ocean2.jpg"); */
  /* background-image: url("/assets/images/beautiful/balloon1.jpg"); */
  /* background-image: url("/assets/images/beautiful/firework2.jpg"); */
  /* background-image: url("/assets/images/beautiful/road-sun1.jpg"); */
  /* background-image: url("/assets/images/beautiful/star1.jpg"); */
  /* background-image: url("/assets/images/beautiful/sunset1.jpg"); */
  /* background-image: url("/assets/images/beautiful/tech-art1.jpg"); */
  /* background-image: url("/assets/images/team/team1.jpg"); */
  /* background-image: url("/assets/images/team/team02.jpg"); */
  background-color: var(--color-modal-bg-side-c);
  background-position: 30% 50%;
  /* background-image: url("/assets/images/team/priscilla-du-preez-XkKCui44iM0-unsplash.jpg");
  background-position: 30% 50%; */
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.modal_overlay {
  position: fixed;
  z-index: 0;
  top: -100%;
  left: -100%;
  width: 200vw;
  height: 200vh;
  /* background: #ffffff50; */
  background: #00000020;
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
  /* border-radius: 8px; */
}

.skeleton {
  /* width: 100%;
  height: 20px; */
  /* background: #d9d9d9; */
  background: var(--color-skeleton-bg);
  position: relative;
  overflow: hidden;
}
.skeleton::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg, transparent, rgba(#fff, 0.5), transparent); */
  background: linear-gradient(90deg, transparent, var(--color-skeleton-bg-wave), transparent);
  /* background: red; */
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  /* animation: skeletonAnimation 1.2s linear infinite; */
  animation: skeletonAnimation 1.2s linear infinite;
}

.skeleton_delay {
  /* width: 100%;
  height: 20px; */
  /* background: #d9d9d9; */
  background: var(--color-skeleton-bg);
  position: relative;
  overflow: hidden;
}
.skeleton_delay::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(90deg, transparent, rgba(#fff, 0.5), transparent); */
  background: linear-gradient(90deg, transparent, var(--color-skeleton-bg-wave), transparent);
  /* background: red; */
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  animation: skeletonAnimation 1.2s linear infinite;
  animation-delay: 0.4s;
}

@keyframes skeletonAnimation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.tooltip_right_area {
  position: absolute;
  top: -40px;
  left: -38px;
  /* transform: translateX(-50%); */
  /* z-index: 10; */
  z-index: 1500;
}
.tooltip_right {
  min-width: 100px;
  max-width: 100px;
  min-height: fit-content;
  padding: 3px 7px;
  background: #282828;
  transition-delay: 0.5s;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 1px #ffffff80, 0px 0px 0px 1px #000;
  display: flex;
  flex-direction: row-reverse;
}
.tooltip_right_arrow {
  content: "";
  position: absolute;
  z-index: -1;
  top: 26px;
  /* right: 18px; */
  /* transform: translateX(-50%) rotate(135deg); */
  right: 40px;
  transform: translateX(-50%) rotate(135deg);
  transform-origin: center center;
  background: var(--color-tooltip-arrow);
  width: 8px;
  height: 8px;
  /* border-top: 4px solid #000; */
}
.dropdown_item {
  color: #fff;
  width: 100%;
  border-radius: 6px;
  padding: 3px 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  /* direction: rtl; */
  white-space: nowrap;
}
.dropdown_item:hover {
  background: var(--color-bg-brand);
}
.dropdown_item span {
  margin-right: auto;
}
.fade {
  animation: fade 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* 事業部タグスクロールエリア */
.scroll_icon_area {
  position: absolute;
  top: 0;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}
.scroll_icon_area:first-child {
  left: 0;
  /* background: linear-gradient(90deg, #fff 70%, transparent); */
  background: linear-gradient(90deg, var(--color-edit-bg-solid) 70%, transparent);
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}
.scroll_icon_area:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, var(--color-edit-bg-solid) 70%, transparent);
}
.scroll_icon {
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
  transition: background-color 0.2s ease;
}
.scroll_icon:hover {
  background-color: var(--color-bg-brand-f05);
  background-color: var(--color-bg-sub);
}
.scroll_icon svg {
  transition: fill 0.2s ease, transform 0.2s ease;
}
.scroll_icon:hover svg {
  transform: scale(1.2);
  fill: var(--color-bg-brand-f);
}
.department_tag_container:hover .scroll_icon_area .scroll_icon {
  opacity: 1;
}
.department_tag_container.inactive:hover .scroll_icon_area .scroll_icon {
  opacity: 0;
}
.delete_btn {
  position: absolute;
  right: 0;
  /* top: -51px; */
  z-index: 10;
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--setting-side-bg-select);
  min-width: 78px;
  padding: 10px 25px;
  animation: slide 0.5s ease forwards;
}
.delete_btn:hover {
  background-color: var(--setting-side-bg-select-hover);
}
@keyframes slide {
  0% {
    top: 0;
    opacity: 0;
  }
  100% {
    top: -51px;
    opacity: 1;
  }
}
