.contents_area {
  width: 100%;
  max-width: 100%;
  padding: 20px 32px 20px 30px;
  display: grid;
  row-gap: 20px;
}
.contents_area .grid_row {
  width: 100%;
  max-width: calc(100vw - 72px - 62px);
  /* max-width: calc(100vw - 62px); */
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
}
.contents_area .grid_row.col1 {
  grid-template-columns: 1fr;
}
.contents_area .grid_row.col2 {
  grid-template-columns: repeat(2, 1fr);
}
.contents_area .grid_row.col3 {
  grid-template-columns: repeat(3, 1fr);
}

.contents_area .grid_row .grid_content_card {
  /* min-height: 300px; */
  min-height: max-content;
  width: 100%;
  max-width: calc(100vw - 72px - 62px);
  /* max-width: calc(100vw - 62px); */
  background: var(--color-sales-card-bg);
  /* background: var(--color-sales-card-bg-single); */
  box-shadow: var(--color-sales-card-border);
  border-radius: 12px;
  transition: box-shadow 0.5s ease;
}
.contents_area .grid_row .grid_content_card .card_wrapper {
  /* background: var(--color-sales-card-bg);
  border-radius: 12px; */
  /* box-shadow: var(--color-sales-card-border); */
  /* transition: box-shadow 0.5s ease; */
}

/* 🌟スティッキー */
.sticky_row {
  position: sticky;
  top: 15px;
  bottom: 15px;
  /* position: fixed;
  top: 66px; */
  z-index: 100;
  /* display: flex; */
}
.contents_area .grid_row.sticky_row .grid_content_card {
  box-shadow: var(--color-sales-card-border-sticky);
}

.contents_area .grid_row .grid_content_card .card_title_area {
  padding: 15px 24px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contents_area .grid_row .grid_content_card .card_title_area .card_title {
  font-size: 18px;
  font-weight: 600;
}

.main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px 15px 0px;
  min-height: calc(300px - 47px);
  overflow: auto;
}
