/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

/* Supabase */
/* background-color #40bf86 border #2b825b */

.button {
  position: relative;
  z-index: 1;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 14px 40px; */
  /* padding: 5px 15px; */
  /* border-radius: 45px; */
  /* border-radius: 45px; */
  /* margin: 0 15px; */
  /* width: 90px;
  height: 28px; */
  text-decoration: none;
  /* box-shadow: 0 3px 5px -2px #21253840; */
  overflow: hidden;
  /* box-shadow: inset 0px 0px 0px 1px #ffffffa0, 0px 0px 0px 1px #aaa; */
  /* box-shadow: var(--color-btn-box-shadow); */
  background: var(--bg-color, var(--color-btn-brand-f));
  /* background: var(--bg-color, --color-bg-brand-f50); */
  /* background: var(--color-bg-brand-f); */
  /* background: var(--color-bg-brand-f90); */
  /* border: 1px solid var(--color-btn-brand-f-hover); */
  border: 1px solid var(--border-color, var(--color-bg-brand-f));
  /* border: 1px solid var(--border-color, --color-bg-brand-f); */
  /* border: 1px solid transparent; */
  /* border: 1px solid #fff; */
  /* border: 1px solid #2b7fff; */
  /* box-shadow: inset 0px 0px 0px 1px #cccccc90, 0px 0px 0px 1px #33333390; */
  /* box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #2b7fff; */
  border-radius: 4px;
  /* background-color: #2b825b;
  border: 1px solid #40bf86; */
}
.button:hover {
  /* background-color: #40bf86; */
  background-color: var(--bg-color-hover, --color-btn-brand-f-hover);
}
.button:active {
  background-color: var(--color-bg-brand-fc0);
}
.button.hover_green:hover {
  color: var(--bright-green) !important;
  border: 1px solid var(--bright-green);
  background: var(--bright-green30) !important;
  /* color: #fff !important;
  border: 1px solid var(--bright-green);
  background: var(--bright-green) !important; */
}
.button.hover_green:active {
  background: var(--bright-green60) !important;
  /* background: var(--bright-green90) !important; */
}
.button_re {
  position: relative;
  z-index: 1;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 3px 5px -2px #21253840;
  overflow: hidden;
  background: var(--color-btn-brand-f-re);
  border: 1px solid var(--border-color, var(--color-bg-brand-f));
  /* background-color: #2b825b;
  border: 1px solid #40bf86; */
}
.button_re:hover {
  /* background-color: #40bf86; */
  background-color: var(--color-btn-brand-f-hover);
}
.overlay {
  /* content: attr(data-text); */
  position: absolute;
  /* position: fixed; */
  z-index: 10;
  height: 400px;
  width: 400px;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
  animation: blink 0.5s linear infinite;
}
@keyframes blink {
  0% {
    height: 0px;
    width: 0px;
    opacity: 0.5;
  }
  100% {
    height: 400px;
    width: 400px;
    opacity: 0;
  }
}

.on_brand_bg {
  background-color: #33333390;
  border: 1px solid #ccc;
}
.on_brand_bg.active {
  background-color: #ffffff90;
  border: 1px solid #fff;
}
.on_brand_bg.active:hover {
  background-color: #ffffff;
  color: var(--color-bg-brand-f);
}
