@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */

  /* Discordフォント */
  --font-family-discord: "gg sans", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3",
    "Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic", "Noto Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  /* Discordフォンt */
  --font-display-discord: "gg sans", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3",
    "Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic", "Noto Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  /* Stripeフォント */
  --font-family-str: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
  /* Revolutフォント */
  --font-family-revolut: "Basier Circle", sans-serif;
  --off-white: #f6f6f6;
  --off-black: #141414;
  --not-quite-black: #23272a;
  --caret-color-blue: #1da1f2;
  --caret-color-light-blue: #02e7f5;
  /* TikTok */
  --caret-color-red: #ff3b5b;
  /* 現在のメインロゴ: #2B7FFF
  現在のメインロゴ: #0AFFFF */
  --main-color-blue: #2b7fff;
  --main-color-blue-rgb: 43, 127, 255;
  --main-color-light: #0affff;
  --main-color-light-rgb: 10, 255, 255;
  --main-color-d: #02e7f5;
  --main-color-tk: #ff3b5b;
  --main-color-tk-blue: #00f2ea;

  /* ビビッドカラー */
  --bright-green: #00d436;
  --bright-green-rgb: 0, 212, 54;
  --bright-red: #f63e54;
  /* TikTok */
  --color-red-tk: #ff3b5b;

  /* インプット */
  --input-area-bg: rgba(242, 241, 238, 0.6);
  --input-area-bg-rgb: 242, 241, 238;

  --checkbox-bg-color: #0d99ff;
  --border-theme-dark: #0c8ce9;

  /* ボーダー */
  /* rgba(255, 255, 255, 0.12) 0px 1px 1px */
}

@media screen and (min-width: 1024px) {
  :root {
    --num-grid-columns: 12;
    --section-spacing: 120px;
  }
}
@media screen and (min-width: 768px) {
  :root {
    --num-grid-columns: 8;
    --page-gutter: 40px;
    --section-spacing: 80px;
  }
}

/* ===================================== 🌈 ===================================== */
.theme_light {
  /* 
  --color-bg-brand
  現在のメイン: #0066ff
  Figma: #0d99ff
  Next.js: #0070f3
  現在のメインロゴ: #2B7FFF
  現在のメインロゴ: #0AFFFF
  Discord: #0063e5
  Wiz: #0254ec
  Disney+: #0063e5
  Disney+ caret: #02e7f5
  TikTok: #ff0050
  TikTokボタン: #FF3B5B
  Apple dark, light一緒メイン: #0071e3
  Apple dark メインテキスト: #2997ff
  Apple light メインテキスト: #06c
  Apple light 緑テキスト --bright-green: #00d436
  Apple light 青テキスト --azure: #027fff
  Apple light 紫テキスト --indigo: #622aff
  Apple light グラデーションテキスト background-image: linear-gradient(90deg,#b434ab 0%,#866cbe 30%,#4dbbd8);
  */

  --hero-img: url("/assets/images/hero/hero_white3.png");
  --hero-overlay: transparent;
  --hero-text: rgba(0, 0, 0, 0.9);
  --hero-text-shadow: transparent;
  --input-border: #00000020;
  --cta-btn: rgba(var(--color-bg-brand-rgb), 1);
  --cta-btn-hover: rgba(var(--color-bg-brand-rgb), 0.8);
  --header-text-shadow: transparent;
  --header-text-shadow-hover: transparent;
  --header-lang-box-shadow: transparent;
  --header-lang-btn-bg: transparent;
  --select-menu-bg: #f2f2f2;
  --setting-side-bg: #eee;
  --setting-side-bg-select: #00000013;
  --setting-side-bg-select-hover: #00000025;
  --close-bg: #eee;
  /* --setting-side-bg-select-deep: #00000055; */

  /* Canva 背景 #fff 背景サブ rgba(64,87,109,.07) #40576d12 */
  --color-bg-base: #fff;
  --color-bg-sub: rgba(64, 87, 109, 0.07);
  --color-bg-sub-deep: rgba(57, 76, 96, 0.15);
  --color-bg-sub-re: rgba(64, 87, 109, 0.08);
  --color-bg-sub-re-hover: rgba(57, 76, 96, 0.15);
  /* sub figma #f5f5f5 canva #40576d12 */
  --color-bg: #fff; /* メイン背景カラー */
  --color-bg2: #fff; /* メイン背景カラー */
  --color-bg-secondary: #f5f5f5; /* サブ背景カラー グレー */
  --color-bg-hp-main: #fff;
  --color-bg-hp-sub: var(--off-white);
  --color-horizon: #999;
  --color-accordion-bg: #eee;
  --color-accordion-bg-hover: #ddd;
  --color-input-bg: rgba(225, 225, 225, 0.6);
  --color-wrap-box-shadow: rgb(0 0 0 / 29%) 0px 16px 38px -10px, rgb(0 0 0 / 45%) 0px 14px 10px -10px;
  --color-wrap-box-shadow-hover: rgb(0 0 0 / 69%) 0px 26px 58px -10px, rgb(0 0 0 / 45%) 0px 16px 10px -10px;
  --color-auth-modal-switch-text: #fff;
  --color-auth-modal-or-text: #ccc;
  --color-auth-modal-bg: #282828;

  --color-wrap-border: rgba(220, 220, 220, 0.6);

  --color-header-bg-active: rgba(64, 87, 109, 0.07);
  /* ブランドカラー　 */
  --color-bg-brand: #0066ff;
  --color-bg-brand-rgb: 13, 153, 255;
  --color-bg-brand-f: #0d99ff; /* Figma */
  --color-bg-brand-f-hover: #0d99ff90;
  --color-bg-brand-f05: #e5f4ff;
  --color-bg-brand-f10: #0d99ff10;
  --color-bg-brand-f30: #0d99ff30;
  --color-bg-brand-f50: #0d99ff50;
  --color-bg-brand-f70: #0d99ff70;
  --color-bg-brand-f08: #0d99ff90;
  --color-bg-brand-f90: #0d99ff90;
  --color-bg-brand-fa0: #0d99ffa0;
  --color-bg-brand-fb0: #0d99ffb0;
  --color-bg-brand-fc0: #0d99ffc0;
  --color-bg-brand-fe0: #0d99ffe0;
  --color-bg-brand-f-deep: #0c88e1;
  --color-bg-brand05: #0d99ff80;
  --color-bg-brand-hover: #007be5;
  --color-bg-brand-hover-main: #3183ff;
  --color-bg-brand-pressed: #007be5;
  --color-bg-brand-secondary: #0768cf;
  --color-bg-brand-light: #0affff;
  --color-bg-brand-sub: #2b7fff;
  --color-bg-brand-sub08: #2b7fff90;
  --color-bg-brand-sub-deep: #2b7fff;
  --color-bg-brand-sub-rgb: 43, 127, 255;
  --color-bg-brand-sub-hover: #2571e2;

  /* ===================== 🌟テーブル light ブルーテーマ ===================== */
  --color-bg-table-header: #f5f5f5;
  /* --color-bg-brand-table-tab: #0d99ffd0; */
  --color-bg-brand-table-tab: #2b7fffe0;
  --color-bg-brand-table-tab: linear-gradient(to top right, #2b7fff, #0affff50);
  /* --color-bg-brand-table-tab: #fff; */
  /* --color-bg-brand-table-tab: #e2f0fd; */
  /* --color-bg-brand-table-tab: linear-gradient(to top left, #2b7fff, #acffff); */
  --color-shadow-border: #ffffff70;
  --color-border-table: #ccc;
  --color-border-table-deep: #aaa;
  /* --color-border-table: #e6e6e6; */
  /* --color-table-header: #40576d18; */
  /* ヘッダーブルー 🌟ブルーならこれ */
  --color-table-header: #e2f0fd;
  /* --color-table-header: #0d99ff20; */
  /* --color-table-header: #ecf4fc; */
  /* ヘッダーモノクロ 🌟モノクロならこれ */
  /* --color-table-header: #ececec; */
  /* --color-table-header: #f0f0f0; */
  --color-table-header: #f4f4f4;
  /* --color-table-header: #f3f3f3; */
  /* フッターブルー */
  /* --color-table-footer: #e2f0fd90; */
  /* フッターモノクロ */
  /* --color-table-footer: #eee; */
  --color-table-cell-bg: #fff;
  --color-table-footer: #fff;
  --color-table-bg-loading: #fff;
  /* リフレクション ブルー */
  --color-table-reflection: #0d99ff30;
  /* --color-table-reflection: #d9eafb; */
  --color-table-loading-spinner: #0d99ffd0;
  /* --color-table-row-hover: #ecf4fca0; */
  /* --color-table-row-hover: rgba(55, 53, 47, 0.08); */
  /* --color-table-row-hover: #f0f0f0; */
  --color-table-row-hover: #f8f8f8;
  --color-table-bg-selected: #f3f3f3;
  --color-table-checkbox-outline: #ccc;
  --color-table-checkbox-focus-outline: #fff;
  --color-table-dragging-gradient: #2b7fff #acffff;
  --color-function-header-text-btn-hover: #3593ffe0;
  --color-function-header-text-btn-active: #0c88e1;

  /* ===================================== 🌟テーブル 下画面 light🌟 ===================================== */
  /* --color-bg-under-tab-header: var(--color-bg-secondary);
  --color-bg-under-function-header: var(--color-bg-secondary); */
  /* --color-bg-under-tab-header: #e2f0fd;
  --color-bg-under-function-header: #e2f0fd; */
  /* タブヘッダー */
  --color-bg-under-tab-header: #0d99ff20;
  --color-bg-under-tab-header: var(--color-table-header);
  --color-bg-under-tab-active: var(--color-bg-brand-f);
  /* ファンクションヘッダー */
  --color-bg-under-function-header: #0d99ff20;
  /* タイトル */
  /* --color-text-under-title: #333; */
  /* --color-text-under-title: #252525; */
  --color-text-under-title: #121212;
  --color-text-under-title: #282828;
  --color-text-under-value: #424242;
  /* インプットボックス */
  --color-bg-under-input: #fff;
  --color-bg-under-input-box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #ccc;
  --color-bg-under-input-active-box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f);
  --color-text-under-input: #252525;
  --color-bg-underline: rgb(94 94 94 / 0.3);
  --color-bg-under-sub: rgb(0 0 0 / 0.1);
  --color-bg-under-back: rgb(0 0 0 / 0);
  /* --color-bg-under-header: #ececec; */
  --color-bg-under-header: var(--color-table-header);
  /* --color-bg-under-back: rgb(255 255 255 / 0.05); */
  /* 右側 活動履歴 */
  --color-right-under-bg-cell: #fff;
  --color-right-under-header-text: var(--color-bg-brand-sub);
  --color-disabled: #ccc;

  /* グラデーション light */
  --color-bg-brand-gradient: linear-gradient(to top left, #2b7fff, #acffff);

  /* ===================================== 🌟サイドばー ライト ===================================== */
  /* --color-sidebar-active: #e5f4ff; */
  /* --color-sidebar-active: #2b7fff; */
  --color-sidebar-active: #0d99ff;
  /* --color-sidebar-active: #ddf0fe; */
  /* --color-sidebar-active: #3eabfa; */

  /* ボタン 🌈ライト */
  /* --color-btn-brand-f: linear-gradient(to top right, #2b7fff, #0affff50); */
  /* --color-btn-brand-f: var(--color-bg-brand-f);
  --color-btn-brand-f-hover: var(--color-bg-brand-f-deep); */
  /* --color-btn-brand-f: #3593ffe0;
  --color-btn-brand-f-hover: #3593ff; */
  --color-btn-brand-f: var(--color-bg-brand-fc0);
  --color-btn-brand-f-hover: var(--color-bg-brand-f);
  /* --color-btn-brand-f-hover: #3593ff; */
  --color-btn-brand-f-re: var(--color-bg-brand-f);
  --color-btn-brand-f-re-hover: var(--color-bg-brand-f90);
  /* --color-btn-brand-f: #2b7fffc0;
  --color-btn-brand-f-hover: #2b7fff; */
  --color-btn-text: #fff;
  --color-btn-brand: #2b7fff;
  --color-btn-brand-rgb: 43, 127, 255;
  --color-btn-brand-hover: #2571e2;
  /* ボタン 薄め */
  --color-btn-brand-f05: #e5f4ff;
  /* ASISTボタン */
  --color-btn-box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #aaa;
  /* 🌟EditModal light */
  /* --color-modal-bg: #fcfcfc;
  --color-modal-border: #0d99ff;
  --color-modal-selection-bg: #0d99ff;
  --color-modal-selection-text: #fff;
  --color-modal-underline: rgb(94 94 94 / 0.8);
  --color-modal-underline-active: #0d99ff; */
  /* 🌟EditModal light */
  --color-modal-bg: #232323c0;
  /* --color-modal-bg: #ffffffe0; */
  --color-modal-border: #ececec;
  --color-modal-inset-border: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
  /* --color-modal-selection-bg: #0d99ff; */
  --color-modal-selection-bg: #2b7fff;
  --color-modal-selection-text: #fff;
  --color-modal-underline: rgb(94 94 94 / 0.8);
  /* --color-modal-underline-active: #0d99ff; */
  --color-modal-underline-active: #2b7fff;
  /* 
  --color-bg-brand
  現在のメイン: #0066ff
  Figma: #0d99ff
  Next.js: #0070f3
  現在のメインロゴ: #2B7FFF
  現在のメインロゴ: #0AFFFF
  Discord: #0063e5
  Wiz: #0254ec
  Disney+: #0063e5
  Disney+ caret: #02e7f5
  TikTok: #ff0050
  TikTokボタン: #FF3B5B
  Apple dark, light一緒メイン: #0071e3
  Apple dark メインテキスト: #2997ff
  Apple light メインテキスト: #06c
  Apple light 緑テキスト --bright-green: #00d436
  Apple light 青テキスト --azure: #027fff
  Apple light 紫テキスト --indigo: #622aff
  Apple light グラデーションテキスト background-image: linear-gradient(90deg,#b434ab 0%,#866cbe 30%,#4dbbd8);
  */
  /* 🌟EditColumnsモーダル カラム変更モーダル light */
  --color-edit-bg: #ffffffe0;
  --color-edit-text: #333;
  --color-edit-item-bg: #fff;
  --color-edit-item-border: 0 0 0 1px #ccc;
  --color-edit-border: inset 0px 0px 0px 1px #999, 0px 0px 0px 1px #00000030;
  --color-edit-frozen-bg: #eeeeee70;
  --color-edit-frozen-text: #c0c0c0;
  --color-edit-border-frozen: 0 0 0 1px #cfcfcf;
  /* --color-edit-add: #abffa2; */
  --color-edit-add: #7fff70;
  --color-edit-add-hover: #7fff7090;
  /* --color-edit-remove: #ff8585; */
  --color-edit-remove: #ff7d7d;
  --color-edit-remove-hover: #ff7d7d90;
  --color-edit-left-active: #6ae67d;
  --color-edit-left-active-bg: #abffa230;
  /* --color-edit-right-active: #f63e54; */
  --color-edit-right-active: #0d99ff;
  /* --color-edit-right-active-bg: #ff858530; */
  --color-edit-right-active-bg: #0d99ff30;
  --color-edit-arrow-disable-bg: var(--color-bg-sub);
  --color-edit-arrow-disable-bg-onlist: rgba(64, 87, 109, 0.09);
  --color-edit-arrow-disable-color: var(--color-sub-text);

  /* ボーダーカラー */
  --color-border: #e6e6e6;
  /* --color-border: #ccc; */
  --color-border-deep: #ccc;
  --color-border-strong: #000;
  --header-border-bottom: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  --color-border-brand: #bde3ff;
  --color-border-brand-strong: #007be5;
  --color-border-brand-light: #00ccff;
  --color-border-brand-medium: #00aeff;
  --color-border-brand-sub: #2b7fff;
  --color-border-selected: #0d99ff; /* 選択ボーダーカラー */
  --color-border-selected-strong: #007be5;

  --color-bg-selected: #e5f4ff; /* サイドバー タブ選択カラー */
  --color-bg-selected-hover: #bde3ff; /* サイドバー タブ選択カラー */
  --color-bg-selected-pressed: #bde3ff; /* サイドバー タブ選択カラー */
  --color-bg-selected-secondary: #f2f9ff; /* タグ背景カラー */

  --color-bg-toolbar: #2c2c2c; /* ツールバーNavbar 背景カラー */
  --color-bg-toolbar-disabled: #757575;
  --color-bg-toolbar-hover: #111111; /* ツールバーNavbar　ホバー */
  --color-bg-toolbar-pressed: #111111;
  --color-bg-toolbar-secondary: #383838; /* Navbar Inputタグ背景 */
  --color-text-toolbar: #fff;

  --color-text: rgba(0, 0, 0, 0.9); /* テキストカラー or #333333 */
  --color-text: #282828;
  --color-text-rgb: 0, 0, 0; /* テキストカラー or #333333 */
  --color-text-hover: #333;
  --color-text-hover: #999;
  --color-text-reverse: #fff;
  --color-text-sub: rgba(25, 23, 17, 0.6);
  --color-text-third: #333;
  --color-text-secondary: rgba(0, 0, 0, 0.5); /* テキストサブカラー or #7d7d7d */
  --color-text-secondary-hover: rgba(0, 0, 0, 0.9);
  --color-main-text: #000;
  --color-sub-text: rgba(55, 53, 47, 0.65);
  --color-sub-text-dark: rgba(180, 179, 178, 0.65);
  --color-placeholder-text: #9ca3af;
  /* ブランドカラー　テキスト */
  /* 
  --color-bg-brand ダークモード
  background: linear-gradient(60deg, #0AFFFF, #2B7FFF);
  現在のメイン: #0066ff
  Figma: #0d99ff
  Next.js: #0070f3
  現在のメインロゴ: #2B7FFF
  現在のメインロゴ: #0AFFFF
  Discord: #0063e5
  Wiz: #0254ec
  Disney+: #0063e5
  Disney+ caret: #02e7f5
  TikTok: #ff0050
  TikTokボタン: #FF3B5B
  Apple dark, light一緒メイン: #0071e3
  Apple light メインテキスト: #06c
  Apple light 緑テキスト --bright-green: #00d436
  Apple light 青テキスト --azure: #027fff
  Apple light 紫テキスト --indigo: #622aff
  Apple light グラデーションテキスト background-image: linear-gradient(90deg,#b434ab 0%,#866cbe 30%,#4dbbd8);
  */
  /* テキストカラー　ライト */
  /* Figma */
  --color-text-brand: #2b7fff;
  --color-text-brand-rgb: 0, 123, 229;
  /* Figma ライト */
  --color-text-brand-f: #0d99ff;
  --color-text-brand-f-hover: #0d9affbb;
  --color-text-onbrand: #fff; /* ブランドカラー上のテキストカラー */
  --color-text-brand-sub: #2b7fff;
  --color-text-brand-sub-rgb: 43, 127, 255;
  --color-text-brand-sub-hover: #2571e2;

  /* ヘッダー ライト */
  --color-dashboard-header-text: #0d99ff;

  /* アイコンカラー */
  /* --color-icon: rgba(0, 0, 0, 0.9);  */
  --color-icon: #0d1216;
  --color-icon-home: #0d1216;
  --color-icon-sub: #5d5d5d;
  --color-icon-brand: #007be5;
  --color-icon-brand-pressed: #0768cf;
  --color-icon-brand-secondary: #80caff;

  /* 🌟selection */
  /* Next.js #0070f3 #0d99ff */
  /* --selection-bg-color: #0d99ff; */
  /* --selection-bg-color: #0070f3; */
  --selection-bg-color: #2b7fff;
  --selection-text-color: #fff;

  /* ナブバー */
  --navColor: #313131;
  /* --navColor: var(--color-text); */
  --navbar-text-color-hover: #06c;

  /* オーバーレイ */
  --overlay-dark: #00000030;
  --overlay-light: #ffffff20;
  --overlay: #00000060;

  /* シャドウ */
  --shadow-sm: 0 2px 4px -1px rgba(57, 76, 96, 0.15);

  --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);
  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
}

/* ============================================= 🌠 ============================================= */
.theme_dark {
  /* 
  --color-bg-brand ダークモード
  
  Figma: #0c8ce9
  Next.js: #0070f3
  現在のメイン: #0066ff
  現在のメインロゴ: #2B7FFF
  現在のメインロゴ: #0AFFFF
  Discord: #0063e5
  Wiz: #0254ec
  Disney+: #0063e5
  Disney+ caret: #02e7f5
  TikTok: #ff0050
  TikTokボタン: #FF3B5B
  Apple dark, light一緒メイン: #0071e3
  Apple dark メインテキスト: #2997ff
  Apple light 緑テキスト --bright-green: #00d436
  Apple light 青テキスト --azure: #027fff
  Apple light 紫テキスト --indigo: #622aff
  Apple light グラデーションテキスト background-image: linear-gradient(90deg,#b434ab 0%,#866cbe 30%,#4dbbd8);
  */

  --hero-img: url("/assets/images/hero/hero_black3.png");
  --hero-overlay: #00000008;
  --hero-text: #cfcfcf;
  --hero-text-shadow: #00000055;
  --input-border: #ffffff70;
  --cta-btn: var(--color-bg-brand);
  --cta-btn-hover: var(--color-bg-brand-hover-main);
  --header-text-shadow: #000000;
  --header-text-shadow-hover: transparent;
  --header-lang-box-shadow: #00000050;
  --header-lang-btn-bg: #00000078;
  --select-menu-bg: #3c3c3c;
  --setting-side-bg: #333;
  --setting-side-bg-select: #ffffff20;
  --setting-side-bg-select-hover: #bbbbbb20;
  --close-bg: #777;

  /* Youtube背景 background-color: #0f0f0f */
  /* Tiktok背景メイン background-color: rgb(18, 18, 18) #121212 背景サブ background-color: rgb(37, 37, 37) #252525 ブラックサブ2 background-color: rgba(255, 255, 255, 0.08) テーマカラー赤 background-color: rgb(255, 59, 92) #ff3b5c */
  --color-bg-base: #121212;
  /* --color-bg-base: #141414; */
  /* --color-bg-sub: #252525; */
  --color-bg-sub: #383838;
  --color-bg-sub-deep: #252525;
  --color-bg-sub-re: #252525;
  --color-bg-sub-re-hover: #383838;
  --color-bg: #2c2c2c; /* メイン背景カラー */
  --color-bg2: #141414; /* メイン背景カラー */
  --color-bg-secondary: #383838; /* サブ背景カラー グレー */
  /* --color-bg-hp-main: #000; */
  --color-bg-hp-main: #121212;
  --color-bg-hp-sub: var(--off-black);
  --color-horizon: #232323;
  --color-accordion-bg: #303030;
  --color-accordion-bg-hover: #454545;
  --color-input-bg: rgba(15, 15, 15, 0.6);
  --color-wrap-box-shadow: rgb(255 255 255 / 40%) 0px 10px 58px -10px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  --color-wrap-box-shadow-hover: rgb(255 255 255 / 50%) 0px 15px 68px 0px, rgb(0 0 0 / 72%) 0px 30px 22px -10px;
  --color-wrap-border: rgba(249, 249, 249, 0.2);
  --color-auth-modal-switch-text: rgba(var(--color-text-rgb), 0.9);
  --color-auth-modal-or-text: var(--color-text-secondary);
  --color-header-bg-active: #252525;
  --color-auth-modal-bg: #141414;

  /* テーブルカラー light */
  --color-bg-table-header: #252525;
  /* ブランドカラー　背景 */
  --color-bg-brand: #0066ff;
  --color-bg-brand-rgb: 0, 102, 255;
  --color-bg-brand-f: #0c8ce9; /* Figma */
  --color-bg-brand-f-hover: #0c8ce990;
  --color-bg-brand-f05: #0e5d95; /* Figma */
  --color-bg-brand-f10: #0c8ce910;
  --color-bg-brand-f30: #0c8ce930;
  --color-bg-brand-f50: #0c8ce950;
  --color-bg-brand-f70: #0c8ce970;
  --color-bg-brand-f08: #0c8ce990;
  --color-bg-brand-f90: #0c8ce990;
  --color-bg-brand-fa0: #0c8ce9a0;
  --color-bg-brand-fb0: #0c8ce9b0;
  --color-bg-brand-fc0: #0c8ce9c0;
  --color-bg-brand-fe0: #0c8ce9e0;
  --color-bg-brand-f-deep: #0b73bc;
  --color-bg-brand05: #0c8ce980;
  --color-bg-brand-hover: #0a6dc2;
  --color-bg-brand-hover-main: #3183ff;
  --color-bg-brand-pressed: #0a6dc2;
  --color-bg-brand-secondary: #105cad;
  --color-bg-brand-light: #0affff;
  --color-bg-brand-sub: #2b7fff;
  --color-bg-brand-sub-rgb: 43, 127, 255;
  --color-bg-brand-sub-hover: #2571e2;

  /* ======================================== 🌟テーブル dark ======================================== */
  /* --color-bg-brand-table-tab: #0e5d95; */
  --color-shadow-border: #55555570;
  /* --color-bg-brand-table-tab: linear-gradient(to top left, #2b7fffaa, #acffffaa); */
  /* --color-bg-brand-table-tab: #0c8ce9e0; */
  /* --color-bg-brand-table-tab: #156cab; */
  --color-bg-brand-table-tab: #2258a9;
  --color-bg-brand-table-tab: linear-gradient(to top right, #2b7fffba, #0affff50);
  --color-border-table: #333;
  --color-border-table-deep: #555;
  /* --color-table-header: #252525; */
  --color-table-header: #2c2c2c;
  --color-table-cell-bg: #1c1c1c;
  /* --color-table-footer: #252525; */
  /* --color-table-footer: #191919; */
  --color-table-footer: #2c2c2c;
  --color-table-bg-loading: #121212;
  --color-table-reflection: rgba(255, 255, 255, 0.2);
  --color-table-loading-spinner: #787878;
  --color-table-row-hover: #232323;
  --color-table-bg-selected: #232323;
  --color-table-checkbox-outline: #2e2e2e;
  --color-table-checkbox-focus-outline: #fff;
  --color-table-dragging-gradient: #2b7fff, #acffff;
  --color-function-header-text-btn-hover: #0b73bc;
  --color-function-header-text-btn-active: var(--color-bg-brand-f05);

  /* ======================================== 🌟テーブル 下画面 dark ======================================== */
  /* タブヘッダー */
  /* --color-bg-under-tab-header: #252525; */
  --color-bg-under-tab-header: var(--color-table-header);
  --color-bg-under-tab-active: var(--color-bg-brand-fe0);
  /* ファンクションヘッダー */
  --color-bg-under-function-header: #252525;
  /* タイトル */
  --color-text-under-title: #eee;
  --color-text-under-value: #ececec;
  /* インプットボックス */
  --color-bg-under-input: #fff;
  --color-bg-under-input: #3c3c3c;
  --color-bg-under-input-box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
  --color-bg-under-input-active-box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f);
  /* --color-bg-under-input-active-box-shadow: inset 0px 0px 0px 1px #0066ff; */
  --color-text-under-input: #fff;
  --color-bg-underline: rgb(94 94 94 / 0.3);
  --color-bg-underline: rgba(117, 117, 117, 0.7);
  --color-bg-under-header: #2c2c2c;
  /* --color-bg-under-back: rgb(255 255 255 / 0.05); */
  /* 右側 活動履歴 */
  --color-right-under-bg-cell: #1c1c1c;
  --color-right-under-header-text: var(--color-text);

  /* ======================= 🌟グラデーション dark ======================= */
  --color-bg-brand-gradient: linear-gradient(to top left, #2b7fffaa, #acffffaa);

  /* ======================= 🌟サイドバー dark ======================= */
  --color-sidebar-active: #0c8ce9;
  /* --color-sidebar-active: #2b7fff; */
  /* --color-sidebar-active: #275190; */
  /* --color-sidebar-active: #24608b; */

  /* ======================= 🌟ボタン dark ======================= */
  /* --color-btn-brand-f: var(--color-bg-brand-f50); */
  --color-btn-brand-f: var(--color-bg-brand-f05);
  --color-btn-brand-f-hover: var(--color-bg-brand-f);
  /* --color-btn-brand-f: #2b7fff50;
  --color-btn-brand-f-hover: #2b7fff; */
  --color-btn-text: #fff;
  --color-btn-brand: #2b7fff;
  --color-btn-brand-rgb: 43, 127, 255;
  --color-btn-brand-hover: #2571e2;

  /* 🌟ボタン 薄め dark */
  --color-btn-brand-f05: #0e5d95;
  /* 🌟ASISTボタン ボーダー */
  --color-btn-box-shadow: inset 0px 0px 0px 1px #999999a0, 0px 0px 0px 1px #333333;
  /* 🌟EditModal dark */
  --color-modal-bg: #232323;
  --color-modal-border: #ececec;
  --color-modal-inset-border: inset 0 0 0 1px #ececec;
  /* --color-modal-inset-border: inset 0px 0px 0px 1px #ffffff50, 0px 0px 0px 1px #000; */
  /* --color-modal-selection-bg: #0d99ff; */
  --color-modal-selection-bg: #2b7fff;
  --color-modal-selection-text: #fff;
  --color-modal-underline: rgb(94 94 94 / 0.8);
  /* --color-modal-underline-active: #0d99ff; */
  --color-modal-underline-active: #2b7fff;

  /* 🌟EditColumnsモーダル カラム変更モーダル dark */
  --color-edit-bg: #252525e0;
  --color-edit-text: #fff;
  --color-edit-item-bg: #252525;
  --color-edit-item-border: 0 0 0 1px #ccc;
  --color-edit-border: inset 0px 0px 0px 1px #ffffffe0, 0px 0px 0px 1px #000;
  --color-edit-frozen-bg: #444444e0;
  --color-edit-frozen-text: #999;
  --color-edit-border-frozen: inset 0px 0px 0px 1px #777777e0, 0px 0px 0px 1px #333;
  /* --color-edit-border-frozen: 0 0 0 1px #555; */
  /* --color-edit-add: #abffa2; */
  --color-edit-add: #7fff70;
  --color-edit-add-hover: #7fff7090;
  /* --color-edit-remove: #ff8585; */
  --color-edit-remove: #ff7d7d;
  --color-edit-remove-hover: #ff7d7d90;
  --color-edit-left-active: #6ae67d;
  --color-edit-left-active-bg: #abffa230;
  --color-edit-right-active: #f63e54;
  --color-edit-right-active-bg: #ff858530;
  --color-edit-arrow-disable-bg: var(--color-bg-sub);
  --color-edit-arrow-disable-bg-onlist: var(--color-bg-sub-deep);
  --color-edit-arrow-disable-color: var(--color-text-sub);

  /* ボーダーカラー */
  /* --color-border: #444444;  */
  --color-border: #333;
  --color-border-deep: #444;
  --color-border-strong: #000;
  --header-border-bottom: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
  --color-border-brand: #105cad;
  --color-border-brand-strong: #7cc4f8;
  --color-border-brand-light: #00ccff;
  --color-border-brand-medium: #00aeff;
  --color-border-brand-sub: #2b7fff;
  --color-border-selected: #0c8ce9; /* 選択ボーダーカラー */
  --color-border-selected-strong: #7cc4f8;

  --color-bg-selected: #4a5878; /* サイドバー タブ選択カラー */
  --color-bg-selected-hover: #536383; /* サイドバー タブ選択カラーホバー */
  --color-bg-selected-pressed: #536383; /* サイドバー タブ選択カラープレス */
  --color-bg-selected-secondary: #394360; /* タグ背景カラー */

  --color-bg-toolbar: #2c2c2c; /* ツールバーNavbar 背景カラー */
  --color-bg-toolbar-disabled: #757575;
  --color-bg-toolbar-hover: #111111; /* ツールバーNavbar　ホバー */
  --color-bg-toolbar-pressed: #111111;
  --color-bg-toolbar-secondary: #383838; /* Navbar Inputタグ背景 */
  --color-text-toolbar: #fff;

  --color-text: rgba(255, 255, 255, 1); /* テキストカラー or #333333 */
  --color-text-rgb: 255, 255, 255; /* テキストカラー or #333333 */
  --color-text-hover: #aaa;
  --color-text-reverse: rgba(0, 0, 0, 0.9);
  --color-text-sub: #ccc;
  --color-text-third: #eee;
  --color-text-secondary: rgba(255, 255, 255, 0.7); /* テキストサブカラー or #7d7d7d */
  --color-text-secondary-hover: rgba(255, 255, 255, 1);
  --color-main-text: #000;
  --color-sub-text: rgba(55, 53, 47, 0.65);
  --color-sub-text-dark: rgba(180, 179, 178, 0.65);
  --color-placeholder-text: #9ca3af;
  --color-placeholder-text-light: #e0e9f9;
  /* 
  --color-text-brand
  Figma: #7cc4f8
  Figma: #0c8ce9
  Next.js: #0070f3
  現在のメインロゴ: #2B7FFF
  現在のメインロゴ: #0AFFFF
  現在のメイン: #0066ff
  Discord: #0063e5
  Wiz: #0254ec
  Disney+: #0063e5
  Disney+ caret: #02e7f5
  TikTok: #ff0050
  TikTokボタン: #FF3B5B
  Apple dark, light一緒メイン: #0071e3
  Apple dark メインテキスト: #2997ff
  Apple light メインテキスト: #06c
  Apple light 緑テキスト --bright-green: #00d436
  Apple light 青テキスト --azure: #027fff
  Apple light 紫テキスト --indigo: #622aff
  Apple light グラデーションテキスト
  background-image: linear-gradient(90deg,#b434ab 0%,#866cbe 30%,#4dbbd8);
  */
  /* ブランドカラー　テキスト メイン背景 #0066ff Next.js #0070f3 Apple #2997ff Figma #0c8ce9*/
  --color-text-brand: #2b7fff;
  --color-text-brand-rgb: 0, 112, 243; /* タグテキストカラー */
  /* タグテキストカラー dark */
  /* --color-text-brand-f: #7cc4f8; */
  --color-text-brand-f: #0c8ce9;
  --color-text-brand-f-hover: #0d9affbb;
  --color-text-onbrand: #fff; /* ブランドカラー上のテキストカラー */
  --color-text-brand-sub: #2b7fff;
  --color-text-brand-sub-rgb: 43, 127, 255;
  --color-text-brand-sub-hover: #2571e2;

  /* ヘッダー dark */
  --color-dashboard-header-text: #0c8ce9;
  /* --color-dashboard-header-text: #2b7fff; */
  /* --color-dashboard-header-text: #7cc4f8; */

  /* アイコン dark */
  --color-icon: rgba(255, 255, 255, 0.9); /* アイコンカラー */
  --color-icon-sub: #ccc;
  --color-icon-home: #eee;
  --color-icon-brand: #7cc4f8;
  --color-icon-brand-pressed: #0c8ce9;
  --color-icon-brand-secondary: #536383;

  /* 🌟セレクション dark */
  /* Next.js #0070f3 #0d99ff */
  --selection-bg-color: #0070f3;
  --selection-text-color: #fff;

  /* ナブバー dark */
  --navColor: #fff;
  --navbar-text-color-hover: #2997ff;

  /* オーバーレイ dark */
  --overlay-dark: #00000030;
  --overlay-light: #ffffff20;
  --overlay: #ffffff20;

  /* シャドウ */
  --shadow-sm: rgba(255, 255, 255, 0.12) 0px 1px 1px;

  /* --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80); */
  --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff20, #ffffff80, #ffffff40, #ffffff20, #ffffff80);
  /* --tile-border: conic-gradient(#0affff80, #0affff40, #3284ff30, #3284ff80, #0affff10, #0affff10, #0affff80); */
  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  /* rgb(25, 28, 31) */
}

/* html {
  background-color: #000;
} */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

html,
body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  /* font-weight: 400;
  line-height: 1.15; */

  /* text-rendering: optimizeLegibility; */
  /* font-family: var(--font-primary); */
  /* Stripeフォント */
  font-family: var(--font-family-str);
  /* font-family: var(--font-family-revolut); */
  /* font-family: var(--font-family-discord); */
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  display: block; */
  /* overflow: hidden; */
  /* overflow-x: hidden;
  max-width: 100vw; */
}

li {
  text-decoration: none;
}

.theme_dark {
  background-color: #121212;
  color-scheme: dark;
  transition: background-color 0.5s;
}
.theme_light {
  background-color: #fff;
  color-scheme: light;
  transition: background-color 0.5s;
}

input,
textarea {
  /* caret-color: #ff3b5b; */
  caret-color: #1da1f2;
  /* caret-color: #02e7f5; */
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}

/* 共通 インプットボックス、テキストエリア */
.input-selection::selection {
  background-color: #ff3b5b;
  /* background-color: #1da1f2; */
}

.border-shadow {
  box-shadow: var(--header-border-bottom);
}

/* 共通 */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 共通transition */
.transition-base01 {
  transition: all 0.1s ease;
}
.transition-base02 {
  transition: all 0.2s ease;
}
.transition-base03 {
  transition: all 0.3s ease;
}
.transition-base {
  transition: all 0.5s ease;
}
.transition-base-delay01 {
  transition: all 0.5s ease;
  transition-delay: 0.1s;
}

.transition-base-color {
  transition: color, background-color, border-color, text-decoration-color, fill, stroke, 0.5s ease;
}
.transition-base06 {
  transition: all 0.6s ease;
}
.transition-base08 {
  transition: all 0.8s ease;
}
.transition-base1 {
  transition: all 1s ease;
}
.transition-base-color1 {
  transition: background-color 1s ease;
}

/* フェードアニメーション */
.fade {
  animation: fade 0.3s;
}
.fade02 {
  animation: fade 0.2s;
}
.fade01 {
  animation: fade 0.1s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.shadow-gradient {
  background: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 29%,
    rgba(20, 20, 20, 0.58) 44%,
    #141414 68%,
    #141414 100%
  );
}
/* 左右方向にアンダーラインが広がるアニメーション */
.input-underline-transition {
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}

/* Apple
:root {
    --violet: #8876fe;
    --indigo: #622aff;
    --grape: #6e21e6;
    --plum: #8d1287;
    --azalea: #e71ee6;
    --magenta: #dd04d1;
    --tomato: #f63e54;
    --guava: #fb4d66;
    --tangelo: #ff3e17;
    --coral: #f95c30;
    --persimmon: #e94b1b;
    --pumpkin: #e2620c;
    --orange: #e66702;
    --verdant: #29d246;
    --bright-green: #00d436;
    --new-green: #13be54;
    --avocado: #73b439;
    --green: #0c9d46;
    --blue-green: #26c2ac;
    --peacock-green: #14b1a1;
    --sea-green: #099b9d;
    --teal-green: #2b9ca1;
    --aqua: #039e8f;
    --teal: #049cb7;
    --pool-blue: #00c2ee;
    --azure: #027fff;
    --sparkle-blue: #007aff;
    --denim: #0056d2;
    --cobalt: #5451fb;
    --sapphire: #3d44c3;
    --night: #23466c;
    --ultramarine: #0d1387;
}

*/

.text_gradient {
  font-size: 70px;
  color: #fff;
  background: linear-gradient(to top right, #0affff, #0abeff, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_gradient::before {
  font-size: 70px;
  position: absolute;
  content: "ワンコイン";
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to top right, #0affff, #0abeff, #0066ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.text_gradient_red {
  font-size: 70px;
  color: #fff;
  background: linear-gradient(to top left, #fff, #ff0000, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_gradient_red::before {
  font-size: 70px;
  position: absolute;
  content: "キーエンス";
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to top left, #ff0000, #ff0011, #df7c7c, #ff0011, #ff0011);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
/* タイピングアニメーションスタイル */
.typed-cursor {
  color: #0066ff !important;
  animation: typedjsBlink 1.2s infinite;
  -webkit-animation: typedjsBlink 1.2s infinite;
  animation: typedjsBlink 1.2s infinite !important;
}
@keyframes typedjsBlink {
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.typed-fade-out {
  opacity: 0;
  transition: opacity 0.25s;
  -webkit-animation: 0;
  animation: 0;
}
