.tooltip_right_area {
  position: absolute;
  top: -40px;
  left: -110px;
  /* z-index: 10; */
  z-index: 1500;
}
.tooltip_right {
  min-height: fit-content;
  padding: 3px 7px;
  background: #282828;
  background: var(--color-tooltip-dark);
  transition-delay: 0.5s;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 1px #ffffff80, 0px 0px 0px 1px #000;
  display: flex;
  flex-direction: row-reverse;
}
.tooltip_right_arrow {
  content: "";
  position: absolute;
  z-index: -1;
  top: 26px;
  right: 18px;
  transform: translateX(-50%) rotate(135deg);
  transform-origin: center center;
  background: var(--color-tooltip-arrow);
  background: var(--color-tooltip-dark);
  width: 8px;
  height: 8px;
  /* border-top: 4px solid #000; */
}
.dropdown_item {
  color: #fff;
  width: 100%;
  border-radius: 6px;
  padding: 3px 3px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  /* direction: rtl; */
  white-space: nowrap;
}
.dropdown_item:hover {
  /* background: var(--color-bg-brand); */
}
.dropdown_item span {
  margin-right: auto;
}
.fade {
  animation: fade 0.3s;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
