.overlay {
  position: fixed;
  z-index: 1000;
  /* z-index: 100; */
  inset: 0;
  /* background: #00000030; */
  background-color: var(--color-overlay-insert-update-modal);
  background-color: var(--overlay-dark99);
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
}

/* 画面全体でのローディング */
.loading_overlay {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* モーダル内でのローディング */
.loading_overlay_modal {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #ffffff42;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.preview_modal_area {
  position: absolute;
  z-index: 1500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
/* A4サイズは210mm * 297mm で 縦横比は1:1.41 */
.preview_modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: calc(92vh / 1.41);
  max-height: 1240px;
  max-width: 879px;

  /* width: 80vw; */
  background-color: #fff;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
  opacity: 0;
  animation: fade 0.3s 0.1s forwards;
  /* box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.39); */
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.56);
}
.preview_modal_iframe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 92vh; */
  /* width: 56vw; */
  /* width: calc(92vh / 1.41); */
  height: 90vh;
  /* max-height: 1240px; */
  max-height: 1200px;
  /* height: 1142px; */
  width: 53vw;
  max-width: 1124px;
  /* max-width: 879px; */
  background-color: #fff;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
  opacity: 0;
  animation: fade 0.3s 0.1s forwards;
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.39);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading_pdf {
  height: 120px;
  width: 120px;
  border-radius: 18px;
}
.display_pdf {
  height: 120px;
  width: 120px;
  border-radius: 18px;
}

.btn {
  width: 35px;
  height: 35px;
  background-color: var(--color-sign-out-bg);
  cursor: pointer;
  border-radius: 50%;
  /*  */
  /* opacity: 0;
  display: none; */
}
.btn:hover {
  background-color: var(--color-sign-out-bg-hover);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
.btn.mounted {
  /* display: flex;
  animation: fade 0.3s ease 0.5s forwards; */
}
/* ----------------- settings_menu ----------------- */
.settings_menu {
  z-index: 3500;
  /* background-color: var(--color-sign-out-bg); */
  /* background-color: #00000090; */
  background-color: #303030;
  /* box-shadow: inset 0px 0px 0px 1px #cccccc90, 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33; */
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  color: #fff;
  font-size: 13px;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
}
.settings_menu .list {
  padding: 0px 20px;
  min-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings_menu .list:hover {
  background-color: var(--color-bg-brand-f30);
}
.settings_menu .section_title {
  padding: 10px 20px 5px;
}
.settings_menu .section_title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.settings_menu .list.test:nth-of-type(odd) {
  /* background-color: #fff; */
}
.settings_menu .list.test:nth-of-type(even) {
  /* background-color: #333; */
}
/* ----------------- settings_menuここまで ----------------- */
/* @keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
@keyframes fade_up5 {
  0% {
    opacity: 0;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu_overlay {
  position: fixed;
  z-index: 3200;
  left: -50vw;
  top: -50vh;
  width: 150vw;
  height: 150vh;
  /* background-color: #ffffff60; */
}
.description_menu {
  box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f), 0px 0px 0px 1px #33333390, 0 4px 10px 2px #ffffff33;
  /* background-color: var(--color-black-bg); */
  background-color: #303030;
  opacity: 0;
  transform: translateY(-5%);
  animation: fade_up5 0.3s ease forwards;
  max-width: 400px;
  color: #fff;
}
.description_menu .title {
  padding: 20px 24px 0px;
}
.description_menu .title .underline {
  min-height: 1px;
  margin-top: 1px;
  background-color: var(--color-bg-brand-f);
}
.description_menu .u_list {
  margin: 5px 10px 10px;
  /* box-shadow: inset 0px 0px 0px 1px var(--color-bg-brand-f); */
  /* background-color: var(--color-black-bg-re); */
}
.description_menu .u_list .dropdown_list_item {
  width: 100%;
  padding: 10px 14px;
  user-select: none;
}
.select_box {
  /* box-shadow: var(--color-bg-under-input-box-shadow);
  background: var(--color-bg-under-input); */
  box-shadow: inset 0px 0px 0px 1px #ffffff90, 0px 0px 0px 1px #000;
  background: #3c3c3c;
  background: #484848;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  min-height: 30px;
  /* min-width: 185px; */
  /* min-width: 120px; */
  /* max-width: 400px; */
  width: 100%;
  /* width: fit-content; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
}
.select_box.confirm {
  max-width: 307px;
}
.select_box:hover {
  box-shadow: inset 0 0 0 1px var(--color-bg-brand-f);
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap'); */

/* pdf */
.pdf {
  height: 100%;
  width: 100%;
  max-height: 725px;
  max-width: calc(725px / 1.41);
  /* min-width: 210mm;
  min-height: 297mm; */
  background-color: #fff;
  /* background-color: #ddd; */
  position: relative;
  flex-direction: column;
  /* padding: 10% 6% 5%; */
  padding: 0 6% 0;
  padding: 0 4% 0;
  font-family: "Noto Serif JP", serif;
  /*  */
  /* display: none;
  opacity: 0; */
}
.pdf {
  height: 100%;
  width: 100%;
  max-height: 725px;
  max-width: calc(725px / 1.41);
  background-color: #fff;
  position: relative;
  flex-direction: column;
  padding: 0 4% 0;
  font-family: "Noto Serif JP", serif;
}
.pdf.mounted {
  /* display: flex;
  animation: fade 0.3s ease 0.5s forwards; */
}
/* ---------------------------------- pdf6部構成(上下マージン含めず) ---------------------------------- */
.top_margin {
  height: 5%;
}
.header_area {
  /* height: 5%; */
  height: 4%;
  /* padding: 0 6% 0; */
}
.detail_area {
  /* height: 26%; */
  height: 23%;
  width: 100%;
  padding-bottom: 6px;
  /* padding: 0 6% 0; */
}
.table_area {
  /* height: 63%; */
  position: relative;
  /* height: 60%; */
  height: 51%;
  border: 0.6px solid #37352f;
  border: 0.1px solid #37352f;
  /* border: 0.3px solid #37352f; */
  /* display: grid; */
  /* grid-template-rows: ; */
}
.row_amount {
  height: 2%;
  width: 100%;
  border: 0.6px solid #37352f;
  border: 0.1px solid #37352f;
  border-top: none;
  display: grid;
  grid-template-columns: 65% 8% 12% 15%;
  /* background-color: rgba(255, 0, 0, 0.203); */
}
.notes_area {
  /* height: 7%; */
  height: 7.5%;
  border: 0.6px solid #37352f;
  border: 0.1px solid #37352f;
  border-top: none;
  display: grid;
}
.remarks_area {
  /* height: 6%; */
  /* height: 6%; */
  height: 5.5%;
}
.bottom_margin {
  height: 2%;
}
/* ---------------------------------- pdf6部構成(上下マージン含めず) ---------------------------------- */

/* ----------------- header_area ----------------- */
.header {
  letter-spacing: 15px;
  font-size: 16px;
}
.header_right {
}

.section_underline {
  min-height: 2px;
  width: 100%;
  background-color: #37352f;
}

.row_underline {
}

/* ----------------- detail_area ----------------- */
.detail_left_area {
  height: 100%;
  width: 60%;
  font-size: 11px;
}
.detail_right_area {
  height: 100%;
  width: 40%;
  padding-left: 5%;
  position: relative;
}
/* left_area */
.company_name_area {
  height: 16%;
}
.deal_detail_area {
  height: 67%;
  padding-top: 8%;
  font-size: 9px;
}
.total_amount_area {
  height: 17%;
}
/* left_area ここまで */
.total_amount_area .amount_title {
  width: 25%;
  /* background: #00800090; */
  display: flex;
  justify-content: space-between;
  margin-bottom: -1px;
}
.total_amount_area .amount_content {
  width: 75%;
  /* background: #00008090; */
  padding-left: 9%;
  margin-bottom: -1.2px;
}
/* left_area ここまで */

/* deal_detail_area */
.deal_detail_area .description {
  width: 100%;
  height: 18%;
  font-size: 8px;
}
.deal_detail_area .row_group_container {
  width: 100%;
  height: 82%;
  font-size: 8px;
}
.deal_detail_area .row_group_container .row_area {
  width: 100%;
  height: 25%;
  border-bottom: 1px dotted #37352f;
  /* border-style: dotted; */
}
.deal_detail_area .row_group_container .row_area .title {
  width: 20%;
  background-color: #ff000000;
}
.deal_detail_area .row_group_container .row_area .deal_content {
  width: 80%;
  padding-left: 7%;
  letter-spacing: 1px;
}
.deal_detail_area .row_group_container .row_area:nth-of-type(odd) {
  /* background-color: #fff; */
}
.deal_detail_area .row_group_container .row_area:nth-of-type(even) {
  /* background-color: #ccc; */
}
/* deal_detail_area ここまで */

/* right_area */
.customer_detail_area {
  height: 69%;
  position: relative;
}
.stamps_area {
  height: 31%;
  width: 100%;
  position: relative;
  /* border: 0.6px solid #37352f; */
}

/* customer_detail_area */
.customer_info_area {
  position: relative;
  z-index: 10;
  height: 100%;
  width: 100%;
}
.corporate_seal {
  width: 36%;
  height: 0;
  padding-top: 36%; /* widthと同じ高さに設定 */
}
.corporate_seal_sample {
  width: 34%;
  height: 0;
  padding-top: 34%; /* widthと同じ高さに設定 */
}
.corporate_seal_sample .text1,
.corporate_seal_sample .text2,
.corporate_seal_sample .text3 {
  position: absolute;
  top: 0;
  right: 0%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  writing-mode: vertical-rl;
  white-space: nowrap;
  font-size: 14px;
  color: rgb(255 0 0 / 0.9);
  /* font-family: "UD新ゴNT M"; */
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho",
    serif;
}
.corporate_seal_sample .text2 {
  right: 33%;
}
.corporate_seal_sample .text3 {
  right: 66%;
}
/* customer_detail_area customer_info_area */
.customer_info_area .company_logo_area {
  height: 24%;
  width: 100%;
  /* background-color: yellow; */
}
.logo_container {
  /* background-color: red; */
}
.logo_img {
  background-image: url("/assets/images/Trustify_logo_white1.png");
  background-size: contain;
  background-position-y: bottom;
  background-position-y: 120%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.customer_info_area .company_name_area {
  height: 20%;
  width: 100%;
  /* font-size: 11px; */
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: yellow; */
}
.customer_info_area .user_info_area {
  height: 56%;
  width: 100%;
  /* background-color: #ffffff90; */
  font-size: 7px;
}
/* customer_detail_area customer_info_area */
/*  */
.customer_info_area .user_info_area .row_area {
  height: 20%;
  width: 100%;
  /* background-color: #ffffff; */
}
.customer_info_area .user_info_area .address_area {
  height: 35%;
  /* 5%余り */
  /* background-color: #eee; */
}

/* customer_detail_area */

/* stamps_area */
.stamps_area .stamps_outside_box {
  /* width: 100%; */
  height: 100%;
  border: 0.6px solid #37352f;
  border: 0.1px solid #37352f;
}
.stamps_area .stamps_outside_box .stamp_box {
  /* border: 0.6px solid #37352f; */
  /* border-left: 0.6px solid transparent; */
  border-left: 0.6px solid #37352f;
  border-left: 0.1px solid #37352f;
  /* box-shadow: inset 0 0 0 1px #37352f; */
}

.stamps_area .stamp_box:last-of-type {
  /* border-left: 0.6px solid #37352f; */
  border-left: none;
}

/* company_name_area */
.company_name {
}
/* deal_detail_area */

/* ----------------- table_area 4部構成(top_margin_row含む) ----------------- */

.table_area .table_header_row {
  height: 3.3%;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 8% 12% 15%;
  /* border-bottom: 0.6px solid #37352f; */
  border-bottom: 0.1px solid #37352f;
  grid-row-start: 1;
}
.table_area .top_margin_row {
  /* background: #ff000090; */
  height: 0.7%;
  /* height: 1%; */
  width: 100%;
  display: grid;
  grid-template-columns: 65% 8% 12% 15%;
  grid-row-start: 2;
}
.table_area .row_group_products_area {
  height: auto;
  width: 100%;
  border-bottom: 0.1px solid #37352f;
  display: grid;
  grid-template-rows: repeat(1fr);
  font-size: 7.5px;
  grid-row-start: 3;
}
.table_area .row_result {
  width: 100%;
  display: grid;
  grid-template-columns: 65% 8% 12% 15%;
  /* background-color: #eaff0030; */
}
.table_area .row_margin_bottom {
  /* background-color: #00a6ff30; */
}

/* ----------------- table_area 4部構成(top_margin_row含む)ここまで ----------------- */

/* ======== table_header_row ======== */
.table_area .table_header_row .column_header {
  height: 100%;
  /* border-right: 0.6px solid #37352f; */
  border-right: 0.1px solid #37352f;
  font-size: 8px;
  font-weight: 800;
}
.table_area .table_header_row .column_header:last-of-type {
  border-right: none;
}
/* ======== table_header_rowここまで ======== */
/* ======== top_margin_row ======== */
/* テーブル上部マージン */
.top_margin_row .grid_cell {
  height: 100%;
  /* border-right: 0.6px solid #37352f; */
  border-right: 0.1px solid #37352f;
}
.top_margin_row .grid_cell:last-of-type {
  border-right: none;
}
/* テーブル上部マージン ここまで */
/* ======== top_margin_rowここまで ======== */
/* ======== row_group_products_area ======== */
/* 商品エリア */
.table_area .row_group_products_area .row {
  /* height: 3%; */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 65% 8% 12% 15%;
  justify-items: center;
}
.table_area .row_group_products_area .row:first-of-type {
  /* padding-top: 0.7%; */
}
.table_area .row_group_products_area .row:last-of-type {
  /* padding-bottom: 0.3%; */
}
.table_area .row_group_products_area .row:nth-of-type(odd) {
  /* background-color: #fff; */
}
.table_area .row_group_products_area .row:nth-of-type(even) {
  /* background-color: #eee; */
}
.table_area .row_group_products_area .row .grid_cell {
  width: 100%;
  height: 100%;
  /* border-right: 0.6px solid #37352f; */
  border-right: 0.1px solid #37352f;
  display: flex;
  align-items: center;
  line-height: 100%;
}
.table_area .row_group_products_area .row .grid_cell span {
}

.table_area .row_group_products_area .row .grid_cell:last-of-type {
  border-right: none;
}
.table_area .row_group_products_area .row .grid_cell.product_name_area {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.table_area .row_group_products_area .row .grid_cell.qua_area {
  padding: 0 calc(92vh / 1.41 * 0.005);
  justify-content: flex-end;
}
.table_area .row_group_products_area .row .grid_cell.product_name_area div {
}
.table_area .row_group_products_area .row .grid_cell.product_name_area div span {
}
/* ======== row_group_products_areaここまで ======== */
/* ======== row_result ======== */
.table_area .row_result .grid_cell {
  height: 100%;
  border-right: 0.1px solid #37352f;
  font-size: 7.5px;
}
.table_area .row_result .grid_cell.first {
  padding-left: 2.5%;
  padding-right: 2.5%;
}
.table_area .row_result .grid_cell.end,
.row_amount .grid_cell.end {
  display: flex;
  justify-content: flex-end;
  padding: 0 calc(92vh / 1.41 * 0.005);
}
.table_area .row_result .grid_cell:last-of-type {
  border-right: none;
}
.row_amount .grid_cell {
  height: 100%;
  border-right: 0.1px solid #37352f;
  font-size: 9px;
}
.row_amount .grid_cell:last-of-type {
  border-right: none;
}
.row_amount .grid_cell:first-of-type {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ======== row_resultここまで ======== */
/* ======== notes_area ======== */
.notes_area .notes_content {
  /* padding: 0 calc(92vh / 1.41 * 0.005); */
  padding: 0.3% 1% 0;
  font-size: 7.5px;
  white-space: pre-wrap;
  /* line-height: 145%; */
}
/* ======== notes_areaここまで ======== */
/* ======== remarks_area ======== */
.remarks_area .remarks {
  padding: 0 1%;
  font-size: 7.5px;
}

.remarks_area .page {
  font-size: 7.5px;
  margin-top: 0.5%;
}
/* ======== notes_areaここまで ======== */

/* 商品エリア ここまで */
/* ----------------- remarks_area ----------------- */

.hover_text:hover {
  color: var(--color-bg-brand-f);
  text-decoration: underline;
}
