.overlay {
  position: fixed;
  z-index: 1000;
  /* z-index: 100; */
  inset: 0;
  /* background: #00000030; */
  background-color: var(--color-overlay-insert-update-modal);
  background-color: var(--overlay-dark99);
  backdrop-filter: blur(4px);
  /* transform: translateY(-20px) scaleY(1.1); */
}
/* 画面全体でのローディング */
.loading_overlay {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #00000090;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* モーダル内でのローディング */
.loading_overlay_modal {
  position: fixed;
  z-index: 2000;
  inset: 0;
  background: #ffffff42;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.preview_modal_area {
  position: absolute;
  z-index: 1500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;
}
/* A4サイズは210mm * 297mm で 縦横比は1:1.41 */
.preview_modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
  width: calc(92vh / 1.41);
  max-height: 1240px;
  max-width: 879px;
  /* width: 80vw; */
  background-color: #fff;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
  opacity: 0;
  animation: fade 0.3s 0.1s forwards;
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.39);
}
.preview_modal_iframe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 92vh; */
  /* width: 56vw; */
  /* width: calc(92vh / 1.41); */
  height: 90vh;
  /* max-height: 1240px; */
  max-height: 1200px;
  /* height: 1142px; */
  width: 53vw;
  max-width: 1124px;
  /* max-width: 879px; */
  background-color: #fff;
  transition: width 0.2s ease, height 0.2s ease, border-radius 0.2s ease;
  opacity: 0;
  animation: fade 0.3s 0.1s forwards;
  box-shadow: 0px 4px 15px 3px rgba(255, 255, 255, 0.39);
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.loading_pdf {
  height: 120px;
  width: 120px;
  border-radius: 18px;
}
.display_pdf {
  height: 120px;
  width: 120px;
  border-radius: 18px;
}

.btn {
  width: 35px;
  height: 35px;
  background-color: var(--color-sign-out-bg);
  cursor: pointer;
  border-radius: 50%;
  /*  */
  /* opacity: 0;
  display: none; */
}
.btn:hover {
  background-color: var(--color-sign-out-bg-hover);
  box-shadow: 0 0 0 1px var(--color-bg-brand-f);
}
.btn.mounted {
  /* display: flex;
  animation: fade 0.3s ease 0.5s forwards; */
}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap'); */

/* pdf */
.pdf {
  height: 100%;
  width: 100%;
  background-color: #fff;
  position: relative;
  flex-direction: column;
  padding: 10% 6% 5%;
  font-family: "Noto Serif JP", serif;
  /*  */
  /* display: none;
  opacity: 0; */
}
.pdf.mounted {
  /* display: flex;
  animation: fade 0.3s ease 0.5s forwards; */
}
/* ----------------- pdf4部構成 ----------------- */
.header_area {
  height: 5%;
}
.detail_area {
  height: 26%;
  width: 100%;
  padding-bottom: 6px;
}
.table_area {
  height: 63%;
}
.remarks_area {
  height: 6%;
}

/* ----------------- header_area ----------------- */
.header {
  letter-spacing: 12px;
}
.header_right {
}

.section_underline {
  min-height: 2px;
  width: 100%;
  background-color: var(--color-text-title);
}

/* ----------------- detail_area ----------------- */
.detail_left_area {
  height: 100%;
  width: 60%;
}
.detail_right_area {
  height: 100%;
  width: 40%;
  padding-left: 5%;
  position: relative;
}
/* left_area */
.company_name_area {
  height: 16%;
}
.deal_detail_area {
  height: 64%;
}
.total_amount_area {
  height: 20%;
}
/* right_area */
.customer_detail_area {
  height: 69%;
  position: relative;
}
.stamps_area {
  height: 31%;
}

/* customer_detail_area */
.customer_info_area {
}
.corporate_seal {
  width: 40%;
  height: 0;
  padding-top: 40%; /* widthと同じ高さに設定 */
}

/* company_name_area */
.company_name {
}
/* deal_detail_area */

/* ----------------- table_area ----------------- */
/* ----------------- remarks_area ----------------- */
